<%= simple_form_for [@comment, Question.new] do |f| %>
 <p>
<div class="form">
  <%= f.input :title, as: :text, input_html: { rows: "1", :style=> 'width: 90%', :class => "create" }, label: false, placeholder: "Personal" %>
  <%= f.input :body, as: :text, input_html: { rows: "10", :style=> 'width: 90%', :class => "create" }, label: false,placeholder: "Answer" %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
 

   
 </p>
 <p><%= f.submit "Answer", class: "btn btn-primary" %></p>
 </div>

  <% end %>
 
