<style media="screen">
 .popover { max-width: 380px; z-index: 1;}

@media screen and (max-width: 500px) 
{ .popover {
     max-width: 80%;
     margin: 0 auto;
    }
}

</style>


<% if @comment.post.pictures.present? %>
<div class='home-feed-image' style=" background-image: url(<%= @comment.post.pictures.first.image %>); height: 75px; margin-bottom: -3px;">
<div class="darker" style="background-color: #1572d1; opacity: 0.65;"></div>


<div class="absolutecontainer">
<div class="relativecontainer">
<div style="color: #fff; font-size: 12px; margin-bottom: 15px; font-weight: bold;">
<%= link_to (@comment.post.title), post_path(@comment.post), class: "white" %>
</div>
</div>
</div>


</div>
<% end %>


<div style=" background-color: #1572D1; padding: 40px 0px 20px 0px; margin-bottom: 20px;">
<% unless @comment.post.pictures.present? %>
<div class="width7" style="color: #fff; font-size: 12px; margin-bottom: 20px; font-weight: bold;">
<%= link_to (@comment.post.title), post_path(@comment.post), class: "white" %>
</div>
<% end %>

<div class="width7 story-large-title" style="color: #fff; font-size: 30px;">
<%= @comment.title %> 
</div>
</div>




<div class="row"></div>




<%= simple_form_for [@comment, Question.new], url: comment_questions_path do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<div class="width7">
<div class="width5">

<div class="hidden-phone">

<div class="answer-profile-float" style="margin-top: 60px;">
<div class="smallavatarfeednomargin2">
<%= link_to (image_tag(current_user.image(:thumb))), user_path(current_user) %>
</div>
</div>

</div>

<div class="answer-overflow">


<div class="editor-info">
 Write answer • <div id="answer-info" class="popover-x blue"> Help</div>
</div>

<%= f.text_area :body, :class => "tinymce textarea", :id => "editor_area", :style => "margin: 0px;" %>
</div>

</div>
</div>

<div style="position: fixed; bottom: 0; right: 0; left: 0; z-index: 20;">
<div class="form-sidebar" style="display: none;">
<button type="button" class="close-editor" data-dismiss="modal" aria-hidden="true">×</button>	
<div class="width6">
<div class="bioform-margin">

<div class="answer-feed-avatar">
<%= link_to (image_tag(current_user.image(:thumb))), user_path(current_user) %>
</div>

<div style="font-size: 14px; line-height: 34px; color: #018bc6;">
Add a Bio (optional)
</div>
<hr class="sidebardivider"/>	


<div class="row"></div>

<%= f.input :title, as: :text, input_html: { rows: "1", :class => "biotext", :style => "height: 19px;" }, label: false, placeholder: "Bio..." %>


<%= f.submit "Publish", class: "submitblue", style: "float: right; margin-top: 15px;" %>

<div class="sidebarexplaintext">
Your answer will be reviewed by an editor to make sure it complies with Podium's <%= link_to "answer guidelines", guidelines_path(:anchor => "answers"), :target => "_blank", class: "blue" %>.
</div>

</div>

</div>

</div>
</div>


<div class="imagebottomnav">	
<div class="form-next">
<i class="fa fa-angle-up"></i>
</div>
</div>


<% end %>


<div class="hidden">
<div class="share-answer" class="hide">


<strong>Publishing Help</strong>
<div style="float: right">
Question? <%= link_to "Contact us", contact_path, :target => "_blank", class: "blue", style: "margin-left: 4px;" %>
</div>	


<hr style="margin-top: 10px; margin-bottom: 20px;"/>

<div class="welcome-homepage">
<%= image_tag ("https://s3.amazonaws.com/podiumimages/static/icon_editor.png") %>
</div>

<div class="welcome-homepage-text">
<div class="notification-smalltext" style="display: inline-block; margin-bottom: 0px; line-height: 1.4;">
Add an images and text until your answer is complete. Then, click the orange circle at the bottom right.
</div>
</div>

<hr style="margin-top: 20px; margin-bottom: 20px;"/>

<div class="welcome-homepage">
<%= image_tag ("https://s3.amazonaws.com/podiumimages/static/icon_editorbio.png") %>
</div>

<div class="welcome-homepage-text">
<div class="notification-smalltext" style="display: inline-block; margin-bottom: 0px; line-height: 1.4;">
Add a short bio about yourself. A good bio should describe key areas of expertise, experience or interest in the questions topic.<br>
</div>
</div>


</div>
</div>



<%= tinymce :alternate, plugins: ["uploadimage, autoresize, paste"], :content_css => asset_path('tinymce.css.scss') %>

<script>
$('.form-next, .close-editor').click(function () {
        $('.form-sidebar').toggle('slide', {
            direction: 'down'
        }, 300);
    });



$('#answer-info').popover({
    html: true,
    title: '<div class="close-popover">&times;</div>',
    placement: 'bottom',
    content: $('.share-answer').html(),
});

$('#answer-info').click(function (e) {
    e.stopPropagation();
});

$(document).click(function (e) {
    if (($('.popover-x').has(e.target).length == 0) || $(e.target).is('.close')) {
        $('#answer-info').popover('hide');
    }
});



</script>
