<% if user_signed_in? %>

<%= simple_form_for [@comment, Question.new] do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>


<div id="hide">

 <hr class="aboveimageline"/>

<div class="answersnumber">
Write Answer
</div>   
<hr class="belowimageline2"/>

<%= f.input :body, as: :text, input_html: { rows: "1", :class => "hellogrey2" }, label: false, placeholder: "Answer..." %>

<hr class="aboveimageline"/>

<div class="explainertext">
Please write more...(min 200 characters)
</div>
<div id="showmenu" class="favouritebuttonquestionform2" style="display: none !important;">Next</div>


</div>



<div class="menu5" style="display: none;"> 

 <hr class="aboveimageline"/>

<div class="answersnumber">
Write Bio
</div>  

<div class="floatright">
<a href="#bio" role="button" class="answersnumber" data-toggle="modal" style="text-decoration: none !important;">What's a Bio?</a>
</div>


<hr class="belowimageline2"/>  
<div class='form35'></div>  
<div class="smallavatar">
<%= link_to (image_tag(current_user.image)), user_path(current_user) %>
</div>



<div class="lightname">
<%= current_user.name %>
</div>

<div style="display: none;">
<div class="anontext">
<%= current_user.name %>
</div>
</div>  


<%= f.input :title, as: :text, input_html: { rows: "1", :class => "biotext" }, label: false, placeholder: "Write bio..." %>


<hr class="aboveimageline"/>


<div id="showmenuback", style=" color: rgba(51,51,51,0.2) !important;
    font-size: 14px;
    text-decoration: none !important;
    float: right;
    font-family: roboto;
    margin-top: 10px;
    display: inline-block;
    float: left; cursor: pointer;
">
<  back to answer
</div>

<%= f.submit "Post Answer", class: "favouritebuttonquestionform myButton", style: "background-color: white; border: none; margin-bottom: 30px; font-family: roboto; padding: 0px !important; line-height: 14px !important;" %>


</div>

<% end %>
<% else %>
<%= link_to "Login to Ask Question", new_user_session_path, class: "squareredbutton" %>

<% end %>

<script>
    $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu5').show();
                $('#showmenu').hide();
                $('#hide').hide();
                $('.hello4').hide();
               
                
        });
    }); 

      $(document).ready(function() {
        $('#showmenuback').click(function() {
                $('.menu5').hide();
                $('#showmenu').show();
                $('#hide').show();
                $('.hello4').show();
               
                
        });
    }); 


    $('.hellogrey2').on("keyup", action);
function action() {
   if($('.hellogrey2').val().length > 200) {
      $('.favouritebuttonquestionform2').show();
      $('.explainertext').hide();
   }
}

</script>


                       <div id="bio" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">What's a bio?</h3>
    <div class="underpodiumhome">
    A bio is...
    </div>
  </div>

  <div class="modal-body">
  </div>
</div>


