<% if user_signed_in? %>

<div class="circlecomment">
<%= image_tag current_user.image %>
</div>
<div class="attempt">
<div class="lightname">
<%= current_user.name %>
</div>

<%= simple_form_for [@comment, Question.new] do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.input :body, as: :text, input_html: { rows: "1", :class => "hellogrey inputBody" }, label: false, placeholder: "Ask Question" %>

<%= f.submit "Ask", class: "favouritebuttonleft myButton" %>
</div>
<% end %>
<% else %>
<%= link_to "Login to Ask Question", new_user_session_path, class: "favouritebuttonleft" %>

<% end %>
