<style media="screen">
.formimage-comment { background-image: url("<%= @comment.post.pictures.first.image %>");} 
</style>

<%= render 'layouts/logo' %>

<div class="formpadding"></div>
<%= simple_form_for [@comment, Question.new], :html => {:multipart => true} do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<div class="imagebottomnav">
</div>

<div class="width6">

<div class="leftstoryimage">

<div class="formimage-comment">
</div>

</div>

<div class="rightstorytitle">

<div class="rightstorytext">
<%= @comment.post.title %>
</div>

</div>

<hr class="line30" style="margin-top: 27px; margin-bottom: 15px;"/>
<div class="titlecontainer" style="font-size: 26px; margin-top: 0px; margin-bottom: 15px;">
<%= @comment.title %>
</div> 

<div class='dividerhead'>
Write Answer
</div>
<hr class="line30" style="margin-top: -20px; margin-bottom: 15px;"/>


<%= f.text_area :body, :class => "tinymce textarea", :style => "margin: 0px;" %>
<div class="row"></div>
<div style="margin-top: 10px;">
<div class="row"></div>
</div>


<div class="form-sidebar">
<div class="darker" style="background-color: white; opacity: 0.87;"></div>  
<div class="form-sidebar-inner">
<div class="sidebartitle">
Add a Bio
</div>
<hr class="sidebardivider"/>
<div class="sidebaravatar">
<%= image_tag (current_user.image) %>
</div>
<div class="sidebarusername">
<%= current_user.name %>
</div>
<%= f.input :title, as: :text, input_html: { rows: "1", :class => "biotext" }, label: false, placeholder: "Bio (optional)" %>
<hr class="sidebardivider"/>
<div class="sidebarexplaintext">
A bio is a short (1 line) explanation of why you're answering '<%= @comment.title %>'.
</div>
<hr class="sidebardivider"/>
<div class="center">
<%= f.submit "Submit Answer", class: "submitblue" %>
</div>
<hr class="sidebardivider"/>

<div class="sidebarexplaintext">
Please note: all submitted answers are reviewed by an editor to make sure it complies with Podium's <%= link_to "Answer Guidelines", guidelines_path, class: "blue" %>
</div>
</div>
</div>


<% end %>

<%= tinymce :alternate, plugins: ["uploadimage, autoresize, paste"], :content_css => asset_path('tinymce.css.scss') %>

