<div class="container">
 <div class="row">

<div class="visible-desktop hidden-phone hidden-tablet">
<div class="fixed">
<div class="span4">
<div class="line2">

<div class="commentimage">
  <%= image_tag @comment.post.image(:small) %>    
 </div>

<div class="info">
<div class="newspaper7"> 
<%= time_ago_in_words(@comment.post.created_at) %> ago <br>
</div>
</div>
<div class="info">
<div class="newspaper7"> 
<div class="blue">
<%= @comment.post.country %>
</div>
</div>
</div>
<hr/>
<div class="newspaper7"> 
<div class="descriptioncontainer2">
<%= @comment.post.description %>
<hr/>
</div>
</div>

</div>
</div>
</div>
</div>

<div class="span7 offset4">

<div class="titlecontainer4">
<%= @comment.post.title %>
</div>

<div class="titlecontainer">
<%= @comment.body %>
</div>
<div class="lightcontainer6">
 <%= time_ago_in_words(@comment.created_at) %> ago 
</div>

<hr />
<% if user_signed_in? %>
<div class="questioncontainer3">  
<%= link_to 'Answer', new_comment_question_path(@comment), class: "button4" %>
</div>
<% else %>
<div class="questioncontainer3">  
<%= link_to 'Answer', new_user_registration_path, class: "button4" %>
</div>
<% end %>
<% if @comment.questions.count == 1 %>
<div class="number">
<strong><%= @comment.questions.count %></strong> Answer
</div>
<% else %>
<div class="number">
<strong><%= @comment.questions.count %></strong> Answers
</div>
<% end %>



<% @comment.questions.order("cached_votes_total desc").each do |question| %>
<div class="container">
 <div class="row">
<div class="span5">
<div class="info">
<strong><%= question.user.name %></strong> <br>
<div class="blue">
<%= question.title %>
</div>
</div>
</div>

<div class="span2">
<div class="newspaper4c">
<div class="upvotes">
<%= question.votes.size %> 
</div>
</div>
<div class="newspaper4b">
<% if user_signed_in? %>
<%= link_to (image_tag("http://i.imgur.com/yWWtsMN.png")), upvote_comment_question_path(@comment, question) %>
<% else %>
<%= link_to (image_tag("http://i.imgur.com/yWWtsMN.png")), new_user_registration_path %>
<% end %>
</div>
</div>
</div>
</div>






<hr/>


<div class="descriptioncontainer3">
<%= question.body %>
</div>


<div class="underanswercontainer2">
 
Flag -
Posted <%= time_ago_in_words(question.created_at) %> ago <br>
</div>




<% if question.image? %>
 <%= image_tag question.image(:large) %>
 <div class="newspaper4">
 <div class="body">
 <div class="italic">
 <%= question.caption %>
</div>
</div>
</div>
<% end %>


<% if current_user.try(:admin?) %>
<div class="underanswercontainer2">
<%= link_to 'Edit', edit_comment_question_path(@comment, question) %>
<%= link_to 'Delete', comment_question_path(@comment, question), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>


<% end %>


</div>

<div class="span1">
<div class="facebook">
 <a href="twitter.com">  
<img src="http://i.imgur.com/Txpzr2v.png"></a></p> 
<div class="twitter">
<a href="twitter.com"> Tweet </a> 
</div>
</div>
</div>


</div>
</div>
</div>
</div>
