<div id="question_<%= @question.id %>" style="margin-top: 35px;">


<div style="width: 80px; margin-right: 20px; float: left; border-top: 3px solid #018bc6; padding-top: 15px; float: left; margin-top: 8px;">
  
<div class="smallavatarfeednomargin2">
<%= link_to (image_tag(@question.user.image)), user_path(@question.user) %>
</div>
<div class="row"></div>

<div class="largename">
<%= link_to (@question.user.name), user_path(@question.user), class: "blue" %>
</div>  

<div class="row"></div>
<hr class="line30" style="margin-top: 0px; margin-bottom: 6px;"/>

<div class="date-answer">
<%= time_ago_in_words(@question.created_at) %> ago
</div>



</div>


<div style="overflow: hidden;">


<div class="large-image">
<%= sanitize @question.body_format %>
</div>

<div class="answertitle">
<%= @question.title %>
</div>

<hr class="line30" style="margin: 20px 0px 23px 0px">

<div class="row"></div>

<% if user_signed_in? %>

<% if current_user.voted_for? @question %>
 <div class="clicked">
    <i class="rec fa fa-check-circle"></i> Recommended 
 </div>
<% else %>

<%= link_to upvote_comment_question_path(@question.comment, @question), class: "hoverblueupvote", remote: true, method: :put do %>
 <div class="upvotebutton2" id="<%= @question.id %>">
   <i class="fa fa-check-circle"></i> Recommend 
 </div>
<% end %>

 <div class="rec clicked" id="<%= @question.id %>" style="display: none;">
   <i class="rec fa fa-check-circle"></i> Recommended 
 </div>
<% end %>

<% else %>


<div class="upvotebutton2" id="login-recommend-add">
    <i class="fa fa-check-circle"></i> Recommend
 </div>

<% end %>



<%# Right options %>
<% if @question.links.present? %>

<div class="replies-button-number" id="<%= @question.id %>">
  <%= @question.links.count %>
</div>
<div class="replies-button-text" id="<%= @question.id %>">
  Replies
</div>

<% else %>

<div class="replies-button-text" id="<%= @question.id %>">
  Add a Reply
</div>

<% end %>


<div class="replies-button-text-share">
Share 
</div>

 <% if current_user == @question.user or current_user.try(:admin?) %>
  <%= link_to "Edit", edit_comment_question_path(@question.comment, @question), class: "replies-button-text-edit" %>
<% end %>


<%# end of right options %>






<div class="row"></div>
<% if @question.cached_votes_total == 0 %>
<div class="answersnumber" id="be-the-first">
Be the first to recommend
</div>
<div class="answersnumber" id="the-first" style="display: none;">
You recommended
</div>
<% elsif @question.cached_votes_total == 1 %>
 <div class="answersnumber">
  <% if user_signed_in? and current_user.voted_for? @question %>
  You
  <% else %>
  <% @question.votes.by_type(User).limit(1).voters.each do |user| %>
  <%= link_to (user.name), user_path(user), class: "blue" %>
  <% end %>
  <% end %> recommended
</div>
 <% elsif question.cached_votes_total > 1 %>
  <div class="answersnumber">
  <% @question.votes.by_type(User).voters.limit(1).each do |user| %>
  <% if user_signed_in? and current_user != user %>
  <%= link_to (user.name), user_path(user), class: "blue" %>
  <% else %>
  You
  <% end %>
  <% end %> and <div id="popover-click"><%= pluralize(@question.cached_votes_total - 1, "other") %></div> recommended
 </div>

<% end %>



<%# Recommended List Popover %>

<% if @question.cached_votes_total > 1 %>

<div class="hidden">
 <div id="recommend-list">
  <div class="popover-text">

Recommends

<% @question.votes.by_type(User).limit(10).voters.each do |user| %>
 <div class="popover-text-margin">
   <%= link_to (user.name), user_path(user), class: "blue" %>
 </div>
<% end %>

<% if @question.cached_votes_total > 10 %>
 <div class="popover-text-margin">
   and <%= @question.cached_votes_total - 10 %> more
 </div>
<% end %>

  </div>
 </div>
</div>

<% end %>


<div class="hidden">
<div class="share-answer">
<div style="text-align: center">

<%= link_to "http://twitter.com/home?status=#{@question.user.name}'s answer to #{@question.comment.title} readpodium.com#{comment_question_path(@question.comment, @question)}", :target => "_blank" do %>
    <i class="fa fa-twitter" style="color: #018bc6; font-size: 18px; display: inline-block; margin-right: 5px;"></i>
  <% end %>
<%= link_to "http://www.facebook.com/sharer.php?u=URL", :target => "_blank" do %>
   <i class="fa fa-facebook-square" style="color: #018bc6; font-size: 18px;"></i>
   <% end %>

</div>
</div>
</div>
<%# End of Recommended List Popover %>


<div class="row"></div>


<%# Replies %>


<div class="menu" style="display: none;" id="<%= @question.id %>">
   <div class="commentwidth"> 
 
 <div id="linkmama-<%= @question.id %>">
 <%= render :partial => 'comments/newlink', locals: {question:@question} %>
 </div>
 <div id="linkformmama-<%= @question.id %>">
 <%= render :partial => "links/form", locals: {question:@question} %>
 </div>


</div>
</div>
<%# End of Replies %>

<div class="row"></div>


<hr/>






<script>


$('#<%= @question.id %>.replies-button-text, #<%= @question.id %>.replies-button-number').click(function () {
        $('#<%= @question.id %>.menu').toggle('slide', {
            direction: 'left'
        }, 200);
    });


$(function ()  
{
  
  $('#popover-click, .close-twitter').popover(
  {
     trigger: 'click',
     html: true,
     placement: 'top',
     content: $('#recommend-list').parent().html()
  });
});


$(function ()  
{
  
  $('.replies-button-text-share').popover(
  {
     trigger: 'click',
     html: true,
     placement: 'top',
     content: $('.share-answer').parent().html()
  });
});


$(document).ready(function() {
        $('#<%= @question.id %>.upvotebutton2').click(function() {
                $('#<%= @question.id %>.clicked').show();
                $('#<%= @question.id %>.upvotebutton2').hide();
                $('#be-the-first').hide();
                $('#the-first').show();
                
        });
    }); 


</script>


 
</div>



</div>



