<style media="screen">
  .imagestrip { background-image: url(<%= @comment.post.image %>); }
  .navbar .brand {color: white !important;} 
  .fa-bell-o { color: white !important;}
</style>

<div class="darker2">
<div class="imagestrip">
<div class='darker'></div>
<div class="absoluteheader">
<%= render 'layouts/xheader' %>

</div>

<div class="absolutecontainer">
<div class="relativecontainer">
<div class="eventimagepreviewtext">
<%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
</div>
</div>
</div>
</div>
</div>


<div class="width6">
<div class="titlecontainer">
<%= @comment.title %>
</div>
<hr class="aboveimageline"/>

<div class="answersnumber">
Edit Answer
</div>

<hr class="belowimageline2"/>
<div class='form35'></div>


<div class="width6">

<% if user_signed_in? %>


<%= simple_form_for [@comment, @question], :html => { :method => :put } do |f| %>
<% if current_user.try(:admin?) %>
<a id="close">
<%= f.check_box :hide, as: :boolean, input_html: { :class => "buttoncheckbox" }, label: false %>
</a>
<div class="buttoncheckbox2">
Hide Answer
  </div>

<% else %>
<%= f.hidden_field :user_id, :value => current_user.id %>



<% if current_user.image? %>
<div class="smallavatar">
<%= link_to (image_tag(current_user.image)), user_path(current_user) %>
</div>
<% else %>
<div class="smallavatar">
<%= link_to (image_tag("http://i.imgur.com/OCWhfJm.png")), user_path(current_user) %>
</div>
<% end %>


<div class="lightname">
<%= current_user.name %>
</div>

<div style="display: none;">
<div class="anontext">
<%= current_user.name %>
</div>
</div>	


<%= f.input :title, as: :text, input_html: { rows: "1", :class => "biotext" }, label: false, placeholder: "Your bio..." %>


<div class="row"></div>
<%= f.input :body, as: :text, input_html: { rows: "1", :class => "hellogrey2" }, label: false, placeholder: "Your answer here..." %>


<% end %>

<hr class="aboveimageline"/>

<div class="floatright">
<%= f.submit "Save Changes", class: "addlink", style: "background-color: white; border: none; margin-bottom: 30px; font-family: roboto;" %>
</div>

<% end %>
<% else %>
<%= link_to "Login to Ask Question", new_user_session_path, class: "squareredbutton" %>

<% end %>





</div>

<script>
 $(document).ready(function() {
        $('#infobutton').click(function() {
               
                $('.infomenu').toggle();
                $('.xout').toggle();
                
          });



        });

 $(document).ready(function() {
        $('.anon').click(function() {
               
                $('.smallavatar').hide();
                $('.lightname').hide();
                $('#infobutton').hide();
                $('.infomenu').hide();
                $('.biotext').hide();
                $('.anontext').show();

          });



        });




</script>


