<style media="screen">
  .imagestrip { background-image: url(<%= @comment.post.pictures.first.image %>); }
  .navbar .brand {color: white !important;} 
  .fa-bell-o { color: white !important;}
</style>

<% if current_user.try(:admin?) %>
<div class="settingsnavtop" style="margin-bottom: -2px;">

<div class="width6">
<div class="underpodiumhomeguidelinesbig" style="color: white; display: inline;">
Edit Answer
</div>
</div>

<div class="absoluteheader">
<%= render 'layouts/xheader' %>
</div>

</div>
<% end %>


<div class="darker2">
<div class="imagestrip" style="height: 150px;">
<div class='darker'></div>
<div class="absoluteheader">
<%= render 'layouts/xheader' %>

<a href="#Next" role="button" data-toggle="modal" class="bluecircle2 white" style="font-size: 18px;">&gt;</a>


</div>

<div class="absolutecontainer">
<div class="relativecontainer">
<div class="descriptionmargin" style="margin-bottom: 25px;"> 
<div class="eventimagepreviewtext" style="font-size: 14px;">
<%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
</div>

<hr class="whiteimageline" style="margin-top: 13px !important; margin-bottom: 15px !important;"/>


</div>
</div>
</div>
</div>
</div>


<div class="width6">
<div class="titlecontainer" style="font-size: 26px; color: rgba(51,51,51,0.3); margin-top: 50px;">
<%= @comment.title %>
</div>







<%= simple_form_for [@comment, @question], :html => { :method => :put } do |f| %>
<% if current_user.try(:admin?) %>

<p>
<%= simple_format(@question.body) %>
</p>
 <%= link_to 'Delete Question', comment_question_path(@question.comment, @question), method: :delete, data: { confirm: 'This question will be deleted. Are you sure?' }, class: "clicked" %> 

<hr/>

<div class="checkboxcover">
<div class="checkboxicon"><i class="fa fa-check"></i></div>
<div class="floatright" style="display: inline;">
<%= f.check_box :hide, as: :boolean, input_html: { :class => "" }, label: false %>
</div>
<div class="buttoncheckbox2">
PUBLISH TO QUESTION PAGE
</div> 
<div class="row"></div>
</div>

<div class="checkboxcover">
<div class="checkboxicon"><i class="fa fa-bookmark"></i></div> 
<div class="floatright" style="display: inline;"> 
<%= f.check_box :recommend, as: :recommend, input_html: { :class => "" }, label: false %>
</div>
<div class="buttoncheckbox2">
RECOMMENDED BY EDITORS
</div> 
<div class="row"></div>
</div>

<div class="row"></div>

<div class="sixty"></div>



<% else %>
<div id="hide">

 <hr class="aboveimageline"/>

<div class="floatright">
<%=  link_to "Delete Answer", comment_question_path(@question.comment, @question), method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, class: "clicked" %>
</div>

<div class="newtoggle" style="opacity: 0.3;">
EDIT ANSWER
</div>   

 
<hr class="belowimageline2"/>
<%= f.input :body, input_html: { rows: "1", :class => "hellogrey2" }, label: false, placeholder: "Your answer..." %>

<div class="sixty"></div>

<div id="showmenu" class="favouritebuttonquestionform2">
<a href="#Answer" role="button" data-toggle="modal" class="bluecircle white" style="top: 125px; font-size: 18px;">&gt;</a>
</div>


</div>


<% end %>


  <div id="Next" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-header">
    <button type="button" class="close2" style="font-size: 24px; color: #018bc6 !important;" data-dismiss="modal" aria-hidden="true">×</button>
    Ask Question
    <div class="modal-header-text">
      Please read our question guidelines before submitting a question. All questions will be reviewed by an editor before being published.
    </div>
  </div>
  
  <div class="modal-body">
  <div class="smallavatarfeednomargin3">
<%= link_to (image_tag(current_user.image)), user_path(current_user) %>
</div>
<div class="lightnametop"> 
<%= current_user.name %>
</div>
<div style="display: none;">
<div class="lightnametop"> 
<%= current_user.name %>
</div>
</div>  
<%= f.input :title, as: :text, input_html: { rows: "1", :class => "biotext" }, label: false, placeholder: "Write bio..." %>
</div>

<div class="modal-footer">
<%= f.submit "UPDATE ANSWER", class: "modalacceptbutton" %>  
  </div>
  

</div>  



<% end %>

</div>

<script>
    $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu5').show();
                $('#showmenu').hide();
                $('#hide').hide();
                $('.hello4').hide();
               
                
        });
    }); 

      $(document).ready(function() {
        $('#showmenuback').click(function() {
                $('.menu5').hide();
                $('#showmenu').show();
                $('#hide').show();
                $('.hello4').show();
               
                
        });
    }); 




</script>


