<style media="screen">
  .imagestrip { background-image: url(<%= @comment.post.image %>); }
  .navbar .brand {color: white !important;} 
  .fa-bell-o { color: white !important;}
</style>

<div class="darker2">
<div class="imagestrip" style="height: 150px;">
<div class='darker'></div>
<div class="absoluteheader">
<%= render 'layouts/xheader' %>

</div>

<div class="absolutecontainer">
<div class="relativecontainer">
<div class="descriptionmargin" style="margin-bottom: 25px;"> 
<div class="eventimagepreviewtext" style="font-size: 14px;">
<%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
</div>

<hr class="whiteimageline" style="margin-top: 13px !important; margin-bottom: 15px !important;"/>


</div>
</div>
</div>
</div>
</div>


<div class="width6">
<div class="titlecontainer" style="font-size: 26px; opacity: 0.4;">
<%= @comment.title %>
</div>







<%= simple_form_for [@comment, @question], :html => { :method => :put } do |f| %>
<% unless current_user.try(:admin?) %>
<a id="close">
<%= f.check_box :hide, as: :boolean, input_html: { :class => "buttoncheckbox" }, label: false %>
</a>
<div class="buttoncheckbox2">
Hide Answer
</div>

<% else %>
<div id="hide">

 <hr class="aboveimageline"/>

<div class="newtoggle" style="opacity: 0.3;">
EDIT ANSWER
</div>   
 
<hr class="belowimageline2"/>
<%= f.input :body, input_html: { rows: "1", :class => "hellogrey2" }, label: false, placeholder: "Your answer..." %>

<div class="sixty"></div>

<div id="showmenu" class="favouritebuttonquestionform2" style="display: none !important;">
<a href="#Answer" role="button" data-toggle="modal" class="bluecircle white" style="top: 125px; font-size: 18px;">&gt;</a>
</div>


</div>



<div class="menu5" style="display: none;"> 

 <hr class="aboveimageline"/>

<div class="newtoggle" style="opacity: 0.3;">
EDIT BIO
</div>   

<div class="smallavatarfeednomargin3">
<%= link_to (image_tag(current_user.image)), user_path(current_user) %>
</div>



<div class="lightnametop"> 
<%= current_user.name %>
</div>

<div style="display: none;">
<div class="lightnametop"> 
<%= current_user.name %>
</div>
</div>  


<%= f.input :title, as: :text, input_html: { rows: "1", :class => "biotext" }, label: false, placeholder: "Write bio..." %>


<hr class="aboveimageline"/>


<div class="showmenuback" id="showmenuback">
< 
</div>

<%= f.submit "Save Changes", class: "modalacceptbutton" %>


</div>
<% end %>




<% end %>

</div>

<script>
    $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu5').show();
                $('#showmenu').hide();
                $('#hide').hide();
                $('.hello4').hide();
               
                
        });
    }); 

      $(document).ready(function() {
        $('#showmenuback').click(function() {
                $('.menu5').hide();
                $('#showmenu').show();
                $('#hide').show();
                $('.hello4').show();
               
                
        });
    }); 


    $('.hellogrey2').on("keyup", action);
function action() {
   if($('.hellogrey2').val().length > -1) {
      $('.favouritebuttonquestionform2').show();
      $('.explainertext').hide();
   }

}

</script>


