


<div class="settingsnavtop" style="margin-bottom: -2px;">

<div class="width6">
<div class="blue-header-text">
<%= @comment.title %>
</div>
</div>

<div class="absoluteheader">
<%= render 'layouts/xheader' %>
</div>

</div>



<div class="imagestrip" style="height: 150px;">
  <div class='darker'></div>

</div>


<div class="width6" style="margin-top: 35px;">







</div>



<div class="row"></div>




<% if current_user == @question.user %>

<%= simple_form_for [@comment, @question] do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<div class="width6">
<% if current_user.try(:admin?) %>
 

<hr/>

<div class="checkboxcover">
<div class="checkboxicon"><i class="fa fa-check"></i></div>
<div class="floatright" style="display: inline;">
<%= f.check_box :hide, as: :boolean, input_html: { :class => "" }, label: false %>
</div>
<div class="buttoncheckbox2">
PUBLISH TO QUESTION PAGE
</div> 
<div class="row"></div>
</div>

<div class="checkboxcover">
<div class="checkboxicon"><i class="fa fa-bookmark"></i></div> 
<div class="floatright" style="display: inline;"> 
<%= f.check_box :recommend, as: :recommend, input_html: { :class => "" }, label: false %>
</div>
<div class="buttoncheckbox2">
RECOMMENDED BY EDITORS
</div> 
<div class="row"></div>
</div>  

<%= f.submit "Save", class: "submitblue", style: "float: right; margin-top: 15px;" %>

<% else %>





<div style="width: 80px; margin-right: 20px; float: left; border-top: 3px solid #018bc6; padding-top: 15px; float: left; margin-top: 50px;">

<div class="smallavatarfeednomargin2">
<%= link_to (image_tag(current_user.image)), user_path(current_user) %>
</div>

</div>


<div style="overflow: hidden;">



<%= f.text_area :body, :class => "tinymce textarea", :style => "margin: 0px;" %>
</div>

</div>


<div style="position: fixed; bottom: 0; right: 0; left: 0; z-index: 20;">
<div class="form-sidebar" style="display: none;">
<button type="button" class="close-editor" data-dismiss="modal" aria-hidden="true">×</button> 
<div class="width6">

<div class="answer-feed-avatar">
<%= link_to (image_tag(current_user.image)), user_path(current_user) %>
</div>

<div style="font-size: 14px; line-height: 34px; color: #018bc6;">
Edit Bio
</div>
<hr class="sidebardivider"/>  


<div class="row"></div>

<%= f.input :title, as: :text, input_html: { rows: "1", :class => "biotext", :style => "height: 19px;" }, label: false, placeholder: "#{current_user.name} is..." %>


<%= f.submit "Save", class: "submitblue", style: "float: right; margin-top: 15px;" %>

 <%= link_to 'Delete', comment_question_path(@question.comment, @question), method: :delete, data: { confirm: 'This question will be deleted. Are you sure?' }, class: "clicked-delete" %>

<div class="sidebarexplaintext">
Please note: all submitted answers are reviewed by an editor to make sure it complies with Podium's <%= link_to "Answer Guidelines", guidelines_path, class: "blue" %>
</div>



</div>

</div>
</div>


<div class="imagebottomnav">  
<div class="form-next">
<i class="fa fa-angle-up"></i>
</div>
</div>


<% end %>



<% end %>
<% end %>


<%= tinymce :alternate, plugins: ["uploadimage, autoresize, paste"], :content_css => asset_path('tinymce.css.scss') %>

<script>
$('.form-next, .close-editor').click(function () {
        $('.form-sidebar').toggle('slide', {
            direction: 'down'
        }, 300);
    });

</script>
