<style media="screen">
  .imagestrip { background-image: url(<%= @comment.post.image %>); }
  .navbar .brand {color: white !important;} 
  .fa-bell-o { color: white !important;}
</style>

<div class="darker2">
<div class="imagestrip">
<div class='darker'></div>
<div class="absoluteheader">
<%= render 'layouts/xheader' %>

</div>

<div class="absolutecontainer">
<div class="relativecontainer">
<div class="eventimagepreviewtext">
<%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
</div>
</div>
</div>
</div>
</div>


<div class="width6">
<div class="titlecontainer">
<%= @comment.title %>
</div>
<hr class="aboveimageline"/>

<div class="answersnumber">
Answer Guidelines
</div>

<hr class="belowimageline2"/>
<div class='form35'></div>

<%= render 'form' %>
</div>



