<% unless @comment.post.pictures.count == 0 %>
<style media="screen">
 .imagestrip { background-image: url(<%= @comment.post.pictures.first.image %>); }
</style>
<% end %>



 <div class="imagestrip">
  <div class='darker'></div>
   <div class="absoluteheader">
     <%= render 'layouts/headerimage' %>
   </div>

<% if current_user.try(:admin?) %>
  <%= link_to edit_post_comment_path(@comment.post, @comment) do %>
    <i class="fa fa-pencil-square-o"></i>
  <% end %>
<% end %>


<div class="absolutecontainer">
 <div class="relativecontainer">
  <div class="descriptionmargin"> 

   <div class="eventimagepreviewtext" style="margin-right: 0px;">
     <%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
   </div>

    <hr class="whiteimageline"/>

    
     <% if @comment.events.present? %>
      <%= link_to (@comment.events.first.title), post_event_path(@comment.post, @comment.events.first), class: "eventlinkdark" %>
      <% end %>

   </div>
  </div>
 </div>


</div>

<div class="width6">


<div style="display: inline-block; float: right; margin-top: 10px; border-left: 1px solid rgba(51,51,51,0.1); padding-left: 10px; margin-left: 20px;">
<div class="submit-share">
Share
</div>  



<% if user_signed_in? %>

<% if current_user.voted_for? @comment %>
<div class="submitblue-small-clicked">
Following
</div>
<% else %>

<div id="<%= @comment.id %>" style="display: inline;">
<%= link_to upvote_post_comment_path(@comment.post, @comment), remote: true, method: :put do %>
 <div class="submitblue-small" id="follow-<%= @comment.id %>">
   Follow
 </div>
<% end %>
</div>
 <div class="submitblue-small-clicked" style="display: none;" id="followed-<%= @comment.id %>">
Following
</div>
<% end %>

<% else %>
<div class="submitblue-small" id="login-recommend-add">
   Follow
 </div>
<% end %>
</div>



 <div class="titlecontainer">
  <%= link_to (@comment.title), post_comment_path(@comment.post, @comment), class: "blue" %>
 </div>




<div class='row'></div>

<hr class="full-length"/>
<% if @comment.published %>
<% if user_signed_in? %>  
  <div id="logged-in" class="bluecircle2 white">+</div>
<% else %>  
<div class="bluecircle2 white" id="login-recommend-add">+</div>
<% end %>
<% end %>


<div style="margin-top: 10px;"></div>
<% if @published.count > 1 %>
<div class="dividerhead" style="margin-left: -35px; margin-bottom: 0px;">
 1 OF <%= pluralize(@published.count, 'Answer').upcase %>
</div>
<% else %>
<div class="dividerhead" style="margin-left: -35px; margin-bottom: 0px;">
1 ANSWER
</div>
<% end %>







<div class="row"></div>

<div class="answer-feed-margin"></div>



<%= render 'questions/question' %>



<% if user_signed_in? %>

<hr style="margin-bottom: 15px;"/>

<div class="small-avatar-feed-test">
<%= link_to (image_tag(current_user.image(:thumb))), user_path(current_user) %>
</div>

<div class="largename">
<%= link_to 'Write answer....', new_comment_question_path(@question.comment), class: "blue" %> 
</div> 

<div class="row"></div>
<% end %>





<% if @related.where("questions.id NOT IN (?)", @question.id).present? %>
<hr class="dividerline"/>
<div class="dividerhead">
MORE ANSWERS
</div>
<% @related.where("questions.id NOT IN (?)", @question.id).limit(2).each do |question| %>

<%= render :partial => 'layouts/answersfeed_noquestion', locals: {question:question} %>


<hr style="width: 30%;"/>

<% end %>

<% end %>




</div>



<div class="imagestrip" style="height: 125px; margin-top: 60px;">
  <div class='darker'></div>
  <div class="absolutecontainer">
 <div class="relativecontainer">
  <div class="descriptionmargin" style="margin-bottom: 25px; margin-right: 0px;"> 

   <div class="eventimagepreviewtext">
     <%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
   </div>

    <hr class="whiteimageline"/>


   </div>
  </div>
 </div>

</div>









<div class="fullpage-modal-container"> 

  <div class="fullpage-modal" style="display: none;">
<button type="button" class="close-modal-slide" data-dismiss="modal" aria-hidden="true">×</button>
<hr class="modalline-slide" style="margin-top: 0px"/>
<%= render :partial => "pages/answerguidelines", :object => @comment %>
</div>
</div>

<script>
   $(document).ready(function() {
        $('#follow-<%= @comment.id %>').click(function() {
                $('#followed-<%= @comment.id %>').show(); 
                 $('#follow-<%= @comment.id %>').hide();
        });
    }); 
</script>


<% if user_signed_in? %>


 <div class="blue-slider-position">

<div class="share-social" style="display: none;">
   <div class="blue-slider">
    <button type="button" class="close-twitter" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="infopage-boldtext" style="font-size: 14px; color: rgba(255,255,255,1);">
Share Question
</div>
<div class="infopage-smalltext" style="font-size: 12px; margin-bottom: 20px; color: rgba(255,255,255,0.5);">
Share to Facebook and Twitter
</div>
<div style="text-align: center">
   <%= link_to "http://twitter.com/home?status=#{@comment.title} readpodium.com#{post_comment_path(@comment.post, @comment)}", :target => "_blank" do %>
    <i class="fa fa-twitter" style="color: white; font-size: 34px; display: inline-block; margin-right: 15px;"></i>
   <% end %>
   <%= link_to "http://www.facebook.com/sharer.php?u=URL", :target => "_blank" do %>
   <i class="fa fa-facebook-square"></i>
   <% end %>
   </div>
 </div>
 </div>

</div>


<% else %>




<div class="blue-slider-position">

<div class="login-recommend-add-div" style="display: none;">
   <div class="blue-slider">
    <button type="button" class="close-twitter" data-dismiss="modal" aria-hidden="true">×</button>
    <%= render :partial => "devise/sessions/new" %>
   </div>
 </div>

</div>


<% end %>


<script>

$('#logged-in.bluecircle2, #logged-in.dividerheadinline, .close-modal-slide').click(function () {
        $('.fullpage-modal').toggle('slide', {
            direction: 'top'
        }, 300);
    });

</script>

<script>
$('.submit-share, .close-twitter').click(function () {
        $('.share-social').toggle('slide', {
            direction: 'right'
        }, 300);
    });

$('#login-recommend-add, .close-twitter').click(function () {
    if($('.login').is(':visible')){
    $('.login').fadeOut(function () {
        $('.login-recommend-add-div').toggle('slide', {
            direction: 'right'
        }, 300);
    });
    }
    else{
        $('.login-recommend-add-div').toggle('slide', {
            direction: 'right'
        }, 300, function(){ $('.login').fadeIn();});
    }
});





</script>







 





