<% if current_user.try(:admin?) %>
<%= link_to edit_post_comment_path(@comment.post, @comment) do %>
<i class="fa fa-cog"></i>
<% end %>
<% end %>


<div class="darker2">
<div class="imagestrip">
<div class='darker'></div>
<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>

<% if user_signed_in? %>  
  <a href="#Answer" role="button" data-toggle="modal" class="bluecircle white">+</a>
<% else %>  
  <%= link_to "+", new_user_registration_path, class: "bluecircle white" %>
<% end %>

<div class="absolutecontainer">
<div class="relativecontainer">
<div class="descriptionmargin"> 
<div class="eventimagepreviewtext">
<%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
</div>

<hr class="whiteimageline" style="margin-top: 13px !important; margin-bottom: 15px !important;"/>



</div>
</div>
</div>
</div>
</div>


<div class="width6">



<div class="titlecontainer">
<%= @comment.title %>
</div>


<hr style="margin-top: 20px; margin-bottom: 20px !important;"/>

<div class="feedimagetopquestion2" style="floatright;">
<%= image_tag @question.user.image %>
</div>
<div class="answersnumber" style="color: rgba(51,51,51,0.4) !important;">
<%= @question.user.name %>'s Answer
</div>

<div class="newtoggle12" style="margin-bottom: 0px; display: block; margin-top: 0px; opacity: 0.4;">
Asked <%= time_ago_in_words(@comment.created_at) %> ago
</div>


<div class="newtoggle12" style="margin-bottom: 30px; margin-top: 10px; opacity: 0.4;">
<strong><%= link_to ("See all answers..."), post_comment_path(@question.comment.post, @question.comment) %></strong>
</div>

<div>





<%= render 'questions/question' %>


</div>
</div>

<div class="questiondivider">
<div></div>
</div>






<div class="width6">
<% if @question.comment.questions.count > 1 %>

<div class="newtoggle12" style="margin-bottom: 40px; margin-top: -10px;">
MORE ANSWERS
</div>


<% @question.comment.questions.where("questions.id NOT IN (?)", @question.id).limit(2).each_with_index do |question, i| %>

<div class="smallavatarfeednomargin2">
<%= link_to (image_tag(question.user.image)), user_path(question.user) %>
</div>

<div class="lightnametopblue"> 
<%= link_to (question.user.name), user_path(question.user), class: "blue" %>
</div>
<div class="title50"> 
<%= question.title %> 
</div>


<div class="p2">
<%= truncate(question.body, :separator => ' ', length: 180) %>
    <%= link_to ("(more)"), comment_question_path(question.comment, question) + "#question_#{question.id.to_s}", class: "readmore"  %>
</div>

<% unless i == 1 or @question.comment.questions.where("questions.id NOT IN (?)", @question.id).count == 1 %>
<div class="dottedline"></div>
<% end %>

<div class="row"></div>

<% end %>
<% if @question.comment.questions.where("questions.id NOT IN (?)", @question.id).count == 1 %>
<div style="padding-top: 20px "></div>
<%= link_to ("See 2 more..."), post_comment_path(@question.comment.post, @question.comment), class: "readmore" %>
<% end %>
<hr style="margin-bottom: 45px;"/>
<% end %>
</div>








<div class="darker2">
<div class="imagestrip">
<div class='darker'></div>
<div class="absolutecontainer">
<div class="relativecontainer">

<div class="descriptionmargin"> 
<div class="eventimagepreviewtext">
<%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
</div>

<hr class="whiteimageline" style="margin-top: 13px !important; margin-bottom: 15px !important;"/>
</div>

</div>
</div>
</div>
</div>
</div>





<% unless @comment.post.pictures.count == 0 %>
<style media="screen">
 .imagestrip { background-image: url(<%= @comment.post.pictures.last.image %>); }
</style>
<% end %>
<style media="screen">
.navbar .brand {color: white !important;} 
  .headtext {color: white !important;} 
  .navbar .nav > li > a {color: white !important;} 
  .fa-bell-o { color: white !important; }

  .alert-danger { opacity: 1 !important; color: white !important;} 
</style>


                       <div id="Answer" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="width6">                    
  <div class="modal-header">
    <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="underpodiumhomeguidelinesbig">
    Answer Guidelines
  </div>
    <div class="underpodiumhomeguidelines">
    Please read the following guidelines before answering:

    </div>
  </div>
  <div class="row"></div>

  <div class="modal-body" style="padding-top: 0px;">
   <div class="userbehindgrey3"> 
    <div class="underpodiumhomeguidelines">
    Answers should...
    <br>
    • Directly respond to the question
    <br>
    • Be factual, authentic and cite sources used (at the bottom of answer)
    <br>
    • Not personally attack the question or any other answers
    <br>
    • Answers that do not comply may be hidden, or in some cases, deleted
    </div>
  </div>
    
    <div class="floatright">
    <%= link_to "OK, I Agree", new_comment_question_path(@comment), class: "modalacceptbutton" %>
</div>
  </div>
</div>
</div>

<script>
    $(document).ready(function() {
        $('#showmenu').click(function() {
                
                $('.hiddenquestions').show();
                $('.belowimageline2hidden').hide();
                
               
                
        });
    }); 

</script>










