<div class="row">
<div class="container">

<div class="span2">
<%= link_to ('See all answers'), comment_questions_path, class: "button5" %>
</div>

<div class="span8 offset2">
<div class="titlecontainer">
<%= @question.comment.body %>
</div>
<div class="lightcontainer6">
 <%= time_ago_in_words(@question.comment.created_at) %> ago 
</div>
<hr/>



<div class="verifiedanswer">
 <div class="info">

 <%= @question.user.name %>
</div> 


  <div class="blue">
<div class="info">
  
<%= @question.title %><br>
  </div>
  </div>
</div>




<div class="descriptioncontainer2">
<%= @question.body %>
</div>




<% if @question.image? %>
 <%= image_tag @question.image(:large) %>
 <div class="newspaper4">
 <div class="body">
 <div class="italic">
 <%= @question.caption %>
</div>
</div>
</div>




<div class="underanswercontainer2">
 
Flag -
Posted <%= time_ago_in_words(@question.created_at) %> ago <br>
</div>

<hr />
<% end %>


</div>




</div>

</div>

</div>
</div>





