
<div class="modal-width-slide">
<div class="infopage-container-modal">

<div class="guidelines-text-light" style="color: #018bc6 !important; font-size: 14px;">
Edit
</div>

<div class="floatright">
 <%= link_to "Sign Out", destroy_user_session_path, class: "guidelines-text-light", method: :delete %> 
</div> 
<div class='row'></div>
<hr class="modalline-slide" style="margin-top: 10px; margin-bottom: 35px;"/>


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>



  <%= f.error_notification %>


<%= f.input :email, input_html: { :class => "infoform", :maxlength => 140 }, placeholder: "Your Email", label: "Email" %>
<div class="row"></div>
<%= f.input :place, input_html: { :class => "infoform", :maxlength => 140 }, placeholder: "Where do you live?", label: "Location" %>
<div class="row"></div>
<%= f.input :age, as: :text, input_html: { :class => "infoform-text", :maxlength => 140 }, placeholder: "A short bio", label: "Bio" %>
<hr class="modalline-slide"/>


<%= f.submit "Save", class: "submitbluemodal" %>


<div class="modaldeclinebutton">Cancel</div>
  


<% end %>

</div>
</div>





 

