<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
<div class="infopage-container">
<div class="floatright">
 <%= link_to "Sign Out", destroy_user_session_path, class: "submitblueinfo", method: :delete %> 
</div>   
<div class="infopage-boldtext">
Edit Profile 
</div>
<div class="infopage-smalltext">
Change your email, personla bio and location.
</div>
  <%= f.error_notification %>


<%= f.input :email, input_html: { :class => "infoform" }, placeholder: "your_email@example.com", label: "EMAIL" %>

<div class="row"></div>
<%= f.input :age, input_html: { :rows => 1, :class => "infoform" }, placeholder: "A short bio", label: "BIO" %>
<div class="row"></div>
<%= f.input :place, input_html: { :class => "infoform" }, placeholder: "Location", label: "LOCATION" %>

 </div>

<div style="text-align: center; margin-top: 40px;">
<%= f.submit "Save", class: "submitblueinfo" %>
</div>


<% end %>





 

