<div class="span7 centered">
<% if current_user == @user %>

<div class="greysettings">
<%= link_to "Profile", user_path(@user), class: "greymargin" %>
<%= link_to "Questions", userquestions_path(@user), class: "greymargin" %>
<%= link_to "Interviews", userinterviews_path(@user), class: "greymargin" %>
<div class="floatright">
<div class="greymargin">
<strong> Settings</strong>
</div>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
</div>
</div>
<% end %>


</div>


</div>



<div class="span7 centered">


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
  <%= f.error_notification %>

 <div class="settings">
Settings
</div> 

<div class="floatright">
<%= f.submit "Save Changes", class: "settingsbutton"%>
</div>

  <%= f.input :name, input_html: {  :class => "hellogrey" }, label: "Your name", placeholder: "Your name", autocomplete: "off" %>
  <div class="thirty"></div>
  <%= f.input :email, input_html: {  :class => "hellogrey" }, label: "Your email", placeholder: "Your email", autocomplete: "off" %>
  <div class="thirty"></div>
  <%= f.input :place, input_html: {  :class => "hellogrey" }, label: "Your location", placeholder: "Where you live", autocomplete: "off" %>
  <div class="thirty"></div>
  <%= f.input :password, input_html: {  :class => "hellogrey" }, label: "Change Password", placeholder: "Password" , autocomplete: "off" %>
  <%= f.input :password_confirmation, input_html: {  :class => "hellogrey" }, label: false, placeholder: "Password again", autocomplete: "off" %>
  <div class="thirty"></div>
<div class="label2">
 Change Image
</div>
 
 <div class="userimage2">
<div class="addimage">
<%= f.input :image, input_html: {  :style => "opacity:0;" }, label: false  %>
</div>
 <img id="blah"/>
</div>

</div>
<% end %>


 <style media="screen">
  .userimage2 { background-image: url(<%= current_user.image %>); background-size: cover; border-radius: 75px; width: 150px; height: 150px; background-repeat:no-repeat; margin-right: 0 auto; margin-left: 0 auto; display: block;}
 </style>

<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#user_image").change(function(){
        readURL(this);
    });

</script>

