<div class="settingsnavtop">
<div class="width6">

<div class="underpodiumhomeguidelinesbig" style="color: white; display: inline;">
Settings
</div>
<div class="underpodiumhomeguidelinesbig" style="color: white; font-size: 12px; display:inline; margin-left: 10px;">
<%= link_to "| Back to profile...", user_path(@user), class: "white" %>
</div>
<div class="floatright">
<%= link_to "Sign Out", destroy_user_session_path, class: "clicked", style:"margin-top: -4.5px; box-shadow: none; background: rgba(51, 51, 51, 0.3) !important;", method: :delete %> 
</div>
</div> 
</div>


<div style="margin-top: 30px;"></div>


<div class="px300">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
  <%= f.error_notification  %>

<div class="underimagemargin">

<div class="aroundeditimage">
<div class="absolutepicture">
<div class="userimage2">
<div class="addimage">
<%= f.input :image, input_html: {  :style => "opacity:0;" }, label: false  %>
</div>
 <img id="blah"/>
</div>
</div>
</div>
</div>

  <%= f.input :email, input_html: {  :class => "hello4" }, label: "Your email", placeholder: "Your email", autocomplete: "off" %>
  <div style="margin-top: 25px;"></div>

  <%= f.input :password, input_html: {  :class => "hello4" }, label: "Change Password", placeholder: "Password" , autocomplete: "off" %>
  <%= f.input :password_confirmation, input_html: {  :class => "hello4" }, label: false, placeholder: "Password again", autocomplete: "off" %>
 

</div>

<div class="width6">

<hr style="margin-bottom: -15px; margin-top: 35px;"/>

<div class="floatright">
<%= f.submit "Save Changes", class: "modalacceptbutton", style: "margin-top: 30px" %>
</div>

</div>

<% end %>



 <style media="screen">
  .userimage2 { background-image: url(<%= current_user.image %>); background-size: cover; border-radius: 50px; width: 100px; height: 100px; background-repeat:no-repeat; margin-right: 0 auto; margin-left: 0 auto; display: block; background-position: center; margin-bottom:0px;}
 </style>

 <script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#user_image").change(function(){
        readURL(this);
    });


    $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu5').show();
                $('#showmenu').hide();
                $('#hide').hide();
                $('.hello4').hide();
               
                
        });
    }); 

</script>

