<div class="container">
<div class="row">

<div class="span2">
<div class="username">
<%= current_user.name %>
</div>
<div class="paddingbottom">
</div>
<%= link_to ("Back to profile"), user_path(current_user), class: "blue" %>

</div>


<div class="span3">

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>

  <hr/>
  <%= f.input :email %>
  <hr/>
  <%= image_tag @user.image(:thumb) %>
  <div class="paddingbottom">
</div>
  <%= f.input :image %>
  <hr/>
  <%= f.input :password, label: "New Password", autocomplete: "off" %>
  <%= f.input :password_confirmation, label: "New Password Confirmation", autocomplete: "off" %>
  <%= f.input :current_password %>
 <hr/>
 
    <%= f.submit "Update", class: "button5"%>

<% end %>

</div>
</div>
</div>

