


<div class="container">
<div class="row">



<div class="span3">
<div class="redborder2">
<div class="logotext">
Edit Profile
</div>
</div>

<div class="redborder">

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :email %>

  <%= f.input :password, label: "New Password", autocomplete: "off" %>
  <%= f.input :password_confirmation, label: "New Password Confirmation", autocomplete: "off" %>
  <%= f.input :current_password %>

 
    <%= f.submit "Update", class: "button5"%>

<% end %>


</div>
</div>



<div class="span5 offset1">
<div class="titlecontainer">
<div class="red">
All
<%= current_user.questions.count %>
Answers
<hr/>
</div>
</div>
<% current_user.questions.each do |question| %>
<div class="questioncontainer">
<div class="editpadding">	
<%= link_to (question.comment.body), comment_questions_path(@comment) %>
</div>
</div>
<%= question.body[0,200] %>
<%= link_to ("(Read more...)"), comment_questions_path(@comment), class: "blue" %>
<hr/>

<% end %>

</div>

</div>
</div>

