<% @posts.each do |post| %>

<% if post.pictures.present? %>
<style media="screen">
.imagestrip {background-image: url(<%= post.pictures.first.image %>);}
</style>
<% end %>

<% end %>


<div class="imagestrip" style="height: 100% !important; position: fixed;">

<div class='darker' style=" 
opacity: 0.8; z-index: -1;"></div>


<div class="absoluteheader">
  <%= render 'layouts/infoheader' %>
</div>


<div class="width6">





<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :style => "margin: 0px !important;"}) do |f| %>


<div class="email">

<div class="infopage-container">
<div class="infopage-boldtext">
Almost Done
</div>
<div class="infopage-smalltext">
We still need your email.
</div>


<%= f.input :email, input_html: { :class => "infoform-email" }, placeholder: "your_email@example.com", label: false %>



</div>


<hr class="whiteimageline" style="margin-top: 0px; margin-bottom: 20px !important; opacity: 0.5"/>


<div class="infopage-infotext" style="float: left;">
We hate spam as much as you. We promise never to send you much email.
</div>

<div class="submitblueinfo" id='nextbutton' style="float: right;">
Next
</div>


</div>



<div class="profile" style="display: none;">

<div class="infopage-container">

<div class="skip-mouse">

<div class="blue-skip" id="skip-profile">
<i class="fa fa-long-arrow-right" style="color: white; margin-left: 0px;"></i>
</div>  

<div class="blue-skip-text" id="skip-profile">
Skip
</div>

</div>

<div class="infopage-boldtext">
Add a bio
</div>

<div class="infopage-smalltext">
Make it short...and sweet.
</div>


<%= f.input :age, input_html: { :class => "infoform-bio", :maxlength => 140 }, placeholder: "A one-line bio", label: false %>

</div>

<hr class="whiteimageline" style="margin-top: 0px; margin-bottom: 20px !important; opacity: 0.5"/>


<div class="infopage-infotext" style="float: left;">
You can edit this information at any time.
</div>


<div class="submitblueinfo" id="nextbutton-profile" style="float: right;">
Next
</div>


</div>


<div class="location" style="display: none;">


<div class="infopage-container">


<div class="infopage-boldtext">
Add a location
</div>
<div class="infopage-smalltext">
Where do you live?
</div>


<%= f.input :place, input_html: { :class => "infoform-email" }, placeholder: "Location", label: false %>


</div>

<hr class="whiteimageline" style="margin-top: 0px; margin-bottom: 20px !important; opacity: 0.5"/>


<div class="infopage-infotext" style="float: left;">
You can edit this information at any time.
</div>



<%= f.submit "Finish", class: "submitblueinfo", style: "float: right;" %>



</div>




<% end %>
 


<% @posts.each do |post| %>


<div class="imagepostedby" style="opacity: 0.75;">

<div class="imagepostedby-event">
<%= post.title %>
</div>

 <div class="imagepostedbytext"> 
<i class="fa fa-picture-o"></i> <%= post.pictures.first.user.name %>
</div>
</div>


<% end %>


</div>
</div>



<script>

$("#nextbutton").click(function(){
    $(".email").hide();
    $(".profile").show();
});


$("#nextbutton-profile").click(function(){
    $(".profile").hide();
    $(".location").show();
});

$("#skip-profile").click(function(){
    $(".profile").hide();
    $(".location").show();
});


</script>

