

<% if current_user.email.present? %>

<div class='span4 centered'>
<div class="sixty"></div>

<div class="completeyourprofile">
Complete Your Profile
</div>

<div class="underneathcompleteyourprofile">
<%= link_to ("Skip For Now"), root_path %>
</div>
 
<hr/>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
  <%= f.error_notification %>

</div>
<div class='span2 centered'>
<div class="userimagecomplete">
<div class="addimage">
<%= f.input :image, input_html: { :style => "opacity:0;"  }, label: false %>
</div>
<img id="blah" />
</div>
</div>
<div class='span4 centered'>
<div class="usernametext2b">  
<%= current_user.name %>
</div>  
<div class="paddingtop"></div>
<%= f.input :place, as: :text, input_html: { rows: "1", :class => "hellobio2" }, label: false,placeholder: "Location" %>


<div class="sixty"></div>


<div class="center"> 
<%= f.submit "Finish", class: "buttonred"%>
</div>
</div>


<% end %>


<% else %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
  <%= f.error_notification %>




<div class="span4 centered"> 
<div class="sixty"></div> 
<div class="completeyourprofile2">
We still need your email
</div>
<div class="paddingtop"></div>
<%= f.input :email, input_html: { :class => "hello4" }, label: "Email", placeholder: "Email" %>
<div>
<div class="center">
<div class="buttonred">
<div id="showmenu">Next</div>
</div>
</div>
</div>
    <div class="row"></div>
</div>

<div class="menu" style="display: none;">
<div class="sixtyb"></div>   
<div class="span4 centered">  

<div class="completeyourprofile">
Where do you live?
</div>

<div class="underneathcompleteyourprofile">
<%= link_to ("Skip for now"), root_path %>
</div>

<hr/>

</div>

<div class="span4 centered"> 

<div class="paddingtop"></div>
<%= f.input :place, input_html: { :class => "hello4" }, label: "Email", placeholder: "Location" %>

<div class="sixtyb"></div>
 
<%= f.submit "Done", class: "buttonredinfo"%>


</div>

<% end %>

<% end %>

<style media="screen">
  .userimage2 { background-image: url(<%= current_user.image %>); background-size: cover; border-radius: 75px; width: 150px; height: 150px; background-repeat:no-repeat;}
 </style>

<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#user_image").change(function(){
        readURL(this);
    });


    $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu').slideToggle("fast");
                $('#showmenu').hide();
                $('.twitterlogin2').hide();
                $('.buttonred').hide();
                $('.hello4').hide();
                $('.completeyourprofile2').hide();
                $('.sixty').hide();
                $('label').hide();
                $('.center').hide();
        });
    }); 

</script>


