<div class="headermargin"></div>

<% if current_user.email.present? %>

<div class='span4 centered'>

<div class="completeyourprofile">
Complete your profile
</div>

<div class="underneathcompleteyourprofile">
<%= link_to ("...or skip for now"), root_path %>
</div>
 


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
  <%= f.error_notification %>

<div class="userimagecomplete">
<div class="addimage">
<%= f.input :image, input_html: { :style => "opacity:0;"  }, label: false %>
</div>
<img id="blah" />
</div>
<div class="usernametext2">  
<%= current_user.name %>
</div>  
<div class="paddingtop"></div>
<%= f.input :place, as: :text, input_html: { rows: "1", :class => "hellobio2" }, label: false,placeholder: "Location" %>





<hr/>



<div class="center">  
<%= f.submit "Done", class: "buttonredinfo"%>
</div>
</div>


<% end %>


<% else %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
  <%= f.error_notification %>




<div class="span4 centered">  
<div class="completeyourprofile">
We still need your email
</div>

<%= f.input :email, input_html: { :class => "hello4" }, label: false,placeholder: "Email" %>
<div>
<div class="center">
<button type="button" name="answer" value="Done" onclick="showDiv()" class="buttonredinfo"> Next </>
</div>
</div>
    <div class="row"></div>

<hr/>
</div>


<div class="span4 centered">  

<div id="welcomeDiv"  style="display:none;" class="answer_list" >
<div class="completeyourprofile">
Complete your profile
</div>

<div class="underneathcompleteyourprofile">
<%= link_to ("Skip for now"), root_path %>
</div>
 

<div class="userimage2">
<div class="addimage">
<%= f.input :image, input_html: {  :style => "opacity:0;" }, label: false  %>
</div>
 <img id="blah"/>
</div>


<div class="usernametext2">  
<%= current_user.name %>
</div>  
<div class="paddingtop"></div>
<%= f.input :place, as: :text, input_html: { rows: "1", :class => "hellobio2" }, label: false,placeholder: "Location" %>

<hr/>


<div class="center">  
<%= f.submit "Done", class: "buttonredinfo"%>
</div>

</div>

<% end %>

<% end %>

<style media="screen">
  .userimage2 { background-image: url(<%= current_user.image %>); background-size: cover; border-radius: 75px; width: 150px; height: 150px; background-repeat:no-repeat;}
 </style>

<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#user_image").change(function(){
        readURL(this);
    });


    function showDiv() {
   document.getElementById('welcomeDiv').style.display = "block";
}

 var button = document.getElementById('show_button')
    button.addEventListener('click',hideshow,false);

    function hideshow() {
        document.getElementById('hidden-div').style.display = 'block'; 
        this.style.display = 'none'
    }  

</script>


