
<style>

body {background-color: rgba(51,51,51,0.1);}

</style>


<div class="topbar-nav-cover">
</div>
<div class="sidebar-nav-cover">
</div>

<div class="width5-center">





<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :style => "margin: 0px !important;"}) do |f| %>


<div class="email">

<div class="infopage-container">
<div class="infopage-boldtext">
Almost Done
</div>
<div class="infopage-smalltext">
We still need your email.
</div>


<%= f.input :email, input_html: { :class => "infoform-email", :id => "email-form", :maxlength => 140 }, placeholder: "your_email@example.com", label: false %>



</div>


<hr class="whiteimageline" style="margin-top: 0px; margin-bottom: 20px !important; opacity: 0.5"/>


<div class="infopage-infotext" style="float: left;">
Don't worry, we hate spam as much as you.
</div>

<div class="submitblueinfo-opacity" style="float: right;">
Next
</div>

<div id='email-button' style="display: none;">
<div class="submitblueinfo" id='nextbutton' style="float: right;">
Next
</div>
</div>


</div>



<div class="profile" style="display: none;">

<div class="infopage-container">

<div class="skip-mouse">

<div class="blue-skip" id="skip-profile">
<i class="fa fa-long-arrow-right" style="color: white; margin-left: 0px;"></i>
</div>  

<div class="blue-skip-text" id="skip-profile">
Skip
</div>

</div>


<div class="infopage-boldtext">
Complete Your Profile
</div>
<div class="infopage-smalltext">
Add your location (optional).
</div>

<%= f.input :place, input_html: { :class => "infoform-email", :maxlength => 140 }, placeholder: "Where do you live?", label: false %>


</div>

<hr class="whiteimageline" style="margin-top: 0px; margin-bottom: 20px !important; opacity: 0.5"/>


<div class="infopage-infotext" style="float: left;">
You can edit this information at any time.
</div>


<div class="submitblueinfo" id="nextbutton-profile" style="float: right;">
Next
</div>


</div>


<div class="location" style="display: none;">


<div class="infopage-container">

<div class="infopage-boldtext">
Complete Your Profile
</div>

<div class="infopage-smalltext">
Add a short bio about youself (optional).
</div>

<%= f.input :age, input_html: { :class => "infoform-email", :maxlength => 140 }, placeholder: "Bio...", label: false %>


</div>

<hr class="whiteimageline" style="margin-top: 0px; margin-bottom: 20px !important; opacity: 0.5"/>


<div class="infopage-infotext" style="float: left;">
You can edit this information at any time.
</div>



<%= f.submit "Finish", class: "submitblueinfo", style: "float: right;" %>



</div>




<% end %>
 


<% @posts.each do |post| %>


<div class="imagepostedby" style="opacity: 0.75;">

<div class="imagepostedby-event">
<%= post.title %>
</div>

<% if post.pictures.present? %>
 <div class="imagepostedbytext"> 
<i class="fa fa-picture-o"></i> <%= post.pictures.first.user.name %>
</div>
<% end %>
</div>


<% end %>





<script>

$(function(){
     $("#email-button").hide();

     $(".infoform-email").keyup(function() {
         var val = $(this).val();
         if (val.length > 0) {
             $('#email-button').show();
             $('.submitblueinfo-opacity').hide();
         }
         else {
             $('#email-button').hide();
         }

     });
});



$("#nextbutton").click(function(){
    $(".email").hide();
    $(".profile").show();
});


$("#nextbutton-profile").click(function(){
    $(".profile").hide();
    $(".location").show();
});

$("#skip-profile").click(function(){
    $(".profile").hide();
    $(".location").show();
});






</script>

