<%= render 'layouts/infoheader' %>

<div class='width6'>
 
<div class="width30">
<div class="settingsnavbar51info">
Sign Up
</div>
</div>

<div class="width30">
<div class="settingsnavbar50">
Complete Profile
</div>
</div>
<div class="width30">
<div class="settingsnavbar51info">
Finish
</div>
</div>

</div>

<div class="underimagemarginc"></div>



<div class="row"></div>

<% if current_user.email.present? %>
<div class="width6">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
 <div class="userbehindgrey2"> 

  <%= f.error_notification %>


<div class="underimagemargin">
   <div class="absolutepicture">

 <div class="userimage2">

<div class="addimage">
<%= f.input :image, input_html: {  :style => "opacity:0;" }, label: false  %>
</div>
 <img id="blah"/>
</div>
</div>
</div>

<div class="commentmargin10"></div>

<div class="usernametext2">  
<%= current_user.name %>
</div>  

<%= f.input :place, as: :text, input_html: { rows: "1", :class => "hellobio2" }, label: false,placeholder: "Location" %>


<div class="center"> 
<%= f.submit "Finish", class: "favouritebuttonleft"%>
</div>



<% end %>

</div>

<% else %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
  <%= f.error_notification %>


<div id="hide">
<div class="span4 centered"> 
<%= f.input :email, input_html: { :class => "hello4" }, label: "Email", placeholder: "Email" %>
</div>

<div class="center">
<div id="showmenu" class="favouritebuttonlefthide">Next</div>
</div>
</div>

<div class="menu5" style="display: none;">  

<div class="span4 centered"> 
<%= f.input :place, input_html: { :class => "hello4b", :style => "display: block;" }, label: "Location", placeholder: "Your Location" %>
 

<div class="center">
<%= f.submit "Finish", class: "favouritebuttonleft"%>
</div>

</div>
</div>

<% end %>

<% end %>




<% if current_user.image? %>
 <style media="screen">
  .userimage2 { background-image: url(<%= current_user.image %>); background-size: cover; border-radius: 55px; width: 110px; height: 110px; background-repeat:no-repeat; margin-right: 0 auto; margin-left: 0 auto; display: block; background-position: center;}
 </style>
 <% else %>
  <style media="screen">
  .userimage2 { background-image: url("http://i.imgur.com/MTQl4Q0.png"); background-size: cover; border-radius: 55px; width: 110px; height: 110px; background-repeat:no-repeat; margin-right: 0 auto; margin-left: 0 auto; display: block;}
 </style>
 <% end %>
 

<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#user_image").change(function(){
        readURL(this);
    });


    $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu5').show();
                $('#showmenu').hide();
                $('#hide').hide();
                $('.hello4').hide();
               
                
        });
    }); 

</script>


