<style media="screen">
body {background-color: rgba(245,245,245, 0.97);}
</style>


<div class="absoluteheader">
  <%= render 'layouts/infoheader' %>
</div>


<div class="width6">


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :style => "margin: 0px !important;"}) do |f| %>


<div class="email">

<div class="infopage-container">
<div class="infopage-boldtext">
Almost Done
</div>
<div class="infopage-smalltext">
We still need your email.
</div>


<%= f.input :email, input_html: { :class => "infoform" }, placeholder: "your_email@example.com", label: false %>


<div class="infopage-infotext">
We hate spam as much as you. We promise never to send you much email.
</div>


</div>


<div style="text-align: center; margin-top: 40px;">
<div class="submitblueinfo" id='nextbutton'>
Submit
</div>
</div>

</div>



<div class="profile" style="display: none;">
<div class="infopage-container">

<div class="infopage-boldtext">
One last step (optional)
</div>
<div class="infopage-smalltext">
Add some basic facts about you to make public on your profile.
</div>  

<div style="background-color: #018bc6; padding-bottom: 40px;">
<div style="padding: 30px 20px 0px 20px"></div>
</div>


<div class="infoformavatar">
<%= image_tag current_user.image %>
</div>


<div style="font-size: 20px; text-align: center; margin-bottom: 20px;">
<%= current_user.name %>
</div>

<%= f.input :age, input_html: { :class => "infoform" }, placeholder: "A short bio", label: false %>

<%= f.input :place, input_html: { :class => "infoform" }, placeholder: "Location", label: false %>

<div class="infopage-infotext">
You can edit this information at any time.
</div>

</div>

<div style="text-align: center; margin-top: 40px;">
<%= f.submit "Finish", class: "submitblueinfo" %>
</div>


</div>





<% end %>
 



</div>



<script>

$("#nextbutton").click(function(){
    $(".email").hide();
    $(".profile").slideDown();

});

</script>

