<div class="visible-desktop hidden-phone hidden-tablet">


<div class="absolute">
<div class="visible-desktop visible-tablet hidden-phone">
<div class="navbar transparent navbar-inverse ">
   <nav class="navbar-inner">
<div class="span12 centered">
<div class="loginlogo">
<%= image_tag ("http://i.imgur.com/IgMPC2v.png") %>
</div>
</div>
</nav>
</div>
</div>
</div>

<div class="relative">]
<div class="px300">
 <div class="twitterlogin">

 <%= link_to "Sign up with Twitter", user_omniauth_authorize_path(:twitter), class: "white" %>
</div>

<div class="twitterlogin2">
<div id="showmenu">Sign in with Email</div>
</div>

<div class="menu" style="display: none;">
 <div class="completeyourprofile">
Sign Up
</div> 	
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
 

  <%= f.input :name, input_html: { :class => "hello4" }, label: "Full Name",placeholder: "Full Name" %>
  <%= f.input :email, input_html: { :class => "hello4" }, label: "Email",placeholder: "yourname@example.com" %>

  <%= f.input :password, input_html: { :class => "hello4" }, label: "Password",placeholder: "Password" %>
  <%= f.input :password_confirmation, input_html: { :class => "hello4" }, label: "Password Confirmation", placeholder: "Password"%>
<div class="paddingtop">
</div>
<div class="lightcontainer">
By clicking "Sign Up" you indicate that you have read <br> and agree to the Terms of Service.
</div>	
<div class="paddingtop">
</div>
<%= f.submit "Sign Up", class: "buttonred" %>

</div>
<% end %>





<div class="hidden-desktop visible-phone visible-tablet">

<div class="span5 centered">
 

 <div class="twitterlogin">
 <div class="twitterbird">	
 <%= image_tag('http://i.imgur.com/LpDbTwS.png') %>
</div>
 <%= link_to "Sign up with Twitter", user_omniauth_authorize_path(:twitter), class: "twitterblue" %>
</div>

<div class="center">
<div class="toplight">
or
</div>
</div>



<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
 

  <%= f.input :name, input_html: { :class => "hello4" }, label: false,placeholder: "Name" %>
  <%= f.input :email, input_html: { :class => "hello4" }, label: false,placeholder: "Email" %>

  <%= f.input :password, input_html: { :class => "hello4" }, label: false,placeholder: "Password" %>
  <%= f.input :password_confirmation, input_html: { :class => "hello4" }, label: false, placeholder: "Password Confirmation"%>

<%= f.submit "Sign Up", class: "buttonred" %>

<div class="paddingtop">
<div class="lightcontainer">
By clicking "Sign Up" you indicate that you have read <br> and agree to the Terms of Service.
</div>	
</div>

<% end %>

<div class="logotext2">
 <%= link_to ("Login"), new_user_session_path, class: "blue" %>
</div>
</div>

</div>

<script>

 $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu').slideToggle("fast");
                $('#showmenu').hide();
                $('.twitterlogin2').hide();
                $('.twitterlogin').hide();
        });
    }); 
</script>
