
<div class="width6">


<% if @comments.count == 0 %>
<div class="center">
<div class="eventmargin2">
There are no answers yet. 
<% if @post.comments.count > 0 %>
<%= link_to "Explore questions instead.", newquestions_path, class: "questionnavbarlink" %>
<% end %>
</div>
</div>
<% end %>

<% @comments.each_with_index  do |question, i| %>


<div class="experimentname">
<strong><%= link_to (question.user.name), user_path(question.user) %></strong> 
<% if question.title.present? %>
 | <%= truncate(question.title, :separator => ' ', length: 55) %>
<% end %>
</div>	

<div class="row"></div>

<div class="titlecontainer30">
<%= link_to (question.comment.title), post_comment_path(question.comment.post, question.comment) %>

</div>


<div class="p2">	
 
    <%= truncate(question.body, :separator => ' ', length: 250) %>
    <%= link_to ("Read More"), post_comment_path(question.comment.post, question.comment) + "#question_#{question.id.to_s}", class: "readmore"  %>

</div>


<hr/>

<% end %>


</div>




 
