<%= div_for(comment) do %>
<div class="boxtwo">
<div class="newspaper2">
<% if comment.questions.count == 1 %>
<div class="info7">
<%= comment.questions.count %>
</div>
<div class="lightcontainer2">
 Answer
</div>
<% else %>

<div class="info7">
<%= comment.questions.count %>
</div>
<div class="lightcontainer2">
Answers
</div>
<% end %>
<div class="questioncontainer">
<%= link_to (comment.body), comment_questions_path(comment) %>
</div>







 <% if comment.questions.count > 0 %>
<div class="lightcontainer6">
Answer Bio's
</div>
<% comment.questions.select(:title).order('created_at desc').limit(3).each do |question| %> 
<div class="newspaper4"> 
<div class="answertitle">
<%= question.title %>
</div>
</div>
<% end %>
<% else %>

<div class="firstanswer">
<div class="blue2">
No one has answered yet 
</div>
<%= link_to "write the first answer", new_comment_question_path(comment, @question), class: "firstanswer" %>
</div>




<% end %>

 


</div>
</div>
<% end %>



 