<%= div_for(comment) do %>
<div class="boxtwo">
<div class="newspaper2">
<% if comment.questions.count == 1 %>
<div class="info7">
<%= comment.questions.count %>
</div>
<div class="lightcontainer2">
 Question
</div>
<% else %>
<div class="info7">
<%= comment.questions.count %>
</div>
<div class="lightcontainer2">
 Questions
</div>
<% end %>

<div class="questioncontainer">
<%= link_to (comment.body), comment_questions_path(comment) %>
</div>
 <div class="lightcontainer6">
 <%= time_ago_in_words(comment.created_at) %> ago
 </div>	
 <% if comment.questions.count > 0 %>
<div class="lightcontainer7">
Bios
</div>
<% comment.questions.select(:title).order('created_at desc').limit(3).each do |question| %> 
<div class="info2"> 
<div class="answertitle">
<%= question.title %>
</div>
</div>
<% end %>


<div class="featuredquestions"> 
<div class="lightcontainer7">
Last 1 of <%= comment.questions.count %><br>
</div>
<%= comment.questions.last.try(:[],:body)[0,200] %>
<%= link_to "(read more...)", comment_question_path(comment, @question), class: "blue"  %>
</div>

<% else %>
<div class="firstanswer">
<div class="blue2">
No one has answered yet 
</div>
<%= link_to "write the first answer", new_comment_question_path(comment, @question), class: "firstanswer" %>
</div>
<% end %>

 


</div>
</div>
<% end %>



 