


<div class="visible-desktop hidden-phone hidden-tablet">
<div class="span6 centered">


<% @comments.each_with_index  do |question, i| %>



<div class="titlecontainer2">
<%= link_to (question.comment.title), post_comment_path(question.comment.post, question.comment) %>
</div>

<% if question.user.image? %>
<div class="smallavatar">
<%= link_to (image_tag(question.user.image)), user_path(question.user) %>
</div>
<% else %>
<%= link_to (image_tag("http://i.imgur.com/OCWhfJm.png")), user_path(question.user) %>
<% end %>

<div class="lightname">
<%= question.user.name %>
</div>

<div class="p2">	
 <% if question.body.length > 250 %>
    <%= truncate(question.body, :separator => ' ', length: 250) %>
    <%= link_to_function (image_tag('http://i.imgur.com/DA3RPOK.png')), "$(this).parent().html('#{escape_javascript question.body}')", class: "blue" %>
  <% else %>
    <%= question.body %>
  <% end %>
</div>

<div class="date">
Written <%= time_ago_in_words(question.created_at) %> ago
</div>

<div class="questiondivider">
<div></div>
</div>

<% end %>




<div class="sixty"></div>




</div>
</div>

 

