<% if @post.comments.count < 1 %>
<div class="center">
<div class="paddingtop">
<strong>There are no posts yet.</strong>
</div>
</div>
<% end %>


<% @comments.each do |comment| %>
<div class="container">
<div class="row">

<div class="span2">
<div class="circle">
<%= link_to (image_tag(comment.user.image)), user_path(comment.user) %>
</div>
<div class="namepadding">
<strong><%= link_to comment.user.name, user_path(comment.user) %></strong>
</div>
</div>


<div class="span9">

<div class="newspaper2">
<div class="greysubtitle">
<%= comment.subtitle %>
</div>
<hr/>

<div class="questioncontainer">
<%= link_to (comment.title), post_comment_path(@post, comment) %>
</div>
<%= comment.body[0,300] %>
<%= link_to "(read more...)", post_comment_path(@post, comment), class: "blue"  %>


</div>
</div>
</div>
</div>

<% end %>