
<div class="width6">


<% if @comments.count == 0 %>
<div class="center">
<div class="eventmargin2">
There are no answers yet. 
<% if @post.comments.count > 0 %>
<%= link_to "Explore questions instead.", newquestions_path, class: "questionnavbarlink" %>
<% end %>
</div>
</div>
<% end %>

<% @comments.each_with_index  do |question, i| %>









<div class="titlecontainer2">
<%= link_to (question.comment.title), post_comment_path(question.comment.post, question.comment) %>

</div>


<div class="p2">	
 
    <%= truncate(question.body, :separator => ' ', length: 250) %>
    <%= link_to ("Read More"), post_comment_path(question.comment.post, question.comment) + "#question_#{question.id.to_s}", class: "readmore"  %>

</div>

<div class="tenten"></div>

<% if question.user.image? %>
<div class="smallavatar4">
<%= link_to (image_tag(question.user.image)), user_path(question.user) %>
</div>
<% else %>
<div class="smallavatar3">
<%= link_to (image_tag("http://i.imgur.com/MTQl4Q0.png")), user_path(question.user) %>
</div>
<% end %>



<div class="dividerlineright2">

<div class="lightname2">
<%= question.user.name %>
</div>	
<% if question.title? %>
<%= question.title %>
<% else %>
I am an expert in American police forces
<% end %> 
</div>

<hr/>

<% end %>


<% if @comments.count > 0 %>
<div class="bottomfeedpodium">
<%= link_to 'Podium.', root_path %>
</div>
<% end %>

</div>




 
