<% if @post.comments.count < 1 %>
<div class="center">
<div class="paddingtop">
<strong>There are no posts yet.</strong>
</div>
</div>
<% else %>

<div class="eventmargin">	
<strong><%= @post.comments.count %> Posts</strong>
</div>
<hr/>

<div class="eventmargin2"></div>

<% end %>


<% @comments.each do |comment| %>
<div class="visible-desktop hidden-phone hidden-tablet">
<div class="circleb">
<%= link_to (image_tag(comment.user.image)), user_path(comment.user) %>
</div>


<div class="attempt2">
<div class="nameblueside">
<%= link_to comment.user.name, user_path(comment.user) %>
</div>	
<div class="titlecontainer">
<%= link_to (comment.title), post_comment_path(@post, comment) %>
</div>
<%= simple_format(comment.body)[0,300] %>
<%= link_to "(read more...)", post_comment_path(@post, comment), class: "blue"  %>

<div class="namemargin">
</div>
<hr6/>
</div>






<% end %>


 