
<%= div_for(comment) do %>
 <div class="span10 offset1">
 
 <div class="lightcontainer4">
 <%= time_ago_in_words(comment.created_at) %> ago
 </div>	
 <div class="questioncontainer">
<%= link_to (comment.body), comment_questions_path(comment) %>


 </div>

 <% if comment.questions.count > 0 %>
  
  <div class="lightcontainer">

 1 of <%= comment.questions.count %> Answers
 
</div>

 <div class="featuredquestions">
  <div class="answertitle">
  <strong><%= comment.questions.last.try(:[],:title) %></strong><br>
  </div>
  <%= comment.questions.last.try(:[],:body)[0,300] %>
  <%= link_to "(read more...)", comment_question_path(comment, @question), class: "blue"  %>
  </div>
   <% end %>	
 
<hr />


 <% if current_user.try(:admin?) %>
<div class="underanswercontainer2">
<%= link_to "Upvote", upvote_post_comment_path(@post, comment) %>
</div>
<% end %>


</div>

<% end %>



 