


<div class="visible-desktop hidden-phone hidden-tablet">
<div class="span6 centered">


<% @comments.each_with_index  do |question, i| %>



<div class="titlecontainer2">
<%= link_to (question.comment.title), post_comment_path(question.comment.post, question.comment) %>
</div>

<div class="namesmall">
<%= question.user.name %>
</div>

<p>	
 <% if question.body.length > 250 %>
    <%= truncate(question.body, :separator => ' ', length: 250) %>
    <%= link_to_function (image_tag('http://i.imgur.com/DA3RPOK.png')), "$(this).parent().html('#{escape_javascript question.answer.body}')", class: "blue" %>
  <% else %>
    <%= question.body %>
  <% end %>
</p>


<div class="opacityzero">
<hr6/>
</div>


<% end %>




<div class="sixty"></div>




</div>
</div>

 

