<% if @post.comments.count < 1 %>
<div class="center">
<div class="eventmargin2">
There are no posts yet.
</div>
</div>
<% else %>

<div class="eventmargin2">	
<%= @post.comments.count %> people are answering questions
</div>
<hr/>


<% end %>


<% @comments.each do |comment| %>
<div class="visible-desktop hidden-phone hidden-tablet">
<div class="circleb">
<%= link_to (image_tag(comment.user.image)), user_path(comment.user) %>
</div>


<div class="attempt2">
<div class="nameblueside">
<%= link_to comment.user.name, user_path(comment.user) %>
</div>	
<div class="postinterviewtext2">
 asked <%= comment.questions.count %> questions
</div>
<div class="namebluesidemargin">
</div>
<div class="titlecontainer">
<%= link_to (comment.title), post_comment_path(@post, comment) %>
</div>
<p>
<%= simple_format(comment.body)[0,300] %>
<%= link_to "(read more...)", post_comment_path(@post, comment), class: "blue"  %>
</p>
<div class="namemargin">
</div>
<hr6/>
</div>






<% end %>


 