<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.0pr3/build/cssgrids-responsive/cssgrids-responsive-min.css">


<div class="visible-desktop hidden-phone hidden-tablet">
<div class="span7 centered">


<div class="unansweredtag">
Answered
</div>


<div class='yui3-g'>
	


<% @comments.each_with_index  do |comment, i| %>
<% if comment.questions.count > 0 %>
<div class="yui3-u-1-2">
<% if i.odd? %>
<div class="interviewgrid">


<% if i > 1 %>
<div class="opacityzero">
<hr6/>
</div>
<div class="gridmargin"></div>
<% end %>

<div class="titlecontainer2">
<%= link_to (comment.title), post_comment_path(@post, comment) %>
</div>
<div class="interviewgriddate">
<%= time_ago_in_words(comment.created_at) %> ago
</div>
<div class="postinterviewtext4">
 <%= pluralize(comment.questions.count, 'question') %>
</div>




</div>


<% else %>
<div class="interviewgrid2">

<% if i > 1 %>
<div class="opacityzero">
<hr6/>
</div>
<div class="gridmargin"></div>
<% end %>



<div class="titlecontainer2">
<%= link_to (comment.title), post_comment_path(@post, comment) %>
</div>
<div class="interviewgriddate">
<%= time_ago_in_words(comment.created_at) %> ago
</div>
<div class="postinterviewtext4">
<%= pluralize(comment.questions.count, 'question') %>
</div>






</div>
<% end %>
</div>
<% end %>
<% end %>



</div>

<div class="sixty"></div>

<div class="unansweredtag">
Unanswered
</div>

<% @comments.each_with_index  do |comment, i| %>
<% unless comment.questions.count > 0 %>
<div class="titlecontainer5">
<%= link_to (comment.title), post_comment_path(@post, comment) %>
</div>
<div class="interviewgriddate2">
<%= time_ago_in_words(comment.created_at) %> ago
</div>
<% end %>
<% end %>

</div>
</div>

 

