



<%= simple_form_for [@post, Comment.new], url: post_comments_path(@post)  do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<div class="width5">


<%= f.input :body, as: :text, input_html: { :class => "post-form post-text-inline" }, label: false ,placeholder: "Write here..." %>


<div id="choose-post-circles">
<i class="material-icons add-post-icon" id='picture-icon-click'>camera_alt</i>
<i class="material-icons add-post-icon" id='video-icon-click'>videocam</i>
<i class="fa fa-twitter add-post-icon"  id='tweet-icon-click'></i>
<i class="material-icons add-post-icon" id='quote-icon-click'>format_quote</i>
<i class="material-icons add-post-icon" id='link-icon-click'>link</i>	
</div>

<div id="link-form" style="display: none;">
<%= f.input :link, as: :text, input_html: { :class => "post-form", :maxlength => 140 }, label: false ,placeholder: "Past article URL" %>
</div>

<div style="margin-top: 20px;"></div>

</div>

<div class="width2">

<%= f.submit "Post", class: "button-text-upper" %>


<hr/>

</div>








<div class="row"></div>






<% end %>


<div class="row"></div>

<script>


$("#link-icon-click").click(function(){ 
	$("#choose-post-circles").hide();
	$("#link-form").show();
});


</script>