

<div class="width5-center">
<hr/>

<%= link_to current_user.name, user_path(current_user), class: "post-form-nav-name" %>





<%= simple_form_for [@post, Comment.new], url: post_comments_path(@post)  do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>


<%= f.input :title, as: :text, input_html: { :class => "post-form ask-question-inline", :maxlength => 140 }, label: false ,placeholder: "What is your question?" %>


<%= f.submit "Post", class: "submitbluemodal" %>


<% end %>

</div>


