

<%= simple_form_for [@post, Comment.new] do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>


<%= f.input :title, as: :text, input_html: { rows: "1", :class => "hello" }, label: false,placeholder: "Title" %>
<div class="paddingtop"></div>

<%= f.input :body, as: :text, input_html: { rows: "1", :class => "hello3 inputBody", :style => "margin-bottom: 20px;" }, label: false, placeholder: "Write" %>


<div class="underbutton2"></div> 
<%= f.submit "Post", class: "button5 myButton" %>

 <% end %>

