<% @hidden.each_with_index do |question, i| %>
<div id="question_<%= question.id %>" style="padding-top: 35px;">



<div class="leftinfoimage">
 <div class="smallavatarfeednomargin2">
   <%= link_to (image_tag(question.user.image)), user_path(question.user) %>
 </div>
</div>

<div class="rightinfo">
 <div class="lightname" style="font-size: 16px;">
   <%= link_to (question.user.name), user_path(question.user), class: "blue" %>
 </div>  

 <div class="datecenter" style="font-size: 15px; opacity: 0.5;">
   <%= question.title %> 
 </div>
</div>


<div style="margin-bottom: 16px !important;"> </div>

<%= simple_format(question.body) %>

<div class="datecenter">
  <%= time_ago_in_words(question.created_at) %> ago
  <% if current_user == question.user or current_user.try(:admin?) %>
    | <%= link_to "Edit", edit_comment_question_path(question.comment, question) %>
  <% end %>
</div>


<div class="row"></div>

<% if user_signed_in? %>

<% if current_user.voted_for? question %>
 <div class="clicked">
   Upvoted
 </div>
<% else %>

<%= link_to upvote_comment_question_path(question.comment, question), class: "hoverblueupvote", remote: true, method: :put do %>
 <div class="upvotebutton2-<%= question.id %>">
   + <div style="display: inline;opacity: 0.3;">|</div> Upvoted
 </div>
<% end %>

 <div class="clicked-<%= question.id %>" style="display: none;">
   Upvoted
 </div>
<% end %>

<% else %>

<%= link_to new_user_registration_path do %>
<div class="upvotebutton2">
  Upvote
</div>

<% end %>
<% end %>



<% if question.votes.count > 0 %>
 <div class="answersnumber" style=" font-size: 12px; float: left;  line-height: 29px; color: #018bc6;">
 </div>
<% else %>
 <div class="answersnumber" style=" font-size: 12px; float: left;  line-height: 29px; color: #018bc6;">
    No upvotes yet
  </div>
<% end %>



<div class="row"></div>


 


  
<% if question.links.present? %>
<div class="commentwidth"> 
<hr class="linelinks"/>
 <% question.links.limit(1).each do |link| %>
   <%= render :partial => 'firstcomment', locals: {link:link} %>
  <% end %>
<hr/>
</div>
  <% else %>

  <div class="<%= question.id %>">
  Add the first comment...
</div>
<% end %>









<div class="menu-<%= question.id %>" style="display: none;">
 <div id="linkmama-<%= question.id %>">
   <%= render :partial => 'newlink', locals: {question:question} %>
  </div>
  <div id="linkformmama-<%= question.id %>">
    <%= render :partial => "links/form", locals: {question:question} %>
  </div>
</div>




<hr/>



<script>

$(document).ready(function() {
        $('.<%= question.id %>').click(function() {
               
                $('.menu-<%= question.id %>').toggle();
                $('.eventtoptext3').hide();
                
                
        });

   $('.cancelslideup').click(function() {
    $('.menu').slideUp("fast");
    $('.eventtoptext3').show();

     }); 
    }); 

$(document).ready(function(){
    $('.showbuttons-<%= question.id %>').click(function(){
        $('.hiddenbuttons').toggle();
    });
}); 

$(document).ready(function() {
        $('.upvotebutton2-<%= question.id %>').click(function() {
                $('.clicked-<%= question.id %>').show();
                $('.upvotebutton2-<%= question.id %>').hide();
                $('.commenttextbeside-<%= question.id %>').hide();
                $('.commenttextbesideblue-<%= question.id %>').show();
                
        });
    }); 

</script>


 <style media="screen">
  .clicked-<%= question.id %> {   
    display: inline;
   background: rgba(51,51,51,0.2) !important;
   padding: 8px 12px 8px 12px;
   font-size: 12px;
   font-weight: bold;
   margin-top: 8px;
   float: right;
   color: white !important;
   border-radius: 1px;
   box-shadow: 1px 1px 1px rgba(51,51,51,0.1);

   
} 
  .upvotebutton2-<%= question.id %> {   
   display: inline-block;
   background: #018BC6 !important;
   padding: 10px 15px 9px 15px;
   font-size: 12px;
   font-weight: bold;
   float: left;
   margin-top: 20px;
   margin-right: 15px;
   color: white !important;
   border-radius: 1px;
   box-shadow: 1px 1px 1px rgba(51,51,51,0.05);
   
   
 } 


   .upvotebutton2-<%= question.id %>:hover {  
    
     
    

  }

  .commenttextbeside-<%= question.id %> {    font-size: 11px;
    display: inline-block;
    line-height: 27px !important;
    opacity: 0.5;
    float: left;
    margin-right: 15px;}
  .commenttextbesideblue-<%= question.id %> { font-size: 11px;
    display: inline-block;
    line-height: 27px !important;
    color: #018BC6 !important;
    float: left;
    margin-right: 15px;} 

</style>   














<% end %>
