<div class="post-form-nav">
<%= link_to current_user.name, user_path(current_user), class: "post-form-nav-name" %>	

<div id="step1">

<div class="form-head">
Image
</div>
<div class="form-head-light">
Source
</div>

</div>


<div id="step2" style="display: none;">

<div class="form-head-light">
Image
</div>
<div class="form-head">
Source
</div>

</div>



</div>





<div class="row"></div>

<div id="image-options">


<div class="row"></div>
<div class="fake-post-form">

<div style="font-size: 12px; color: rgba(51,51,51,0.5); margin-bottom: 10px; cursor: pointer;" id="upload">
<i class="fa fa-picture-o" style="margin: 0px; margin-right: 15px; font-size: 24px; display: inline-block; color: #f99625;"></i>
Upload photo
</div>
<div style="font-size: 12px; color: rgba(51,51,51,0.5); cursor: pointer;">
<i class="fa fa-external-link" style="margin: 0px; margin-right: 15px; font-size: 24px; display: inline-block; color: #f99625;"></i>Add photo from the web
</div>



</div>
</div>




<%= simple_form_for [@post, Comment.new], url: post_comments_path(@post)  do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<div id="image" style="display: none;">


<div class="fake-post-form">
<i class="fa fa-picture-o" style="margin: 0px; margin-right: 15px; font-size: 28px; display: block; margin: 0 auto; color: #f99625; position: absolute;"></i>
<%= f.input :image, input_html: { :style => "opacity:0;" }, label: false %>
</i>
</div>
<img id="blah2"/>



<div class="submitbluemodal" id="caption-next">
Next
</div>


</div>



<div id="caption" style="display: none;">

<%= f.input :about, as: :text, input_html: { :class => "post-form", :maxlength => 140 }, label: false ,placeholder: "Image caption" %>


<div class="submitbluemodal" id="source-next">
Next
</div>

</div>


<div id="source" style="display: none;">

<%= f.input :link, as: :text, input_html: { :class => "post-form", :maxlength => 140 }, label: false ,placeholder: "Paste source URL" %>


<%= f.submit "Post", class: "submitbluemodal" %>

</div>






<div class="row"></div>






<% end %>





<div class="row"></div>

<script>


$("#upload").click(function(){
    $("#image").show();
    $("#image-options").hide();
});

$("#caption-next").click(function(){
    $("#image").hide();
    $("#caption").show();
});

$("#source-next").click(function(){
    $("#source").show();
    $("#caption").hide();
    $("#step1").hide();
    $("#step2").show();
});


function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah2').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#comment_image").change(function(){
        readURL(this);
    });


</script>






