<div class="post-form-nav">
<%= link_to current_user.name, user_path(current_user), class: "post-form-nav-name" %>	

<div id="step1-link">

<div class="form-head">
Article Title
</div>
<div class="form-head-light">
Link
</div>

</div>


<div id="step2-link" style="display: none;">

<div class="form-head-light">
Article Title
</div>
<div class="form-head">
Link
</div>

</div>



</div>


<div class="row"></div>



<%= simple_form_for [@post, Comment.new], url: post_comments_path(@post)  do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<div id="link">
<%= f.input :info, as: :text, input_html: { :class => "post-form post-text-inline" }, label: false ,placeholder: "Article Title" %>

<div class="submitbluemodal" id="link-source-next">
Next
</div>

</div>


<div id="link-source" style="display: none;">
<%= f.input :link, as: :text, input_html: { :class => "post-form", :maxlength => 140 }, label: false ,placeholder: "Past article URL" %>
<%= f.submit "Post", class: "submitbluemodal" %>
</div>



<div class="row"></div>






<% end %>


<div class="row"></div>

<script>

$("#link-source-next").click(function(){
    $("#link").hide();
    $("#link-source").show();
    $("#step2-link").show();
    $("#step1-link").hide();
});





</script>