<div class="products">
<% @questions.each_with_index do |question, i| %>
<div id="question_<%= question.id %>" style="padding-top: 30px;">

<div class="smallavatar">
<%= link_to (image_tag(question.user.image)), user_path(question.user) %>
</div>




<div class="lightname">
<%= link_to (question.user.name), user_path(question.user) %>
</div>	

<div class="row"></div>

<div class="title50">
<% if question.title? %>
<%= question.title %>
<% else %>
I am an expert in American police forces
<% end %> 
</div>


<p>
<%= simple_format(question.body) %>
</p>

<div class="date">
Written <%= time_ago_in_words(question.created_at) %> ago
</div>

<div class="belowanswer10"></div>

<% if user_signed_in? and current_user == question.user %>
<div class="showbuttons-<%= question.id %>">
<i class="fa fa-ellipsis-h"></i>
</div>

<div class="hiddenbuttons" style="display: none;">
<div class="editanswer">
<%= link_to "Edit Answer", edit_comment_question_path(question.comment, question), class: "opacity7" %>
<%=  link_to "Delete Answer", comment_question_path(question.comment, question), method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, class: "opacity7" %>
</div>
</div>

<% end %>

<div class="centericons">
<div class="lightcontainercomment"> 


<% if user_signed_in? %>

<% if current_user.voted_for? question %>
<div class="clicked"></div>
<div class="commenttextbesideblue">
Upvoted
</div>
<% else %>
<%= link_to upvote_comment_question_path(question.comment, question), class: "hoverblueupvote", remote: true, method: :put do %>
<div class="upvotebutton2-<%= question.id %>"></div>
<% end %>
<div class="commenttextbeside-<%= question.id %>">
Upvote
</div>
<div class="clicked-<%= question.id %>" style="display: none;"></div>
<div class="commenttextbesideblue-<%= question.id %>" style="display: none;">
Upvoted
</div>
<% end %>


<% else %>
<%= link_to new_user_registration_path do %>
<div class="upvotebutton2b"></div>
<% end %>
<div class="commenttextbeside">
Upvote
</div>
<% end %>



<div class="<%= question.id %>">


<div class="commenttextbeside2hover">
<div class="commentbutton"></div>
</div>
</div>

<div class="commenttextbeside2">
Comments
</div>

</div>


<div class="row"></div>

</div>

<div class="menu-<%= question.id %>" style="display: none;">


<div id="linkmama">
<%= render :partial => 'newlink', locals: {question:question} %>
</div>
<div id="linkformmama">
<%= render :partial => "links/form", locals: {question:question} %>
</div>




</div>


<hr class="anchorline"/>



<script>

$(document).ready(function() {
        $('.<%= question.id %>').click(function() {
               
                $('.menu-<%= question.id %>').toggle();
                $('.eventtoptext3').hide();
                
                
        });

   $('.cancelslideup').click(function() {
    $('.menu').slideUp("fast");
    $('.eventtoptext3').show();

     }); 
    }); 

$(document).ready(function(){
    $('.showbuttons-<%= question.id %>').click(function(){
        $('.hiddenbuttons').toggle();
    });
}); 

$(document).ready(function() {
        $('.upvotebutton2-<%= question.id %>').click(function() {
                $('.clicked-<%= question.id %>').show();
                $('.upvotebutton2-<%= question.id %>').hide();
                $('.commenttextbeside-<%= question.id %>').hide();
                $('.commenttextbesideblue-<%= question.id %>').show();
                
        });
    }); 

</script>


 <style media="screen">
  .clicked-<%= question.id %> {   background-image: url("http://i.imgur.com/fzrbKut.png");
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #018BC6;
    float: left;
   margin-right: 5px;
} 
  .upvotebutton2-<%= question.id %> {   background-image: url("http://i.imgur.com/garYnbH.png"); 
   width: 24px;
   height: 24px;
   display: inline-block;
   border: 1px solid rgba(51,51,51,0.5);
   border-radius: 2px;
   float: left;
   margin-right: 5px;
   opacity: 0.7;} 

   .upvotebutton2-<%= question.id %>:hover {  background-image: url("http://i.imgur.com/fzrbKut.png");
    border: 1px solid #018BC6;
    opacity: 1 !important;
    color: #018BC6 !important;}

  .commenttextbeside-<%= question.id %> {    font-size: 11px;
    display: inline-block;
    line-height: 25px !important;
    opacity: 0.5;
    float: left;
    margin-right: 15px;}
  .commenttextbesideblue-<%= question.id %> { font-size: 11px;
    display: inline-block;
    line-height: 25px !important;
    color: #018BC6 !important;
    float: left;
    margin-right: 15px;} 

</style>   


</div>
<% end %>

</div>
