<div class="post-form-nav">
<%= link_to current_user.name, user_path(current_user), class: "post-form-nav-name" %>	

<div id="step1-quote">

<div class="form-head">
Text
</div>
<div class="form-head-light">
Source
</div>

</div>


<div id="step2-quote" style="display: none;">

<div class="form-head-light">
Text
</div>
<div class="form-head">
Source
</div>

</div>



</div>


<div class="row"></div>



<%= simple_form_for [@post, Comment.new], url: post_comments_path(@post)  do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<div id="quote">

<div class="post-form" style="padding: 10px 0px 20px 0px !important;">
<%= f.input :body, as: :text, input_html: { :class => "post-form-white post-quote-inline" }, label: false ,placeholder: "Quote Text" %>


<%= f.input :quote_author, as: :text, input_html: { :class => "post-form-white post-quote-author-inline" }, label: false ,placeholder: "Quote Author" %>

<%= f.input :about, as: :text, input_html: { :class => "post-form-white post-quote-author-bio-inline" }, label: false ,placeholder: "Quote Author Bio" %>

</div>

<div class="submitbluemodal" style="color: #f99625" id="quote-source-next">
Next
</div>

</div>


<div id="quote-source" style="display: none;">
<%= f.input :link, as: :text, input_html: { :class => "post-form", :maxlength => 140 }, label: false ,placeholder: "Past source URL" %>
<%= f.submit "Post", class: "submitbluemodal" %>
</div>



<div class="row"></div>






<% end %>


<div class="row"></div>

<script>

$("#quote-source-next").click(function(){
    $("#quote").hide();
    $("#quote-source").show();
    $("#step2-quote").show();
    $("#step1-quote").hide();
});





</script>