<div class="eventtoptextmobile">
<%= link_to (@comment.post.title), post_comment_path(@comment.post, @comment) %>
</div>

<% if @comment.image? %>
<div class="interviewbanner">
<%= image_tag @comment.image %>
</div>
<% end %>

<hr/>

<div class="circlecommentmobile">
<%= link_to (image_tag(@comment.user.image)), user_path(@comment.user) %>
</div>

<div class="attempt">

<div class="namebluesidemobile">
<%= link_to @comment.user.name, user_path(@comment.user) %>
</div>	

<div class="toplight2">
<%= time_ago_in_words(@comment.created_at) %> ago <br>
</div>

<div class="namebluesidemargin">
</div>

<div class="titlecontainer">
<%= @comment.title %>
</div>

<div class="descriptionpadding">	
<%= simple_format(@comment.body) %>
</div>



</div>


<div class="favouritebuttonmargin"></div>


<div class="floatright">
<div class="lightcontainer6">
<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_post_comment_path(@post, @comment) %>
<%= link_to 'Delete', post_comment_path(@post, @comment), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>

<% if @comment.user == current_user %>
<%= link_to 'Edit', edit_post_comment_path(@post, @comment), class: "lightcontainer6" %>
<%= link_to 'Delete', post_comment_path(@post, @comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "lightcontainer6" %>
<% end %>
</div>
</div>


<div class="favouritebuttonmargin"></div>

<div class="eventmargin">
<%= @comment.questions.count %> Questions
</div>

<hr/>

<div class="favouritebuttonmargin"></div>


<% @questions.each do |question| %>
<% if question.answer.present? %>

<div class="circlecomment">
<%= image_tag question.user.image %>
</div>


<div class="lightname">
<%= question.user.name %>
</div>


<div class="commentquestion">
<%= question.body %>
</div>


<div class="commentmargin10"></div>
<div class="lightname">
<%= question.comment.user.name %>
</div>

<div class="commentquestionanswer">	
<p>
<%= question.answer.body %>
</p>
<div class="lightcontainercomment">
<%= link_to (image_tag("http://i.imgur.com/WaGz5vN.png")), upvote_comment_question_path(question.comment, question) %>
<%= time_ago_in_words(question.answer.created_at) %> ago
</div>
<hr6/>
</div>
<% else %>

<% end %>


<% end %>

<div>
</div>


<%= render :partial => "questions/form" %>

<div class="eventmargin">	
<strong>Unanswered Questions</strong>
</div>

<hr/>

<% @questions.each do |question| %>
<% unless question.answer.present? %>
<div class="circlecomment">
<%= image_tag question.user.image %>
</div>

<div class="lightname">
<%= question.user.name %>
</div>

<div class="commentquestion">
<%= question.body %>
</div>

<% if @comment.user == current_user %>

<div class="commentmargin10"></div>

<div class="circlecomment2">
<%= image_tag question.comment.user.image %>
</div>

<div class="commentquestionanswer">
<div class="attempt">	
<div class="lightname">
<%= current_user.name %>
</div>
<p>
<%= link_to "Answer", new_question_answer_path(question), class: "fakeenter" %>
<p/>
</div>
<hr6/>
</div>

<% end %>


<div class="commentquestionmargin"></div>

<% end %>
<% end %>




