<div class="titlecontainershowmobile">
<%= @comment.title %>
</div>


<div class="circlecommentmobile2">
<%= link_to (image_tag(@comment.user.image)), user_path(@comment.user) %>
</div>

<div class="attempt">


<div class="namebluesidemobile">
<%= link_to @comment.user.name, user_path(@comment.user) %>
</div>	
<div class="eventtoptextmobile">
<%= link_to (@comment.post.title), post_comment_path(@comment.post, @comment) %>
</div>
<div class="interviewdate">
<%= time_ago_in_words(@comment.created_at) %> ago <br>
</div>


</div>

<hr/>
<div class="commentlabel">
About
</div>
<%= simple_format(@comment.body) %>
<div class="commentlabelmargin"></div>

<div class="commentlabel2">
Ask 
</div>

<%= simple_format(@comment.about) %>

<div class="margin40"></div>

<div class="hrevent"></div>

<div class="eventtoptext4">
<%= pluralize(@comment.questions.count, 'Question') %>
</div>


<div class="margin40"></div>


<% @questions.each do |question| %>
<% unless question.answers.blank? %>
<div class="sixty"></div>

<div class="lightname">
<%= link_to (question.user.name), user_path(question.user), class: "bordernone" %>
</div>

<div class="commentquestionmobile">
<%= question.body %>
</div>


<div class="commentmargin10"></div>

<p>	
 <% if question.answer.body.length > 250 %>
    <%= truncate(question.answer.body, :separator => ' ', length: 250) %>
    <%= link_to_function '(Read more...)', "$(this).parent().html('#{escape_javascript question.answer.body}')", class: "blue" %>
  <% else %>
    <%= question.answer.body %>
  <% end %>
</p>
<div class="lightcontainercomment2">
<%= time_ago_in_words(question.answer.created_at) %> ago
</div>


<div class="lightcontainercomment">	
<% if user_signed_in? %>
<% if current_user.voted_for? question %>
<%= image_tag ("http://i.imgur.com/gNpXAWn.png") %>
<% else %>
<%= link_to (image_tag("http://i.imgur.com/SYYaeQ4.png")),                    upvote_comment_question_path(question.comment, question), remote: true, method: :put %>

<% end %>
<% else %>
<%= link_to (image_tag("http://i.imgur.com/SYYaeQ4.png")), new_user_registration_path %>
<% end %>

</div>
<hr6/>

<% else %>

<% end %>


<% end %>


<div class="sixty"></div>
<% unless @comment.active? %>

<%= render :partial => "questions/form" %>

<% end %>
<div class="sixty"></div>




<% if @unanswered.length > 0 %>

<div class="hrevent"></div>
<div class="eventtoptext4">	
Unanswered Questions
</div>
<div class="commentquestionmargin"></div>

<%= render 'comments/unansweredquestionshow' %>
<% end %>

<% if @unanswered.length > 2 %>
<%= link_to "See all...", unansweredquestions_post_comment_path, class: "favouritebuttonleft", id: "new_link", :remote => true %>
<% end %>




