<div class="post-form-nav">


<div class="form-head">
Tweet
</div>

<div class="form-head-light">

</div>


<%= link_to current_user.name, user_path(current_user), class: "post-form-nav-name" %>


</div>


<div class="row"></div>


<div id="form">
<%= simple_form_for [@post, Comment.new], url: post_comments_path(@post)  do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>


<%= f.input :tweet, as: :text, input_html: { :class => "post-form", :maxlength => 140 }, label: false ,placeholder: "Paste a URL from Twitter" %>




<%= f.submit "Post", class: "submitbluemodal" %>


<div class="row"></div>






<% end %>
</div>

<div class="row"></div>

<script>

$(".guidelines-next").click(function(){
    $("#form").show();
    $("#guidelines").hide();
});

$("#close-question").click(function(){
    $(".plus-post-buttons").hide();
});



</script>