<div class="width6">

<div class="sixty"></div>

<div class="eventtoptext2">
<%= link_to (@comment.user.name), user_path(@comment.user.name) %>
</div>

<%= simple_form_for [@post, @comment], :html => { :method => :put } do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<%= f.input :title, as: :text, input_html: { rows: "1", :class => "hello" }, label: "Edit Question",placeholder: "Question" %>


<div class="row"></div>

<div class="floatright">
 <%= link_to 'Delete Interview', post_comment_path(@post, @comment), method: :delete, data: { confirm: 'This question will be deleted. Are you sure?' }, class: "favouritebuttonleft" %>   
</div>

<%= f.submit "Save Changes", class: "favouritebuttonleft" %>

 <% end %>



</div>

<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#user_image").change(function(){
        readURL(this);
    });

</script>
