<div class="container">
 <div class="row">
<div class="span4">
<div class="commentimage">
  <%= image_tag @post.image(:small) %>    
 </div>
</div>
<div class="span6">
<div class="titlecontainer">
<%= @post.title %>
</div>
<div class="info">
<div class="newspaper4"> 
<%= time_ago_in_words(@post.created_at) %> ago <br>
</div>
<div class="newspaper4"> 
<div class="blue">
<%= @post.country %>
</div>
</div>
</div>

<div class="descriptioncontainer2">
<%= @post.description %>
</div>
</div>
</div>
</div>

<div class="row">


<div class="span10">
<hr />
<div class="questioncontainer3">  
<div class="button3">
Ask Question
</div>
</div>

<div class="number2">
<%= @post.comments.count %> Questions 
</div>

</div>



<div class="span10">
<div class="floatright">

<%= link_to ("x"), post_path(@post), class: "x" %>

</div>
<%= render 'form' %>

</div>






