<div class="visible-desktop hidden-phone hidden-tablet">

<div class="container">
<div class="row">
<div class="span1">

<%= link_to (image_tag(current_user.image)), user_path(current_user) %>

</div>

<div class="span6">
<%= render 'form' %>
</div>

<div class="span3 offset2">
<div class="eventimage">
 <div class="titlecontainershow">
<%= link_to (@post.title), post_path(@post) %>
</div>   
 <style media="screen">
  .eventimage::after { background-image: url(<%= @post.image %>); background-size: cover;}
 </style>


 </div>

</div>






</div>
</div>



<div class="visible-phone visible-tablet">

<%= render 'form' %>

</div>

 





















 








