<div class="darker2">
<div class="imagestrip">
<div class='darker'></div>
<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>

<div class="absolutecontainer">
<div class="relativecontainer">
<div class="eventimagepreviewtext">
<%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
</div>
</div>
</div>
</div>
</div>


<div class="width6">



<div class="titlecontainer">
<%= @comment.title %>
</div>


<hr class="aboveimageline"/>

<div class="answersnumber">
<%= pluralize(@comment.questions.count, 'Answer') %>
</div>


<div class="floatright">
<% if user_signed_in? %>	

<i class="fa fa-plus-circle" href="#Answer" role="button" data-toggle="modal"></i>
<a href="#Answer" role="button" data-toggle="modal" class="modalaskquestion">Answer</a>

<% else %>	
<%= link_to "Answer", new_user_registration_path, class: "askquestionright" %>
<%= link_to new_user_registration_path do %>
<i class="fa fa-plus-circle"></i>
<% end %>
<% end %>
</div>




<hr class="belowimageline2"/>

<div>


<%= render 'comments/questions' %>


<%= will_paginate @questions %>
</div>

<div class="questiondivider">
<div></div>
</div>

<div class="center">

<% if @comment.questions.count > 0 %>
<% if user_signed_in? %>	
<%= link_to "Add Your Answer", new_comment_question_path(@comment), class: "favouritebuttonleft" %>
<% else %>
<%= link_to "Add Your Answer", new_user_registration_path, class: "favouritebuttonleft" %>
<% end %>
<% else %>
<div class="eventmargin2">
There are no answers yet.
</div>

<% end %>
</div>

<div class="paddingbottom30"></div>



</div>


<% if @questions.count > 0 %>
<div class="darker2">
<div class="imagestrip">
<div class='darker'></div>
<div class="absolutecontainer">
<div class="relativecontainer">
<div class="eventimagepreviewtext">
<%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
</div>
</div>
</div>
</div>
</div>
<% end %>




<style media="screen">
  .imagestrip { background-image: url(<%= @comment.post.image %>); }
  .navbar .brand {color: white !important; opacity: 1 !important;} 
  .headtext {color: white !important;} 
  .fa-bell-o { color: white !important;}
  .headtext {color: white !important;} 
  .navbar .nav > li > a {color: white !important;} 
</style>


                       <div id="Answer" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Before you answer...</h3>
    <div class="underpodiumhome">
    Please read the answer guidlines before posting.
    </div>
  </div>

  <div class="modal-body">
  	<div class="center">
    <%= link_to "Continue", new_comment_question_path(@comment), class: "favouritebuttonleft" %>
</div>
  </div>
</div>
