<div class="darker2">
<div class="imagestrip">
<div class='darker'></div>
<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>

<div class="absolutecontainer">
<div class="relativecontainer">
<div class="eventimagepreviewtext">
<%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
</div>
</div>
</div>
</div>
</div>

<% if current_user.try(:admin?) %>
<%= link_to edit_post_comment_path(@comment.post, @comment) do %>
<i class="fa fa-cog"></i>
<% end %>

<% end %>


<div class="width6">



<div class="titlecontainer">
<%= @comment.title %>
</div>



<hr class="aboveimageline"/>

<div class="answersnumber">
<%= pluralize(@comment.questions.count, 'Answer') %>
</div>


<div class="floatright">
<% if user_signed_in? %>	

<i class="fa fa-plus-circle" href="#Answer" role="button" data-toggle="modal"></i>
<a href="#Answer" role="button" data-toggle="modal" class="modalaskquestion">Answer</a>

<% else %>	
<%= link_to "Answer", new_user_registration_path, class: "askquestionright" %>
<%= link_to new_user_registration_path do %>
<i class="fa fa-plus-circle"></i>
<% end %>
<% end %>
</div>




<hr class="belowimageline2"/>

<div>

<div id="products" data-no-turbolink>
<%= render 'comments/questions' %>
</div>

<%= will_paginate @questions %>
</div>


<% if @hidden.count > 0 %>

<div id="showmenu" class="answersnumberhidden">
<%= pluralize(@hidden.count, 'Answer')  %> Hidden
</div>


<div class="hiddenquestions" style="display: none;"> 
<%= render 'comments/hiddenquestions' %>
</div>

<hr class="belowimageline2hidden"/>

<% end %>

<div class="questiondivider">
<div></div>
</div>


<% if @comment.questions.count > 0 %>
<div class="center">
<% if user_signed_in? %>	
<a href="#Answer" role="button" data-toggle="modal" class="favouritebuttonleft">Add Answer</a>
<% else %>
<%= link_to "Add Your Answer", new_user_registration_path, class: "favouritebuttonleft" %>
<% end %>
</div>
<% else %>
<div class="center">
<div class="eventmargin2">
There are no answers yet.
</div>
</div>
<% if @comment.post.comments.count > 1 %>
<hr class="relatedquestionsline"/>
<div class="row"></div>
<div class="eventmargin2" style="padding: 0px;">
Related Questions
</div>
<div class="row"></div>
<% @comment.post.comments.where("comments.id NOT IN (?)", @comment.id).limit(3).each do |comment| %>
<div class="date4" style='margin: 20px 0px 0px 0px;'>
Asked <%= time_ago_in_words(comment.created_at) %> ago
</div>
<div class="relatedquestions">
<%= link_to (comment.title), post_comment_path(comment.post, comment) %>
</div>
<div class="nameblueside3" style="font-size: 12px;">
<%= link_to (pluralize(comment.questions.count, 'Answer')), post_comment_path(@post, comment), class: "blue"  %> 
</div>
<div class="row"></div>
<% end %>
<% end %>
<% end %>


<div class="paddingbottom30"></div>



</div>


<% if @questions.count > 0 %>
<div class="darker2">
<div class="imagestrip">
<div class='darker'></div>
<div class="absolutecontainer">
<div class="relativecontainer">
<div class="eventimagepreviewtext">
<%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
</div>
</div>
</div>
</div>
</div>
</div>
<% end %>




<% unless @comment.post.pictures.count == 0 %>
<style media="screen">
 .imagestrip { background-image: url(<%= @comment.post.pictures.last.image %>); }
</style>
<% end %>
<style media="screen">
  .navbar .brand {color: white !important; opacity: 1 !important;} 
  .headtext {color: white !important;} 
  .fa-bell-o { color: white !important;}
  .headtext {color: white !important;} 
  .navbar .nav > li > a {color: white !important;} 
  .alert-danger { opacity: 1 !important; color: white !important;}
</style>


                       <div id="Answer" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style="padding-bottom: 0px !important;">
    <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="underpodiumhomeguidelinesbig">
    Answer Guidelines
  </div>
  <div class="center">
    <div class="underpodiumhomeguidelines">
    Please read the following guidelines before answering:
   
</div>
    </div>
  </div>

  <div class="modal-body" style="padding-top: 0px !important; margin-top: -30px;">
   <div class="userbehindgrey3"> 
    <div class="underpodiumhomeguidelines">
    <strong>Answers should...</strong>
    <br>
    - Directly respond to the question
    <br>
    - Be factual, authentic and cite sources used (at the bottom of answer)
    <br>
    - Not personally attack the question or any other answers
    <br>
    Answers that do not comply may be hidden, or in some cases, deleted
    </div>
  </div>
    
  	<div class="center">
    <%= link_to "Got it", new_comment_question_path(@comment), class: "favouritebuttonleft" %>
</div>
  </div>
</div>


<script>
    $(document).ready(function() {
        $('#showmenu').click(function() {
                
                $('.hiddenquestions').show();
                $('.belowimageline2hidden').hide();
                
               
                
        });
    }); 

</script>
