<% unless @comment.post.pictures.count == 0 %>
<style media="screen">
 .imagestrip { background-image: url(<%= @comment.post.pictures.last.image %>); }
</style>
<% end %>
<style media="screen">
  .read-more-<%= @comment.id %> { opacity: 0.4;}
</style>


<% if current_user.try(:admin?) %>
 <%= link_to edit_post_comment_path(@comment.post, @comment) do %>
  <i class="fa fa-cog"></i>
 <% end %>
<% end %>



 <div class="imagestrip">
  <div class='darker'></div>
   <div class="absoluteheader">
     <%= render 'layouts/headerimage' %>
   </div>

<% if current_user.try(:admin?) %>
  <%= link_to edit_post_comment_path(@comment.post, @comment) do %>
    <i class="fa fa-pencil-square-o"></i>
  <% end %>
<% end %>


<% if user_signed_in? %>  
  <a href="#Answer" role="button" data-toggle="modal" class="bluecircle white">+</a>
<% else %>  
  <%= link_to "+", new_user_registration_path, class: "bluecircle white" %>
<% end %>


<div class="absolutecontainer">
 <div class="relativecontainer">
  <div class="descriptionmargin"> 

   <div class="eventimagepreviewtext">
     <%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
   </div>

    <hr class="whiteimageline"/>

    
     <% if @comment.events.present? %>
      <div class="eventlight">
        Event:
      </div>
      <%= link_to (@comment.events.first.title), post_event_path(@comment.post, @comment.events.first), class: "eventlinkdark" %>
      <% end %>

   </div>
  </div>
 </div>


</div>

<div class="width6">


<div style="margin-top: 35px;"></div>

<div class="widthquestioncontainer">

 <div class="titlecontainer">
  <%= @comment.title %>
 </div>


 <i class="fa fa-star-o"></i>
 <i class="fa fa-share-square-o"></i>

</div>

<div class="widthinfocontainer">
<div class="dividerhead" style="padding: 0px; margin: 13px 0px 10px 0px; float: right;">
ANSWERS
</div>  
<div class="row"></div>
<% @questions.limit(3).each do |question| %>
  <%= link_to (question.user.name), user_path(question.user), class: "blue floatright" %>
<% end %>
<div class="row"></div>
<hr class="line30" style="float: right; margin-top: 15px; margin-bottom: 15px;"/>
<div class="row"></div>
<div class="dividerhead" style="padding: 0px; margin: 0px 0px 10px 0px; float: right;">
ASKED
</div>
<div class="row"></div>
<div class="userprofile-event floatright" style="font-size: 12px;">
<%= time_ago_in_words(@comment.created_at) %> ago
</div>
<div class="row"></div>
<hr class="line30" style="float: right; margin-top: 15px; margin-bottom: 15px;"/>

</div>

<div class="row"></div>


<hr class="line30" style="margin: 15px 0px 0px 0px;"/>




<% if @comment.info.present? %>
<div class="questionsdetailsbox-show">
<strong>Background:</strong>
  <div style="display: inline;">
  <% if @comment.info.length > 150 %>
    <%= truncate(@comment.info, length: 150) %>
    <%= link_to '(more)', '', class: "read-more-#{@comment.id}" %>
    <script>
      $('.read-more-<%= @comment.id %>').on('click', function(e) {
        e.preventDefault()
        $(this).parent().html('<%= escape_javascript @comment.info %>')
      })
    </script>
  <% else %>
    <%= @comment.info %>
  <% end %>
</div>
<div style="margin-top: 5px;">
  <%= link_to truncate(@comment.link, :length => 50), url_for(@comment.link), :target => "_blank", style: "opacity: 0.4;" %>
 </div>
</div>


<hr class="line30info"/>



<% end %>



<% if @questions.count == 0 %>
  <div style="margin-top: 15px;"></div>
    <div class="shownoactivity-text">
      There are no published answers yet.
    </div>
    <div class="row"></div>
    <a href="#Answer" role="button" class="submitblue" style="display: inline-block;" data-toggle="modal">Write an answer</a>
<% end %>


<div id="products" data-no-turbolink>
  <%= render 'comments/questions' %>
</div>

<%= will_paginate @questions %>



<% if @hidden.count > 0 %>
  <hr class="dividerline"/>
  <div id="showmenu" class="dividerhead">
    <%= pluralize(@hidden.count, 'Unpublished Answer').upcase %>
  </div>

<div class="hiddenquestions" style="display: none;"> 
  <%= render 'comments/hiddenquestions' %>
</div>

<% end %>











<% @comment.post.questions.where("comments.id NOT IN (?)", @comment.id).limit(3).each do |comment| %>

<% end %>


</div>


<% if @questions.count > 0 %>

<% end %>









  <div id="Answer" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-header">
    <button type="button" class="close2" style="font-size: 24px; color: #018bc6 !important;" data-dismiss="modal" aria-hidden="true">×</button>
    Answer Guidelines
    <div class="modal-header-text">
      Please read the following guidelines before answering:
    </div>
  </div>

  <div class="modal-body">
    <div class="modal-header-box">
      <strong>Self-promotion</strong> in answers is permitted only in the context of a sincere, helpful, and direct response, otherwise it is considered to be spam.
Answers promoting products or services must include a disclosure of any affiliations that might inform the answer's interpretation.
<div style='margin-top: 10px;'></div>
<strong>Self-promotional</strong> links that do not form a part of a direct and helpful response to the question are not allowed in answers.
Affiliate links are not allowed.
<div style='margin-top: 10px;'></div>
<strong>Answers</strong> must not violate the Be Nice, Be Respectful policy, e.g. by containing personal attacks, disrespectful or insulting attacks on the question or other answers, or hate speech.
Answers should be written in English with correct spelling, punctuation, and grammar, and sentence capitalization.
    </div>
  </div>

  <div class="modal-footer">
  <hr style="margin-top: 0px; margin-bottom: 30px;"/>
    <%= link_to "OK, I AGREE", new_comment_question_path(@comment), class: "modalacceptbutton" %>
  <div class="modaldecline">
    CANCEL
  </div>
  </div>

</div>

<script>
    $(document).ready(function() {
        $('#showmenu').click(function() {
                
                $('.hiddenquestions').show();
                $('.belowimageline2hidden').hide();
                
               
                
        });
    }); 

</script>


<div class="sixty"></div>
