<div class="visible-phone hidden-desktop hidden-tablet">
<%= render 'comments/showmobile' %>
</div>
<div class="visible-tablet hidden-desktop hidden-phone">
<%= render 'comments/showtablet' %>
</div>

<div class="visible-desktop hidden-phone hidden-tablet">

<div class="container">
<div class="row"> 


<div class="span1 offset1">
<div class="circle">
<%= link_to (image_tag(@comment.user.image)), user_path(@comment.user) %>
</div>
<div class="namepadding">
<%= link_to @comment.user.name, user_path(@comment.user) %>
</div>
</div>

<div class="span7">


<div class="titlecontainer">
<%= @comment.title %>
</div>


<%= simple_format(@comment.body) %>

<div class="favouritebuttonmargin"></div>

<div class="container">
<div class="row"> 
<div class="span2">
<% if user_signed_in? %>
<%= link_to ("+ Your Page"), upvote_post_comment_path(@post, @comment), class: "favouritebutton" %>
<% else %>
<%= link_to ("+ Your Page"), new_user_registration_path, class: "favouritebutton" %>
<% end %>
</div>
<div class="span5">
<div class="floatright">
<div class="lightcontainer6">
 Posted <%= time_ago_in_words(@comment.created_at) %> ago <br>
<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_post_comment_path(@post, @comment) %>
<%= link_to 'Delete', post_comment_path(@post, @comment), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>

<% if @comment.user == current_user %>
<%= link_to 'Edit', edit_post_comment_path(@post, @comment), class: "lightcontainer6" %>
<%= link_to 'Delete', post_comment_path(@post, @comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "lightcontainer6" %>
<% end %>
</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="span7">
<hr6/>
</div>
</div>

<% @questions.each do |question| %>
<% if question.answer.present? %>

<div class="circlecomment">
<%= image_tag question.user.image %>
</div>


<div class="lightcontainer6">
<%= question.user.name %>
</div>

<div class="commentquestion">
<%= question.body %>
</div>

<div class="commentmargin10"></div>
<div class="circlecomment2">
<%= image_tag question.comment.user.image %>
</div>

<div class="commentquestionanswer">
<div class="attempt">	
<%= question.answer.body %>
<div class="lightcontainercomment">
<%= time_ago_in_words(question.answer.created_at) %> ago
</div>
</div>
<hr6/>
</div>
<% else %>

<% end %>


<% end %>

<div>
<%= render :partial => "questions/form" %>
</div>

<%= link_to ("All questions"), comment_questions_path(@comment), class: "favouritebutton" %>
</div>

<div class="span2 offset1">

<div class="mobilepadding10">
<strong><%= link_to (@comment.post.title), post_path(@comment.post) %> </strong>
</div>
<hr/>
</div>


</div>
</div>













 
