<div class="visible-phone hidden-desktop hidden-tablet">
<%= render 'comments/showmobile' %>
</div>
<div class="visible-tablet hidden-desktop hidden-phone">
<%= render 'comments/showtablet' %>
</div>

<div class="visible-desktop hidden-phone hidden-tablet">
<div class="span7 centered">

<div class="circleb">
<%= link_to (image_tag(@comment.user.image)), user_path(@comment.user) %>
</div>
<div class="attempt">
<div class="online">
<div class="nameblueside2">
<%= link_to @comment.user.name, user_path(@comment.user) %>
</div>
on
<div class="eventtoptext2">
<%= link_to (@comment.post.title), post_path(@comment.post) %>
</div>

<div class="interviewdate">
<%= time_ago_in_words(@comment.created_at) %> ago
</div>
</div>
</div>

<div class="titlecontainer">
<%= @comment.title %>
</div>


<div class="row"></div>
<hr5/>



<div class="underneath">	
<p>
<%= @comment.body %>
</p>
</div>





<div class="lightcontainer6">
<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_post_comment_path(@post, @comment) %>
<%= link_to 'Delete', post_comment_path(@post, @comment), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>

<% if @comment.user == current_user %>
<%= link_to 'Edit', edit_post_comment_path(@post, @comment), class: "lightcontainer6" %>
<%= link_to 'Delete', post_comment_path(@post, @comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "lightcontainer6" %>
<% end %>
</div>



<div class="favouritebuttonmargin"></div>
<%= pluralize(@comment.questions.count, 'Question') %>

<hr/>

<div class="favouritebuttonmargin"></div>


<% @questions.each do |question| %>
<div id="<%= question.id %>">
<% if question.answer.present? %>
<div class="circlecomment">
<%= image_tag question.user.image %>
</div>

<div class="lightname">
<%= question.user.name %>
</div>


<div class="commentquestion">
<%= question.body %>
</div>


<div class="commentmargin10"></div>

<div class="commentquestionanswer">
<div class="attempt">	
<p>
<%= question.answer.body %>
</p>
<div class="lightcontainercomment">
<% if current_user.voted_for? question %>
<%= image_tag ("http://i.imgur.com/Md4N4Ge.png") %>
<% else %>
<%= link_to (image_tag("http://i.imgur.com/I8mHZaF.png")), upvote_comment_question_path(question.comment, question), remote: true, method: :put %>
<% end %>
<%= time_ago_in_words(question.answer.created_at) %> ago
</div>
</div>
<hr6/>
</div>
</div>
<% else %>

<% end %>


<% end %>

<div>
</div>

<div class="favouritebuttonmargin"></div>


<%= render :partial => "questions/form" %>

<div class="favouritebuttonmargin"></div>

<div class="favouritebuttonmargin"></div>

<div class="eventmargin">	
<strong>Unanswered Questions</strong>
</div>

<hr/>

<%= render 'comments/unansweredquestionshow' %>


<%= link_to "See all...", unansweredquestions_post_comment_path, class: "favouritebuttonleft", id: "new_link", :remote => true %>


</div>

</div>











 
