<div class="visible-phone hidden-desktop hidden-tablet">
<%= render 'comments/showmobile' %>
</div>
<div class="visible-tablet hidden-desktop hidden-phone">
<%= render 'comments/showtablet' %>
</div>

<div class="visible-desktop hidden-phone hidden-tablet">
<div class="span7 centered">

<div class="circleb">
<%= link_to (image_tag(@comment.user.image)), user_path(@comment.user) %>
</div>

<div class="nameblueside2">
<%= link_to @comment.user.name, user_path(@comment.user) %>
</div>


<div class="on">
on
</div>
<div class="eventtoptext2">
<%= link_to (@comment.post.title), post_path(@comment.post) %>
</div>

<div class="interviewdate">
<%= time_ago_in_words(@comment.created_at) %> ago
</div>

<div class="row"></div>
<div class="hrevent"></div>

<div class="titlecontainer">
<%= @comment.title %>
</div>

<div class="underneath">
<p>
<%= @comment.body %>
</p>
</div>




<div class="lightcontainer6">
<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_post_comment_path(@post, @comment) %>
<%= link_to 'Delete', post_comment_path(@post, @comment), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>

<% if @comment.user == current_user %>
<%= link_to 'Edit', edit_post_comment_path(@post, @comment), class: "lightcontainer6" %>
<%= link_to 'Delete', post_comment_path(@post, @comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "lightcontainer6" %>
<% end %>
</div>

<div class="margin40"></div>

<div class="hrevent"></div>

<div class="eventtoptext4">
<%= pluralize(@comment.questions.count, 'Question') %>
</div>

<div class="eventtoptext3">
<a href="#form">Ask Question</a>
</div>

<div class="favouritebuttonmargin"></div>


<% @questions.each do |question| %>
<div id="<%= question.id %>">
<% if question.answer.present? %>

<div class="lightname">
<%= question.user.name %>
</div>

<div class="attempt">
<div class="commentquestion">
<%= question.body %>
</div>
</div>

<div class="commentmargin10"></div>

	

<div class="redline">
<p>	
 <% if question.answer.body.length > 250 %>
    <%= truncate(question.answer.body, :separator => ' ', length: 250) %>
    <%= link_to_function '(Read more...)', "$(this).parent().html('#{escape_javascript question.answer.body}')", class: "blue" %>
  <% else %>
    <%= question.answer.body %>
  <% end %>
</p>
<div class="lightcontainercomment2">
<%= time_ago_in_words(question.answer.created_at) %> ago
</div>
</div>



<div class="lightcontainercomment">
<% if user_signed_in? %>
<% if current_user.voted_for? question %>
<%= image_tag ("http://i.imgur.com/gNpXAWn.png") %>
<% else %>
<%= link_to (image_tag("http://i.imgur.com/SYYaeQ4.png")),                    upvote_comment_question_path(question.comment, question), remote: true, method: :put %>
<% end %>
<% else %>
<%= link_to (image_tag("http://i.imgur.com/SYYaeQ4.png")), new_user_registration_path %>
<% end %>

</div>
<hr6/>



<% else %>

<% end %>

</div>
<% end %>


<div class="favouritebuttonmargin"></div>

<a name="form">
<%= render :partial => "questions/form" %>
</a>

<div class="favouritebuttonmargin"></div>

<div class="favouritebuttonmargin"></div>



<div class="hrevent"></div>
<div class="eventtoptext4">	
Unanswered Questions
</div>
<div class="commentquestionmargin"></div>

<%= render 'comments/unansweredquestionshow' %>


<%= link_to "See all...", unansweredquestions_post_comment_path, class: "favouritebuttonleft", id: "new_link", :remote => true %>


</div>

</div>









 
