<div class="usernameshowcontainer">
<div class="span2">
 
  
 <div class="usernamecontainer">
 
 Posted by <%= @comment.user.name %>
 
 <%= time_ago_in_words(@comment.created_at) %> ago <br>
 
 <%= link_to "Ask a question", new_comment_question_path(@comment) %>

 <%= render :partial => @comment.questions %>
</div>
</div>
</div>

 <div class="span6">
 <body id="eventhead">
 <h1><%= (@comment.title) %></h1>

<div class="commentshowcontainer">

 <%= @comment.body %>
</div>
</div>



 
