<div class="width5-center">
<%# locked %>
<% unless @comment.published %>
This question is locked
<% end %>  



<% if @comment.published and @published.blank? %>
<div class="no-answers-yet">
No Answers Yet
<div style="font-size: 16px;">
There are no answers yet.
</div>
</div>

Tweet this question

<% end %>









<div id="products" data-no-turbolink>
  <%= render 'comments/questions' %>
</div>

<%= will_paginate @questions %>




<% if @hidden.present? %>
<hr class="dividerline"/>

<div class="unpublished-box">
<%= link_to unpublished_path(@comment), :remote => true, class: "unpublished-link", data: { disable_with: "Loading..." } do %>
Unreviewed Answers (<%= @hidden.count %>)
<% end %>

<div style="margin-top: 5px"></div>
These answers have not been reviewed by editors to confirm they follow Podium's <%= link_to "answer guidelines", guidelines_path(:anchor => "answers"), :target => "_blank", class: "blue" %>.
</div>

<div id="unpublished">
</div>
<div class="row"></div>
<% end %>


<% if user_signed_in? %>
<hr/>

<div class="small-avatar-feed-square">
<%= image_tag(current_user.image) %>
</div>
+ Answer
<% end %>




<% if @related.where("comments.id NOT IN (?)", @comment.id).present? %>
<hr class="dividerline"/>
<div class="dividerhead">
Related Posts
</div>
<% @related.where("comments.id NOT IN (?)", @comment.id).limit(2).each do |comment| %>
<%= render :partial => "layouts/#{comment.feed}_post", locals: {comment:comment} %>

<% end %>

<% end %>




</div>

<div class="fullpage-modal-container"> 

  <div class="fullpage-modal" style="display: none;">
<button type="button" class="close-modal-slide" data-dismiss="modal" aria-hidden="true">×</button>
<hr class="modalline-slide" style="margin-top: 0px"/>
<%= render :partial => "pages/answerguidelines", :object => @comment %>
</div>
</div>

<script>
   $(document).ready(function() {
        $('#follow-<%= @comment.id %>').click(function() {
                $('#followed-<%= @comment.id %>').show(); 
                 $('#follow-<%= @comment.id %>').hide();
        });
    }); 
</script>


<% if user_signed_in? %>



<% else %>


<div class="blue-slider-position">

<div class="login-recommend-add-div" style="display: none;">
   <div class="blue-slider">
    <button type="button" class="close-twitter" data-dismiss="modal" aria-hidden="true">×</button>
    <%= render :partial => "devise/sessions/new" %>
   </div>
 </div>

</div>


<% end %>


<script>

$('#logged-in.bluecircle, #logged-in.dividerheadinline, .close-modal-slide').click(function () {
        $('.fullpage-modal').toggle('slide', {
            direction: 'top'
        }, 300);
    });

</script>

<script>
$('.submit-share, .close-twitter, #submit-share').click(function () {
        $('.share-social').toggle('slide', {
            direction: 'right'
        }, 300);
    });

$('#login-recommend-add, .close-twitter, .recommend-logged-out, #share-signin').click(function () {
    if($('.login').is(':visible')){
    $('.login').fadeOut(function () {
        $('.login-recommend-add-div').toggle('slide', {
            direction: 'right'
        }, 300);
    });
    }
    else{
        $('.login-recommend-add-div').toggle('slide', {
            direction: 'right'
        }, 300, function(){ $('.login').fadeIn();});
    }
});





</script>


