<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.0pr3/build/cssgrids-responsive/cssgrids-responsive-min.css">


<style media="screen">
  .imagestrip { background-image: url(<%= @comment.post.image %>); }
</style>

<div class="visible-desktop hidden-phone hidden-tablet">

<div class='span11 centered'>
<div class="darker2">
<div class="imagestrip">
<div class='darker'></div>
<div class="span6 centered">
<div class="eventimagepreviewtext">
<%= link_to (@comment.post.title), post_path(@comment.post), class: "whiteblue" %>
</div>	
</div>
</div>
</div>
</div>


<div class="span6 centered">

<div class="commentshowmargin"></div>


<div class="titlecontainer">
<%= @comment.title %>
</div>

<div class="nameblueside2">
<%= link_to @comment.user.name, user_path(@comment.user), class: "blue" %>
</div>

<div class="interviewdate">
<%= time_ago_in_words(@comment.created_at) %> ago
</div>

<div class="commentshowmargin"></div>

<div class="hrevent"></div>

<div class="answersnumber">
<%= pluralize(@comment.questions.count, 'Answer') %>
</div>

<div class="askquestionright">
<% if user_signed_in? %>	
<%= link_to "Answer Question", new_comment_question_path(@comment), class: "blue" %>
<% else %>
<%= link_to "Answer Question", new_user_registration_path, class: "blue" %>
<% end %>
</div>

<div class="commentshowmargin"></div>


<% @questions.each do |question| %>
<div id="<%= question.id %>">

<div class="lightname">
<%= link_to (question.user.name), user_path(question.user), id: "question_#{question.id}", class: "bordernone" %>
</div>

<p>
<%= question.body %>
</p>



<div class="lightcontainercomment">	
<% if user_signed_in? %>

<% if current_user.voted_for? question %>
<%= image_tag ("http://i.imgur.com/gNpXAWn.png") %>
<% else %>
<%= link_to upvote_comment_question_path(question.comment, question), remote: true, method: :put do %>
<div class="upvotebutton2"></div>
<% end %>
<% end %>


<% else %>
<%= link_to (image_tag("http://i.imgur.com/SYYaeQ4.png")), new_user_registration_path %>
<% end %>


<hr6/>


</div>
<% end %>




<% if user_signed_in? %>	
<%= link_to "Answer Question", new_comment_question_path(@comment), class: "bluebutton" %>
<% else %>
<%= link_to "Answer Question", new_user_registration_path, class: "bluebutton" %>
<% end %>


<div class="paddingbottom30"></div>


<% if @commentnext.next.present? %>
<div class="hrevent"></div>
<div class="answersnumber">	
More Questions
</div>
<div class='sixty'></div>


<div class="titlecontainer2">
<%= link_to "#{@commentnext.next.title}", post_comment_path(@post, @commentnext.next) %>
</div>

<div class="nameblueside2">
<%= link_to @commentnext.next.user.name, user_path(@commentnext.next.user), class: "blue" %>
</div>
<div class="interviewdate">
<%= time_ago_in_words(@commentnext.next.created_at) %> ago
</div>




<% end %>

</div>

</div>


<div class="visible-phone hidden-desktop hidden-tablet">
<%= render 'comments/showmobile' %>
</div>
<div class="visible-tablet hidden-desktop hidden-phone">
<%= render 'comments/showtablet' %>
</div>



<script>

$(document).ready(function(){
    $('.upvotebutton2').click(function(){
        $(this).toggleClass("clicked");
    });
});

</script>





 
