


<% if activity.trackable %>

<div class="experimentname">
<%= link_to activity.owner.name, activity.owner if activity.owner %>
commented on your answer to...
</div>

<div class="row"></div>

<div class="titlecontainer30">
<%= activity.trackable.question.comment.title %>
</div>


<div class="p3">	
 
    <%= truncate(activity.trackable.question.body, :separator => ' ', length: 120) %>
    <%= link_to ("Read More"), comment_question_path(activity.trackable.question.comment, activity.trackable.question) + "#question_#{activity.trackable.question.id.to_s}", class: "readmore"  %>

</div>

<div class="commentwidth">
<hr class="abovecomments2"/>


<div class="smallavatar3">
<%= link_to (image_tag(activity.trackable.user.image)), user_path(activity.trackable.user) %>
</div>



<div class="commentdescriptiontext">
<div class="commentdescriptionname">	
<%= activity.trackable.user.name %>
</div>	
<% if activity.trackable.description? %>
<%= activity.trackable.description %>
<% end %> 
<div class="row"></div>
<div class="date3">
<%= time_ago_in_words(activity.trackable.created_at) %> ago
</div>
</div>



</div>
<hr/>

<% else %>


<% end %>


