<% @links.each do |link| %>

<div class="titlecontainer30">
<%= link_to (link.question.comment.title), post_comment_path(link.question.comment.post, link.question.comment) %>

</div>


<div class="p2">  
 
    <%= truncate(link.question.body, :separator => ' ', length: 250) %>
    <%= link_to ("Read More"), comment_question_path(link.question.comment, link.question) + "#question_#{link.question.id.to_s}", class: "readmore"  %>

</div>

<div class="commentwidth">
<hr class="abovecomments2"/>


<div class="smallavatar3">
<%= link_to (image_tag(link.user.image)), user_path(link.user) %>
</div>



<div class="commentdescriptiontext">
<div class="commentdescriptionname">  
<%= link.user.name %>
</div>  
<% if link.description? %>
<%= link.description %>
<% end %> 
<div class="row"></div>
<div class="date3">
<%= time_ago_in_words(link.created_at) %> ago
</div>
</div>



</div>

<div class="row"></div>

<hr class="commentfeedline"/>





<% end %>