
<div class="sidebar-profile-nav">



<div class="avatar-border">
<div class="userprofileimage-image">
 <%= image_tag @user.image %>
</div>
</div>



<div class="userprofileimage-name">
<%= @user.name %>
</div>

<div class="userprofileimage-username">
<i class="fa fa-twitter" style="color: #288bff; font-size: 18px; display: inline-block; margin-right: 4px;"></i> 
@nevanwhiteside
<% if @user.twitter.present? %> 
<%= link_to truncate('@nevanwhiteside', length:10), "http://www.twitter.com/", :target => "_blank", style: "color: #288bff !important;" %>
<% end %>
</div>

<% if @user.place.present? %>  
<div class="userprofileimage-username">
<i class="fa fa-map-marker"></i> 
<%= @user.place %>
</div>
<% end %>



<% if current_user == @user %>

<hr style="margin-bottom: 15px;"/>
<i class="material-icons profile-settings" id="blue-edit-profile">settings</i>


<div class="fullpage-modal-container">  

  <div class="fullpage-modal" style="display: none;">
<button type="button" class="close-modal-slide" data-dismiss="modal" aria-hidden="true">×</button>
<hr class="modalline-slide" style="margin-top: 0px"/>
 <%= render :partial => "devise/registrations/edit" %>
</div>
</div>

<% end %>







</div>







 








