<% @questions.group_by {|q| q.comment.post}.take(5).each_with_index do |(post, questions), i| %>

<% if post.present? %>

<style media="screen">
  .experimentstrip-<%= post.id %> { background-image: url(<%= post.image %>); }
  .navbar .brand {color: white !important;opacity: 1 !important;} 
  .headtext {color: white !important;} 
  .navbar .nav > li > a {color: white !important;} 
  .fa-bell-o { color: white !important;}
  .alert-danger { opacity: 1 !important; color: white !important;}
  .usernametext2 {  color: white !important;}
  .floatleftprofile { color: white !important;}
  .floatrightprofile { opacity: 1 !important; color: white !important; border-left: 1px solid rgba(255, 255, 255, 0.7)}
  .profilelinezero {  border-top: 1px solid rgba(255, 255, 255, 0.7) !important;}
  .floatleftprofile { padding-bottom: 0px !important; border-left: 1px solid rgba(255, 255, 255, 0.7)}
  .abovenumber { opacity: 1 !important; color: white !important;}

</style>




<% if i == 0 %>


<div class="experimentstrip-<%= post.id %>" style="position: relative; width: 100%;
  height: 500px; background-size: cover;
    background-repeat: no-repeat;
    background-position: center; margin-bottom: 30px;">
   <div class="darker"></div>
<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>

  <div class="absolutecontainerprofile">
<div class="relativecontainerprofile">
<div class="userprofilewhite">

<%= render 'users/userhead' %>
<div class="floatrightprofile">	

<div class="abovenumber">
Upvotes
</div>
<div class="belownumber">	
<%= @questions.count %>
</div>

</div>

<%= link_to userinterviews_path(@user) do %>
<div class="floatleftprofile">	
<div class="abovenumber">	
Answers
</div>
<div class="belownumber">	
<%= @comment.count %>
</div>
</div>
<% end %>

<%= link_to usercomments_path(@user) do %>
<div class="floatleftprofile">	
<div class="abovenumber">	
Comments
</div>
<div class="belownumber">	
<%= @links.count %>
</div>
</div>
<% end %>

<div class="row"></div>

</div>
</div>
</div>

<div class="row"></div>

   <div class="absolutecontainer">
<div class="relativecontainer">




   <div class="eventimagepreviewtext">
<%= link_to (post.title), post_path(post), class: "whiteblue" %>
</div>
</div>
</div>
</div>

<% else %>

<div class="experimentstrip-<%= post.id %>" style="position: relative; width: 100%;
  height: 200px; background-size: cover;
    background-repeat: no-repeat;
    background-position: center; margin-bottom: 30px; margin-top: 30px">
   <div class="darker"></div>
   <div class="absolutecontainer">
<div class="relativecontainer">
   <div class="eventimagepreviewtext">
<%= link_to (post.title), post_path(post), class: "whiteblue" %>
</div>
</div>
</div>
</div>


<% end %>

<% end %>

<div class="width6">
<% for question in questions %>

<div class="titlecontainer30">
<%= link_to (question.comment.title), post_comment_path(question.comment.post, question.comment) %>

</div>

<div class="p2">	
 
    <%= truncate(question.body, :separator => ' ', length: 330) %>
    <%= link_to ("Read More"), comment_question_path(question.comment, question) + "#question_#{question.id.to_s}", class: "readmore" %>

</div>

<div class="five">


<div class="feedimage">
<%= image_tag question.user.image %>
</div>

<div class="experimentname">
<strong><%= link_to (question.user.name), user_path(question.user) %></strong> 
<% if question.title.present? %>
 | <%= truncate(question.title, :separator => ' ', length: 55) %>
<% end %>
</div>	

</div>

<div class="row"></div>

<hr class="commentfeedline"/>

<% end %>

</div>

<% end %>


