<% @questions.group_by {|q| q.comment.post}.take(5).each_with_index do |(post, questions), i| %>

<% if post.present? %>
<% unless post.pictures.count == 0 %>
<style media="screen">
  .experimentstrip-<%= post.id %> { background-image: url(<%= post.pictures.last.image %>); }
</style>
<% end %>

<style media="screen">
  
  .navbar .brand {color: white !important;opacity: 1 !important;} 
  .headtext {color: white !important;} 
  .navbar .nav > li > a {color: white !important;} 
  .fa-bell-o { color: white !important;}
  .alert-danger { opacity: 1 !important; color: white !important;}
  .usernametext2 {  color: white !important;}
  .floatleftprofile { color: white !important;}
  .floatrightprofile { opacity: 1 !important; color: white !important; border-left: 1px solid rgba(255, 255, 255, 0.7)}
  .profilelinezero {  border-top: 1px solid rgba(255, 255, 255, 0.7) !important;}
  .floatleftprofile { padding-bottom: 0px !important; border-left: 1px solid rgba(255, 255, 255, 0.7)}
  .abovenumber { opacity: 1 !important; color: white !important;}

</style>




<% if i == 0 %>


<div class="experimentstrip-<%= post.id %>" style="position: relative; width: 100%;
  height: 350px; background-size: cover;
    background-repeat: no-repeat;
    background-position: center; margin-bottom: 35px;">
   <div class="darker"></div>
<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>

  <div class="absolutecontainerprofile">
<div class="relativecontainerprofile">
<div class="userprofilewhite">

<%= render 'users/userhead' %>
<div class="floatrightprofile">	

<div class="abovenumber">
Upvotes
</div>
<div class="belownumber">	
<%= @questions.count %>
</div>

</div>

<%= link_to userinterviews_path(@user) do %>
<div class="floatleftprofile">	
<div class="abovenumber">	
Answers
</div>
<div class="belownumber">	
<%= @comment.count %>
</div>
</div>
<% end %>

<%= link_to usercomments_path(@user) do %>
<div class="floatleftprofile">	
<div class="abovenumber">	
Comments
</div>
<div class="belownumber">	
<%= @links.count %>
</div>
</div>
<% end %>

<div class="row"></div>

</div>
</div>
</div>

<div class="row"></div>

   <div class="absolutecontainer">
<div class="relativecontainer">

<div class="descriptionmargin"> 
<div class="eventimagepreviewtext">
<%= link_to (post.title), post_path(post), class: "whiteblue", style: "font-size: 14px;" %>
</div>

<hr class="whiteimageline" style="margin-top: 13px !important; margin-bottom: 15px !important;"/>
</div>

</div>
</div>
</div>

<% else %>

<div class="experimentstrip-<%= post.id %>" style="position: relative; width: 100%;
  height: 250px; background-size: cover;
    background-repeat: no-repeat;
    background-position: center; margin-bottom: 35px; margin-top: 35px">
   <div class="darker"></div>
   <div class="absolutecontainer">
<div class="relativecontainer">

<div class="descriptionmargin"> 
<div class="eventimagepreviewtext">
<%= link_to (post.title), post_path(post), class: "whiteblue", style: "font-size: 14px;" %>
</div>
<hr class="whiteimageline" style="margin-top: 13px !important; margin-bottom: 15px !important;"/>
</div>


</div>
</div>
</div>


<% end %>

<% end %>

<div class="width6">
<% for question in questions %>

<div class="titlecontainer30">
<%= link_to (question.comment.title), post_comment_path(question.comment.post, question.comment) %>
</div>

<div style="padding-top: 25px "></div>

<div class="row"></div>

<div class="smallavatarfeednomargin2">
<%= image_tag question.user.image %>
</div>

<div class="lightnametopblue"> 
<%= link_to (question.user.name), user_path(question.user), class: "blue" %>
</div>
<div class="title50"> 
<% if question.title.present? %>
<%= truncate(question.title, :separator => ' ', length: 55) %>
<% end %>
</div>

<div class="p2">
 <%= truncate(question.body, :separator => ' ', length: 250) %>
    <%= link_to ("(more)"), comment_question_path(question.comment, question) + "#question_#{question.id.to_s}", class: "readmore" %>
</div>



<div class="row"></div>

<hr class="commentfeedline"/>

<% end %>

</div>

<% end %>


