

<% @questions.group_by {|q| q.comment.post}.take(5).each_with_index do |(post, questions), i| %>








<% if i == 0 %>


<div class="dividerhead">
MORE FROM <%= link_to (post.title), post_path(post) %>
</div>

<div class="event-orangeHead"></div>

<div class="userprofile-event">
<%= link_to (post.title), post_path(post) %>
<div class="timeline-description" style='line-height: 1.45;'>
  <%= truncate(post.description, :separator => ' ', length: 110) %>  
</div>
</div>



<% else %>

<% if i == 1 %>
<hr class='dividerline'/>
<div class="dividerhead">
ALL RECOMMENDED
</div>
<% end %>

<div class="event-orangeHead"></div>


<% if post.pictures.present? %>
<div class="home-feed-image" style='background-image: url(<%= post.pictures.first.image %>)'>
<% else %>
<div>
<% end %>


<div class="darker" style="opacity: 0.2;"></div>

</div>

<div class="userprofile-event" style="color: #018bc6; font-size: 16px; display: inline-block;  overflow: hidden;">
<%= link_to (post.title), post_path(post), class: "blue" %>
<div class="timeline-description" style='line-height: 1.45; color: rgba(51,51,51,0.75); margin-right: 40px;'>
  <%= truncate(post.description, :separator => ' ', length: 110) %>  
</div>



<hr class="linelinks" style="margin-top: 15px; margin-bottom: 0px; width: 30%;"/>

</div>

<div class="row"></div>
<div style="margin-top: 10px;"></div>

</div>





<% end %>


 
<% for question in questions %>

<%= render :partial => 'layouts/answersfeed', locals: {question:question} %>

<hr class="line30"/>

<% end %>



<% end %>

<% if @questions.count > 5 %>
<div class="end-page-circle"></div>
<div class="end-page-circle-small"></div>
<div class="row"></div>
<% end %>

