<% @questions.group_by {|q| q.comment.post}.take(5).each_with_index do |(post, questions), i| %>








<% if i == 0 %>

<div class="event-orangeHead"></div>

<div class="userprofile-event">
<%= link_to (post.title), post_path(post) %>
<div class="timeline-description" style='line-height: 1.45;'>
  <%= truncate(post.description, :separator => ' ', length: 110) %>  
</div>
</div>

<hr class="linelinks" style="width: 30%; margin-top: 20px;"/>

<% else %>

<div class="event-orangeHead"></div>
<div style="overflow: hidden; float: left;">
<div class="userprofile-event">
<%= link_to (post.title), post_path(post) %>
<div class="timeline-description" style='line-height: 1.45;'>
  <%= truncate(post.description, :separator => ' ', length: 110) %>  
</div>
</div>
</div>



<div class="row"></div>

<div class="eventfeedimage-profile" style="background-image: url(<%= post.pictures.first.image %>);">
  <div class="darker" style="opacity: 0.3;"></div>
</div>







<div class="row"></div>
<div style="margin-bottom: 35px;"></div>





<% end %>


 
<% for question in questions %>

<%= render :partial => 'layouts/answersfeed', locals: {question:question} %>

<hr class="line30"/>

<% end %>



<% end %>

<% if @questions.count > 5 %>
<div class="end-page-circle"></div>
<div class="end-page-circle-small"></div>
<div class="row"></div>
<% end %>

