<div class="backgroundusergrey">

<div class="span4 centered">

<% if current_user == @user %>

<div class="width50">
<div class="settingsnavbar51">
<%= link_to "Settings", edit_user_registration_path(@user), class: "questionnavbarlink"  %>
</div>
</div>
<div class="width50">
<div class="settingsnavbar50">
<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "questionnavbarlink"  %>
</div>
</div>

<div class="row">
</div>

<div class="profilemarginminus">
</div>

<% else %>


<% end %>
</div>

<div class="row"></div>

<div class="span6 centered">

<% unless current_user == @user %>
<div class="profilemargin">
</div>
<% end %>

<% if @user.image? %>	

<div class="avatarborder">
<div class="userimage">
<%= image_tag @user.image %>
</div>
</div>
<% else %>
<div class="avatarborder">
<div class="userimage">
<%= image_tag ("http://i.imgur.com/TKSDwcV.png") %>
</div>
</div>
<% end %>



<div class="usernametext2">	
<%= @user.name %>
</div>



<% if @user.place.present? %>
<div class="country">
<%= image_tag ("http://i.imgur.com/M47ywsJ.png") %>
<div class="countrymarg">
<%= @user.place %>
</div>
</div>
<% end %>



</div>

</div>

</div>