<% @links.group_by {|l| l.question.comment.post}.take(5).each_with_index do |(post, links), i| %>

<% if post.present? %>


<% unless post.pictures.count == 0 %>
<style media="screen">
  .experimentstrip-<%= post.id %> { background-image: url(<%= post.pictures.last.image %>); }
</style>
<% end %>


<% if i == 0 %>


<div class="experimentstrip-<%= post.id %>" style="position: relative; width: 100%;
height: 350px; background-size: cover;
background-repeat: no-repeat;
background-position: center; margin-bottom: 35px;">
<div class="darker"></div>

<div class="absoluteheader">
  <%= render 'layouts/headerimage' %>
</div>

<div class="absolutecontainerprofile">
<div class="relativecontainer">

<div class="userprofileimage-container">

<div class="userprofileimage-image">
 <%= image_tag @user.image %>
</div>

<div class="userprofileimage-name">
 <%= @user.name %>
</div>

<hr style="margin-top: 15px; margin-bottom: 10px;"/>

<%= link_to user_path(@user) do %>
<div class="floatleftprofile">  

<div class="abovenumber">
  Upvotes
</div>
<div class="belownumber"> 
  <%= @questions.count %>
</div>
</div>
<% end %>

<%= link_to userinterviews_path(@user) do %>
<div class="floatleftprofile">  
 <div class="abovenumber"> 
  Answers
 </div>
 <div class="belownumber"> 
   <%= @comment.count %>
  </div>
 </div>
<% end %>

<div class="floatrightprofile"> 
 <div class="abovenumber">
   Comments
 </div>
 <div class="belownumber"> 
   <%= @links.count %>
 </div>
</div>

<div class="row"></div>

</div>
</div>
</div>


<div class="absolutecontainer">
<div class="relativecontainer">

<div class="descriptionmargin"> 
 <div class="eventimagepreviewtext">
   <%= link_to (post.title), post_path(post), class: "whiteblue", style: "font-size: 14px;" %>
 </div>
<hr class="whiteimageline" style="margin-top: 13px !important; margin-bottom: 15px !important;"/>
</div>

</div>
</div>
</div>

<% else %>

<div class="experimentstrip-<%= post.id %>" style="position: relative; width: 100%;
  height: 200px; background-size: cover;
    background-repeat: no-repeat;
    background-position: center; margin-bottom: 35px; margin-top: 35px">
   <div class="darker"></div>
   <div class="absolutecontainer">
<div class="relativecontainer">

<div class="descriptionmargin"> 
<div class="eventimagepreviewtext">
<%= link_to (post.title), post_path(post), class: "whiteblue", style: "font-size: 14px;" %>
</div>
<hr class="whiteimageline" style="margin-top: 13px !important; margin-bottom: 15px !important;"/>
</div>

</div>
</div>
</div>


<% end %>

<% end %>

<div class="width6">
<% for link in links %>

<div class="titlecontainer30">
<%= link_to (link.question.comment.title), post_comment_path(link.question.comment.post, link.question.comment) %>
</div>

<div style="margin-top: 20px;"></div>


<div class="leftinfomargin">
<div class="leftinfoimage">

<div class="smallavatar">
<div class="smallavatarfeednomargin2">
<%= link_to (image_tag(link.question.user.image)), user_path(link.question.user) %>
</div>
</div>

</div>

<div class="rightinfo">

<div class="largename">
<%= link_to (link.question.user.name), user_path(link.question.user), class: "blue" %>
</div>  

<div class="answertitle">
<%= link.question.title %>
</div>

</div>
</div>


<div style="margin-top: 12px;"></div>

<div class="p3">
<%= truncate(link.question.body, :separator => ' ', length: 250) %>
</div>


<div style="margin-top: 10px;"></div>

<div class="commentwidth"> 

<hr class="linelinks"/>

<div class="smallavatar3">
  <%= link_to (image_tag(link.user.image)), user_path(link.user) %>
</div>


<div class="commentdescriptionname">  
  <%= link_to (link.user.name), user_path(link.user), class: "blue" %>
</div>


<div class="commentdescriptiontext">
 <%= link.description %>


<div class="date3">
<%= time_ago_in_words(link.created_at) %> ago
</div>
</div>


</div>
</div>


</div>





<% end %>
</div>


<% end %>