
<%= render 'profile_head' %>


<div class="navbar-profile-content-container">


<div class="width7">


<div style="margin-top: 35px;"></div>



<%= link_to user_path(@user) do %>
<div class="profile-post-types">
Recommended
</div>
<% end %>

<%= link_to allcomments_path(@user) do %>
<div class="profile-post-types">
Posts
</div>
<% end %>

<div class="profile-post-types" style="color: #288bff;">
Replies & Answers
</div>

<hr style="margin-top: 20px;"/>





<div class="width5-center">


<div style="display: none;">

<div id="products">
<%= render 'users/allanswers' %>
</div>
<%= will_paginate @comments %>
</div>

</div>
</div>

</div>












