<%= render 'profile_head' %>


<div class="navbar-profile-content-container">


<div class="width7">


<div style="margin-top: 35px;"></div>


<%= link_to user_path(@user) do %>
<div class="profile-post-types">
Recommended
</div>
<% end %>

<div class="profile-post-types" style="color: #288bff;">
Posts
</div>

<%= link_to allanswers_path(@user) do %>
<div class="profile-post-types">
Replies & Answers
</div>
<% end %>

<hr style="margin-top: 20px;"/>





<div class="width5-center">



<div id="products">
<%= render 'users/allcomments' %>
</div>
<%= will_paginate @links %>



</div>
</div>

</div>
