<% if @links.present? %>
<% @links.limit(1).each do |link| %>
<style media="screen">
   .profileimage-banner { background-image: url(<%= link.question.comment.post.pictures.first.image %>); }
 </style>
<% end %>
 <% end %>


<div class="imagestrip">
   

<div class="darker"></div>


<div class="absoluteheader">
  <%= render 'layouts/headerimage_login' %>
 </div>

<% if @links.present? %>
<div class="absolutecontainer">
 <div class="relativecontainer">
  <div class="descriptionmargin" style="margin-left: 140px; margin-bottom: 15px;"> 
<% @links.limit(1).each do |link| %>
<div style="float: right;">
   <div class="eventimagepreviewtext" style="font-size: 12px;">
     <%= link_to (link.question.comment.post.title), post_path(link.question.comment.post), class: "whiteblue" %>
   </div>
</div>
<% end %>

<div class='row'></div>
    

   </div>
  </div>
 </div>
<% end %>

</div>


<div class="width6">
<%= render 'profile_head' %>

<div class="profile-banner-info" style="float: right;">
<div class="float: right">

<ul class="menu" style="float: right; border-left: 1px solid rgba(51,51,51,0.1); padding-left: 20px;">

<%= link_to user_path(@user) do %>
<li class="profile-menu-item">
<div class="select-toggle">
Recommended
</div> 
<div class="select-toggle-number">
<%= @questions.count %>
</div>
</li>
<% end %>

<%= link_to allanswers_path(@user) do %>
<li class="profile-menu-item">
<div class="select-toggle">
Answers
</div>
<div class="select-toggle-number">
<%= @comments.count %>
</div>
</li>
<% end %>


<li class="profile-menu-item" style="padding-right: 0px;">
<div class="selected-toggle">
Replies
</div>
<div class="selected-toggle-number">
<%= @links.count %>
</div>
</li>



</ul>


</div>
</div>  


<div class="row"></div>


<hr class='dividerline'/>
<div class="dividerhead">
REPLIES
</div>

<% if @links.blank? and @user == current_user %>
<div class="nonew-outside"><span class="nonew-notifications-profile">
   You haven't replied to any answers yet. Click the 'reply' button at the bottom of an answer to add your [jssajc].
</span></div>
<% elsif @links.blank? %>
<div class="nonew-outside"><span class="nonew-notifications-profile">
    <%= @user.name %> hasn't replied to any answers yet.
</span></div>
<% end %>



<div id="products">
<%= render 'users/allcomments' %>
</div>

</div>


<%= will_paginate @links %>


<div class="row"></div>