

<%= render 'users/userhead' %>
<div class="row"></div>
<div class="profilemargintop">
</div>

<div class="width6">
<div class="width50">
<%= link_to user_path(@user) do %>	
<div class="floatrightprofile2">	
<div class="abovenumber">
Upvotes
</div>
<div class="belownumber">	
<%= @questions.count %>
</div>
</div>
<% end %>
</div>


<div class="width50">
<div class="floatleftprofile2">	
<div class="abovenumber">	
Answers
</div>
<div class="belownumber">	
<%= @comments.count %>
</div>
</div>

<div class="profilemargin5">
</div>
</div>

<div class="row"></div>
<hr class="userlineunder"/>

<% if @user.comments.count == 0 %>
<div class="center">
<div class="eventmargin2">
<%= @user.name %> hasn't answered any questions.
</div>
</div>

<% end %>

<div class="profilemargin"></div>


<%= @comments.each do |question| %>

<div class="experimentname">
<strong><%= link_to (question.user.name), user_path(question.user) %></strong> 
<% if question.title.present? %>
 | <%= truncate(question.title, :separator => ' ', length: 55) %>
<% end %>
</div>	

<div class="row"></div>

<div class="titlecontainer30">
<%= link_to (question.comment.title), post_comment_path(question.comment.post, question.comment) %>

</div>

<div class="p2">	
 
    <%= truncate(question.body, :separator => ' ', length: 250) %>
    <%= link_to ("Read More"), post_comment_path(question.comment.post, question.comment) + "#question_#{question.id.to_s}", class: "readmore" %>

</div>


<hr/>=

<% end %>





