

<%= render 'users/userhead' %>
<div class="row"></div>
<div class="profilemargintop">
</div>

<div class="width6">
<div class="width50">
<%= link_to user_path(@user) do %>	
<div class="floatrightprofile2">	
<div class="abovenumber">
Upvotes
</div>
<div class="belownumber">	
<%= @questions.count %>
</div>
</div>
<% end %>
</div>


<div class="width50">
<div class="floatleftprofile2">	
<div class="abovenumber">	
Answers
</div>
<div class="belownumber">	
<%= @comments.count %>
</div>
</div>

<div class="profilemargin5">
</div>
</div>

<div class="row"></div>
<div class="profilemargin">
</div>

<% if @user.comments.count == 0 %>
<div class="center">
<div class="eventmargin2">
<%= @user.name %> hasn't answered any questions.
</div>
</div>

<% end %>

<div class="profilemargin"></div>


<%= @comments.each do |question| %>

<div class="notificationgrey">
<% if question.comment.post.present? %>
<%= link_to (question.comment.post.title), post_path(question.comment.post) %>
<% end %>
</div>

<div class="titlecontainer2">
<%= link_to (question.comment.title), post_comment_path(question.comment.post, question.comment) %>

</div>


<div class="p2">	
 
    <%= truncate(question.body, :separator => ' ', length: 250) %>
    <%= link_to ("Read More"), post_comment_path(question.comment.post, question.comment) + "#question_#{question.id.to_s}", class: "readmore" %>

</div>

<div class="tenten"></div>

<% if question.user.image? %>
<div class="smallavatar4">
<%= link_to (image_tag(question.user.image)), user_path(question.user) %>
</div>
<% else %>
<div class="smallavatar3">
<%= link_to (image_tag("http://i.imgur.com/MTQl4Q0.png")), user_path(question.user) %>
</div>
<% end %>



<div class="dividerlineright2">

<div class="lightname2">
<%= question.user.name %>
</div>	
<% if question.title? %>
<%= question.title %>
<% else %>
I am an expert in American police forces
<% end %> 
</div>

<hr/>

<% end %>


<% if @comments.count > 0 %>
<div class="bottomfeedpodium">
<%= link_to 'Podium.', root_path %>
</div>
<% end %>



