<%= render 'users/userhead' %>


<div class="span7 centered">
<div class="hrevent"></div>
<%= link_to "Upvoted", user_path(@user), class: "eventtoptext4" %>
<%= link_to "Questions", userquestions_path(@user), class: "eventtoptext4" %>

<div class="redtopline">	
Interviews
</div>


<% if @user.votes.count > 0 %>
<div class="center">
<div class="eventmargin2">
<%= @user.name %> hasn't been interviewed yet.
</div>
</div>
<% end %>

<div class="mobilepadding20"></div>


<div class='yui3-g'>
<% @comment.each_with_index  do |comment, i| %>
<div class="yui3-u-1-2">
<% if i.odd? %>
<div class="interviewgrid">

<div class="circle">
<%= link_to (image_tag(comment.user.image)), user_path(comment.user) %>
</div>
<div class="row"></div>
<div class="nameblueside">
<%= link_to comment.user.name, user_path(comment.user) %>
</div>

<div class="titlecontainer2">
<%= link_to (comment.title), post_comment_path(@post, comment) %>
</div>
<div class="interviewgriddate">
<%= time_ago_in_words(comment.created_at) %> ago
</div>
<div class="postinterviewtext4">
 asked <%= pluralize(comment.questions.count, 'question') %>
</div>



<hr6/>



</div>


<% else %>
<div class="interviewgrid2">
<div class="circle">
<%= link_to (image_tag(comment.user.image)), user_path(comment.user) %>
</div>
<div class="row"></div>
<div class="nameblueside">
<%= link_to comment.user.name, user_path(comment.user) %>
</div>
<div class="titlecontainer2">
<%= link_to (comment.title), post_comment_path(@post, comment) %>
</div>
<div class="interviewgriddate">
<%= time_ago_in_words(comment.created_at) %> ago
</div>
<div class="postinterviewtext4">
 asked <%= pluralize(comment.questions.count, 'question') %>
</div>


<hr6/>



</div>
<% end %>

</div>

<% end %>
</div>
