<%= render 'users/userhead' %>

<div class="span6 centered">


<div class="width30">
<div class="questionnavbar52user">
<%= link_to "Upvoted", user_path(@user), class: "questionnavbarlink" %>
</div>
</div>
<div class="width30">
<div class="questionnavbar50user">		
Questions
</div>
</div>
<div class="width30">
<div class="questionnavbar51user">	
<%= link_to "Answers", userinterviews_path(@user), class: "questionnavbarlink" %>
</div>
</div>

<% if @user.questions.count == 0 %>
<div class="center">
<div class="eventmargin2">
<%= @user.name %> hasn't asked any questions yet.
</div>
</div>
<% end %>

<% if @user.comments.count == 0 %>
<div class="center">
<div class="eventmargin2">
<%= @user.name %> hasn't asked any questions yet.
</div>
</div>
<% else %>
<div class="row"></div>
<div class="profilemargin">
</div>
<% end %>

<% @comments.each do |comment| %>

<div class="titlecontainer20">
<%= link_to (comment.title), post_comment_path(@post, comment) %>
</div>

<div class="nameblueside2">
<%= pluralize(comment.questions.count, 'Answer') %> 
</div>

<div class="date2">
Asked <%= time_ago_in_words(comment.created_at) %> ago
</div>

<hr/>


<% end %>



















