<div class="span9 offset1">

<div class="container">
<div class="row">


<div class="span3 offset3">
<div class="userimage">
<%= image_tag @user.image %>
</div>
<div class="usernameback">	
<%= @user.name %>
</div>

</div>


<div class="span4">

<div class="userpadding">
Location <strong><%= @user.place %></strong>
</div>


Age <strong><%= @user.age %></strong>




</div>
</div>
</div>

<div class="paddingtop"></div>

<div class="usernametext">
<%= link_to raw("#{@user.comments.count} Questions "), userquestions_path, class: "blue" %>
</div>
<div class="usernametext">
<%= @user.questions.count %> Answers
</div>

<hr/>


<div class="span7 offset1">


<% if @user.comments.count > 0 %>
<div id="pin" class="transitions-enabled">
<% @comments.each do |comment| %>
<div class="boxtwo">
<div class="newspaper2">

<div class="questioncontainer">
<%= link_to (comment.body), post_comment_path(@post, comment) %>
</div>

<div class="lightcontainer">
<%= time_ago_in_words(comment.created_at) %> ago
</div>

<div class="lightcontainer7">
<%= comment.title %>
</div>
<%= comment.body[0,400] %>
<%= link_to "(read more...)", post_comment_path(@post, comment), class: "blue"  %>

</div>
</div>



<% end %>
</div>

<% else %>

<div class="noposts">
<%= @user.name %> has not asked any questions yet.
</div>
<% end %>


</div>













