<div class="visible-desktop hidden-phone hidden-tablet">


<div class="container">
<div class="row">
<div class="span8 offset1">
<div class="postimagetop">
<%= image_tag @comment.post.image %>
<div class="descriptiontop2">
<%= @post.title %>
</div>
</div>
<div class="squaregreybutton">
<% if @post.comments.count == 1 %>
<div class="number2">
<%= @post.comments.count %> Post<br>
</div>
<% else %>
<div class="number2">
<%= @post.comments.count %> Posts <br>
</div>
<% end %>
</div>
<% if user_signed_in? %> 
<%= link_to 'Post', new_post_comment_path(@post), class: "squareredbutton" %>
<% else %>
<%= link_to 'Post', new_user_registration_path, class: "squareredbutton" %>
<% end %>


<div class="paddingtop"></div>
<div class="marginbottom20"></div>









</div>
<div class="span3">	
<div class="greyevent">
<%= @post.description %>
<hr/>
</div>
<div class="greyeventbottom">
<%= time_ago_in_words(@post.created_at) %> ago
<div class="floatright">
<%= @post.country %>
</div>
<% if @post.country? %>

<hr/>

<div class="maptext">
<%= @post.country %>
</div>

<div class="map">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@post.latitude}%2C#{@post.longitude}" %>
</div>
</div>

<% end %>


</div>
</div>
</div>


</div>
</div>
</div>
</div>













