<div class="span7 centered">

<% if current_user == @user %>

<div class="greysettings">
<%= link_to "Profile", user_path(@user) %>
<strong>Questions</strong>
<%= link_to "Interviews", userinterviews_path(@user) %>
<div class="floatright">
<%= link_to "Settings", edit_user_registration_path(@user) %>	
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
</div>
</div>
<% end %>

<div class="settings">
Your Questions
</div>

<div class="mobilepadding20"></div>
<% @question.each do |question| %>
<% if question.answer.present? %>
<div id="<%= question.id %>">
<%= link_to post_comment_path(question.comment.post, question.comment) do %>
  <div class="interviewgrey">
  <%= question.comment.user.name %> on <%= question.comment.post.title %>
</div>
<% end %>
<div class="commentmargin10"></div>
<div class="commentquestion">
<%= question.body %>
</div>

<div class="commentmargin10"></div>

<div class="redline">
<p>	
 <% if question.answer.body.length > 250 %>
    <%= truncate(question.answer.body, :separator => ' ', length: 250) %>
    <%= link_to_function '(Read more...)', "$(this).parent().html('#{escape_javascript question.answer.body}')", class: "blue" %>
  <% else %>
    <%= question.answer.body %>
  <% end %>
</p>
<div class="lightcontainercomment2">
<%= time_ago_in_words(question.answer.created_at) %> ago
</div>
</div>
<hr6/>
<div class="sixty">
<% else %>
<%= link_to post_comment_path(question.comment.post, question.comment) do %>
  <div class="interviewgrey">
  <%= question.comment.user.name %> on <%= question.comment.post.title %>
</div>
<% end %>
<div class="commentquestion">
<%= question.body %>
</div>
 <div class="lightcontainercomment2">
<%= time_ago_in_words(question.created_at) %> ago
<hr6/>
</div>

<% end %>
<% end %>
</div>





















