<div class="span10 centered">
<div class="floatright">	
<% if current_user == @user %>
<%= link_to "Settings", edit_user_registration_path(@user), class: "button4" %>
<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logoutbutton" %>
<% end %>
</div>
</div>


<div class="span2 centered">		
<div class="userimage">
<%= image_tag @user.image %>
</div>
<div class="usernameback">	
<%= @user.name %>
</div>

<div class="center">
<% if @user.twitter.present? or @user.place.present? %>
<hr/>
<strong><%= @user.twitter %></strong>
<strong><%= @user.place %></strong>
<% end %>
<div class="mobilepadding5"></div>



</div>
</div>






<div class="span10 centered">
<%= @comments.count %> Pushed Posts |
<%= link_to "Posts", userquestions_path %>
<hr/>

<div class="mobilepadding20"></div>
<% @comments.each do |comment| %>
<div class="container">
<div class="row">
<div class="span3">
<div class="eventimage">
 


</div>
</div>


<div class="span7">

<div class="newspaper2">
<div class="greysubtitle">
<%= comment.subtitle %>
</div>
<div class="mobilepadding10"></div>

<div class="questioncontainer">
<%= link_to (comment.title), post_comment_path(comment.post, comment) %>
</div>
<%= comment.body[0,300] %>
<%= link_to "(read more...)", post_comment_path(comment.post, comment), class: "blue"  %>


</div>

</div>

</div>
</div>

<div class="mobilepadding20"></div>
<% end %>


</div>






















