<div class="visible-desktop hidden-phone hidden-tablet">

<div class="span7 centered">
<% if current_user == @user %>

<div class="greysettings">
<div class="greymargin">
<strong>Profile</strong>
</div>
<%= link_to "Questions", userquestions_path(@user), class: "greymargin" %>
<%= link_to "Interviews", userinterviews_path(@user), class: "greymargin" %>
<div class="floatright">
<%= link_to "Settings", edit_user_registration_path(@user), class: "greymargin" %>	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
</div>
</div>
<% end %>
</div>



<div class="span4 centered">		
<div class="userimage">
<%= image_tag @user.image %>
</div>
<div class="usernametext2">	
<%= @user.name %>
</div>

<div class="paddingtop"></div>

<div class="center">
<% if @user.twitter.present? or @user.place.present? %>
<%= @user.twitter %>
<%= @user.place %>
<% end %>
<div class="commentquestionmargin"></div>



</div>
</div>







<div class="span7 centered">


<% if @comments.count > 0 %>
<div class="hrevent"></div>
<div class="eventtoptext4">	
Interviews
</div>
<% end %>

<% @comments.each do |comment| %>

<div class="titlecontainer2">
<%= comment.title %>
</div>

<% if comment.body.present? %>
<div class="redline">
<p>
<%= comment.body[0,200] %>
<%= link_to "(read more...)", post_comment_path(comment.post, comment), class: "blue" %>
</p>
</div>
<% end %>

<div class="row"></div>
<div class="hrpost"></div>




<div class="circle">
<%= link_to (image_tag(comment.user.image)), user_path(comment.user) %>
</div>

<div class="postinterviewtext3">
<strong><%= comment.user.name %></strong>
</div>

<% if comment.post.present? %>
<div class="postinterviewtext3">
on <strong><%= link_to (comment.post.title), post_path(comment.post) %></strong>
</div>
<% end %>

<% end %>


<div class="commentquestionmargin"></div>
<div class="hrevent"></div>
<% if @user.votes.count > 0 %>
<div class="eventtoptext4">	
Upvoted Answers
</div>
<% else %>
<div class="center">
<div class="eventmargin2">
<%= @user.name %> is still getting started on Podium.
</div>
</div>
<% end %>


<div class="commentquestionmargin"></div>

<div class="mobilepadding20"></div>
<% @questions.each do |question| %>

<% if question.comment.post.present? %>
<div class="sixty"></div>
<%= link_to post_comment_path(question.comment.post, question.comment) do %>
  <div class="interviewgrey">
  <%= question.comment.user.name %> on <%= question.comment.post.title %>
</div>
<% end %>

<% end %>

<div class="twenty"></div>

<div class="attempt">
<div class="commentquestion">
<%= question.body %>
</div>
</div>

<div class="commentmargin10"></div>

<% if question.answer.present? %>

<div class="redline">
<p>	
 <% if question.answer.body.length > 150 %>
    <%= truncate(question.answer.body, :separator => ' ', length: 250) %>
    <%= link_to_function '(Read more...)', "$(this).parent().html('#{escape_javascript question.answer.body}')", class: "blue" %>
  <% else %>
    <%= question.answer.body %>

  <% end %>
  <div class="lightcontainercomment2">
<%= time_ago_in_words(question.answer.created_at) %> ago
</div>
</p>
</div>
<hr6/>
<% end %>
<% end %>

<div class="commentquestionmargin"></div>

<%= link_to "See all...", upvoted_path(@user), class: "favouritebuttonleft", id: "new_link", :remote => true %>
</div>

<div class="visible-phone hidden-tablet hidden-desktop">
<%= render 'users/showmobile' %>
</div>

<div class="visible-tablet hidden-phone hidden-desktop">
<%= render 'users/showtablet' %>
</div>






