<div class="visible-desktop hidden-phone hidden-tablet">

<div class="span7 centered">
<div class="floatright">	
<% if current_user == @user %>
<%= link_to "Settings", edit_user_registration_path(@user), class: "button4" %>
<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logoutbutton" %>
<% end %>
</div>
</div>


<div class="span4 centered">		
<div class="userimage">
<%= image_tag @user.image %>
</div>
<div class="usernametext2">	
<%= @user.name %>
</div>

<div class="paddingtop"></div>

<div class="center">
<% if @user.twitter.present? or @user.place.present? %>
<strong><%= @user.twitter %></strong>
<div class="verticalalignmiddle">
<%= image_tag "http://i.imgur.com/cks6uPN.png" %>
</div>
<strong><%= @user.place %></strong>
<% end %>
<div class="mobilepadding5"></div>



</div>
</div>







<div class="span7 centered">

<hr/>

<% if @comments.count > 0 %>
<div class="countheader2">
Interviews
</div>
<% end %>

<% @comments.each do |comment| %>

<% if comment.post.present? %>
<div class="eventtoptext2">
<%= link_to (comment.post.title), post_path(comment.post) %>
</div>
<% end %>


<div class="circle">
<%= link_to (image_tag(comment.user.image)), user_path(comment.user) %>
</div>

<div class="attempt">
<div class="titlecontainer">
<%= comment.title %>
</div>

<p>
<% if comment.body.present? %>
<%= comment.body[0,200] %>
<%= link_to "(read more...)", post_comment_path(comment.post, comment), class: "blue"  %>
</p>
<% end %>

</div>
<hr/>

<% end %>


<div class="countheader2">
Upvoted Answers
</div>


<div class="mobilepadding20"></div>
<% @questions.each do |question| %>

<% if question.comment.post.present? %>
<div class="eventtoptext2">
<%= link_to (question.comment.post.title), post_path(question.comment.post) %>
</div>
<% end %>

<div class="circlecomment">
<%= image_tag question.user.image %>
</div>

<div class="attempt">
<div class="commentquestion">
<%= question.body %>
</div>
</div>

<div class="commentmargin10"></div>
<div class="circlecomment2">
<%= image_tag question.comment.user.image %>
</div>

<div class="commentquestionanswer">
<div class="attempt">	
<% if question.answer.present? %>
<div class="lightname">
<%= question.comment.user.name %>
</div>
<p>
<%= question.answer.body[0, 200] %>
<%= link_to "(read more...)", question_answer_path(question, question.answer), class: "blue"  %>
</p>
</div>
<% end %>
<hr6/>
</div>
 

<% end %>

</div>

<div class="visible-phone hidden-tablet hidden-desktop">
<%= render 'users/showmobile' %>
</div>

<div class="visible-tablet hidden-phone hidden-desktop">
<%= render 'users/showtablet' %>
</div>






