<div class="visible-desktop hidden-phone hidden-tablet">

<div class="span6 centered">

<%= render 'users/userhead' %>

</div>







<div class="span6 centered">



<div class="span6 centered">

<div class="width30">
<div class="questionnavbar50user">
Upvoted
</div>
</div>
<div class="width30">
<div class="questionnavbar51user">	
<%= link_to "Questions", userquestions_path(@user), class: "questionnavbarlink" %>
</div>
</div>
<div class="width30">
<div class="questionnavbar51user">	
<%= link_to "Answers", userinterviews_path(@user), class: "questionnavbarlink" %>
</div>
</div>

<div class="profilemargin"></div>

<% if @user.votes.count == 0 %>
<div class="center">
<div class="eventmargin2">
<%= @user.name %> hasn't upvoted any answers yet.
</div>
</div>
<% else %>
<div class="row"></div>
<div class="profilemargin">
</div>
<% end %>



<% @questions.each_with_index do |question, i| %>




<div class="titlecontainer2">
<%= link_to (question.comment.body), post_comment_path(question.comment.post, question.comment) %>
</div>

<% if question.user.image? %>
<div class="smallavatar">
<%= link_to (image_tag(question.user.image)), user_path(question.user) %>
</div>
<% else %>
<%= link_to (image_tag("http://i.imgur.com/OCWhfJm.png")), user_path(question.user) %>
<% end %>

<div class="lightname">
<%= question.user.name %>
</div>

<div class="row"></div>


<% if question.comment.post.present? %>

<%= link_to post_comment_path(question.comment.post, question.comment) do %>
  <div class="interviewgrey">
  <%= question.comment.user.name %> on <%= question.comment.post.title %>
</div>
<% end %>

<% end %>


<% if question.present? %>

<div class="p2">	
 <% if question.body.length > 150 %>
    <%= truncate(question.body, :separator => ' ', length: 250) %>
    <%= link_to_function '(Read more...)', "$(this).parent().html('#{escape_javascript question.body}')", class: "blue" %>
  <% else %>
    <%= question.body %>

  <% end %>

</div>

  <div class="date">
Written <%= time_ago_in_words(question.created_at) %> ago
</div>

<% unless (i + 1) == @questions.length %>
<hr/>
<% end %>

<% end %>
<% end %>

<div class="commentquestionmargin"></div>


</div>
</div>

<div class="visible-phone hidden-tablet hidden-desktop">
<%= render 'users/showmobile' %>
</div>

<div class="visible-tablet hidden-phone hidden-desktop">
<%= render 'users/showtablet' %>
</div>






