<div class="span10 centered">
<div class="floatright">	
<% if current_user == @user %>
<%= link_to "Settings", edit_user_registration_path(@user), class: "button4" %>
<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logoutbutton" %>
<% end %>
</div>
</div>


<div class="span2 centered">		
<div class="userimage">
<%= image_tag @user.image %>
</div>
<div class="usernametext2">	
<%= @user.name %>
</div>

<div class="center">
<% if @user.twitter.present? or @user.place.present? %>
<hr/>
<strong><%= @user.twitter %></strong>
<div class="verticalalignmiddle">
<%= image_tag "http://i.imgur.com/cks6uPN.png" %>
</div>
<strong><%= @user.place %></strong>
<% end %>
<div class="mobilepadding5"></div>



</div>
</div>






<div class="span10 centered">
<%= @comments.count %> Pushed Posts |
<%= link_to "Posts", userquestions_path %>
<hr/>

<div class="mobilepadding20"></div>
<% @comments.each do |comment| %>
<div class="row">
<div class="span2 offset4">

 
<strong><%= link_to (comment.post.title), post_path(comment.post)%> </strong>
</div>

</div>
<div class="row">
<div class="span8 offset1">
<div class="mobilepadding10"></div>	
<div class="mobilepadding10"></div>	
<div class="circle">
<%= link_to (image_tag(comment.user.image)), user_path(comment.user) %>
</div>
<div class="attempt2">

<div class="questioncontainer">
<%= link_to (comment.title), post_comment_path(comment.post, comment) %>
</div>
<%= comment.body[0,300] %>
<%= link_to "(read more...)", post_comment_path(comment.post, comment), class: "blue"  %>
<div class="namemargin">
<div class="floatright">
<div class="realgrey3">
<%= comment.questions.count %> Questions
</div>
</div>	
<%= link_to (comment.user.name), user_path(comment.user), class: "realgrey" %>
</div>
<div class="realgrey2">
<%= time_ago_in_words(comment.created_at) %> ago
</div>
</div>
<hr6/>
</div>
</div>

<% end %>


</div>









