<div class="span9 offset1">

<div class="container">
<div class="row">


<div class="span3 offset3">
<div class="userimage">
<%= image_tag @user.image %>
</div>
<div class="usernameback">	
<%= @user.name %>
</div>

</div>


<div class="span4">

<div class="userpadding">
Location <strong><%= @user.place %></strong>
</div>


Age <strong><%= @user.age %></strong>




</div>
</div>
</div>

<div class="paddingtop"></div>

<div class="usernametext">
<%= link_to raw("#{@user.comments.count} Questions "), userquestions_path, class: "blue" %>
</div>
<div class="usernametext">
<%= @user.questions.count %> Answers
</div>

<hr/>


<% @uservotes.each do |comment| %>
<div class="box panel panel-default">
<div class="newspaper">
<div class="postimage">

<%= comment.post.id %>


</div>
</div>
</div>

<% end %>



