<% if @user.votes.count == 0 %>
<style media="screen">
  .navbarbutton { background-color: rgba(51,51,51,0.2); }
 </style>

<div class="greyrelative">


<div class="absoluteheader">
<%= render 'layouts/headerimage' %>
</div>

<div class="absolutecontainerprofile">
<div class="relativecontainerprofile">
<div class="userprofilewhite">

<%= render 'users/userhead' %>

<div class="floatrightprofile">	

<div class="abovenumber">	
Upvotes
</div>
<div class="belownumber">	
<%= @user.votes.count %>
</div>

</div>

<%= link_to userinterviews_path(@user) do %>
<div class="floatleftprofile">	
<div class="abovenumber">	
Answers
</div>
<div class="belownumber">	
<%= @comment.count %>
</div>
</div>
<% end %>

<%= link_to usercomments_path(@user) do %>
<div class="floatleftprofile">	
<div class="abovenumber">	
Comments
</div>
<div class="belownumber">	
<%= @links.count %>
</div>
</div>
<% end %>

</div>
</div>
</div>

<div class="row"></div>

<div class="absolutecontainer">
<div class="relativecontainer">
<div class="descriptionmargin"> 

<div class="eventimagepreviewtext" style="color: rgba(51,51,51,0.75) !important; border-bottom: 1px solid rgba(51,51,51,0.1) !important; font-size: 14px !important; font-weight: 700; padding-bottom: 10px;">
<%= @user.name %> hasn't upvoted any answers yet.
</div>

</div>
</div>
</div>




<% end %>





<div id="products">
<%= render 'users/show' %>
</div>



<% if @questions.count > 5 %>
<div class="width6">
<div class="floatright">
<%= link_to "See all upvotes...", upvotes_path(@user), class: "blue" %>
</div>
</div>
<div class="sixty"></div>

<% end %>











