<div class="width6">

	

<div class="userimagenotsignedinupvotes">
<%= image_tag @user.image %>
</div>
<div class="usernametext2upvotes">	
<%= @user.name %>
</div>

<div class="row"></div>
<hr class="aboveimageline"/>

<div class="newtoggle">
ALL UPVOTES (<%= @user.votes.count %>)
</div>

<div class="floatright">
<div class="newtoggleright">
<%= link_to "BACK TO PROFILE... ", user_path(@user), class: "blue" %>
</div>
</div>

<hr class="belowimageline2"/>

<div class='upvotesthirty'></div>

<div class="row"></div>



<div id="products">
<%= render 'users/upvotes' %>
</div>

</div>


<%= will_paginate @questions %>