<% if @links.count == 0 %>
<style media="screen">
  .navbarbutton { color: #333 !important; border: 1px solid #333 !important; }
 </style>
<div class="greyrelative">

<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>

  <div class="absolutecontainerprofile">
<div class="relativecontainerprofile">
<div class="userprofilewhite">

<%= render 'users/userhead' %>

<%= link_to user_path(@user) do %>
<div class="floatleftprofile">	

<div class="abovenumber">
Upvotes
</div>
<div class="belownumber">	
<%= @questions.count %>
</div>
</div>
<% end %>

<%= link_to userinterviews_path(@user) do %>
<div class="floatleftprofile">	
<div class="abovenumber">	
Answers
</div>
<div class="belownumber">	
<%= @comment.count %>
</div>
</div>
<% end %>

<div class="floatrightprofile">	

<div class="abovenumber">
Comments
</div>
<div class="belownumber">	
<%= @links.count %>
</div>

</div>


</div>
</div>
</div>

<div class="row"></div>


   <div class="absolutecontainer">
<div class="relativecontainer">
<div class="eventimagepreviewtext" style="color: rgba(51,51,51,0.75) !important; border-bottom: 1px solid rgba(51,51,51,0.1) !important; font-size: 14px !important; font-weight: 400;">
<%= @user.name %> hasn't commented on any answers yet.
</div>
</div>
</div>


</div>
</div>


<% else %>


<%= render 'users/usercomments' %>


<% end %>

<% if @links.count > 5 %>

<div class="center">
<%= link_to "See all...", allcomments_path(@user), class: "seeallleft" %>
</div>


<% end %>

