<% if @post.pictures.present? %>
<style media="screen">
  .imagestrip { background-image: url(<%= @post.pictures.first.image %>); }
</style>
<% end %>


<div class="darker2">
<div class="imagestrip" style="height: 100% !important; position: fixed;">
<div class='darker' style=" 
opacity: 0.8; z-index: -1;"></div>

<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>


<div class="absolutecontainer">
<div class="relativecontainer">

</div>
</div>
</div>
</div>


<div class="width6">
 <div class="descriptionmargin" style="padding-top: 100px;"> 
<div class="eventimagepreviewtext" style="font-size: 14px; opacity: 0.95 !important;">
<%= link_to (@post.title), post_path(@post), class: "whiteblue" %>
</div>


<hr class="whiteimageline" style="margin-bottom: 20px !important; opacity: 0.95 !important;"/>
<div class="eventtextheader" style="color: #018bc6;">
All Events
</div>

</div> 


<% @events.each do |event| %>
<div class="timeline-dot-index">
</div>


<div class="timeline-content-index">

<%= link_to post_event_path(event.post, event), class: "white" do %>

<div class="timeline-date-index">
<%= time_ago_in_words(event.created_at) %> ago
</div>

<%= event.title %>

<div class="timeline-description-index">
<%= truncate(event.body, :separator => ' ', length: 110) %>  
</div>


<% end %>

</div>
<% end %>

<% if @events.present? %>
<div class="timeline-bottom-index"></div>
<div class="timeline-bottom-index"></div>
<% else %>
<div class="nonew-notifications" style="color: #fff; opacity: 0.99;">
  No events yet.
  </div>
<% end %>


</div>

