<% if @post.image.present? %>
<div class='story-strip-image' style="background-image: url(<%= @post.image %>);">

<div class="darker"></div>
<div class="darker-bottom-fade"></div>


<div class="absolutecontainer">
<div class="relativecontainer">

<div class="eventimagepreviewtext">
<%= link_to (@post.title), post_path(@post), class: "whiteblue" %>
</div>

<div class="topimage-icon" id="sharestory-icon" style="float: right; margin: 0px;">
   <i class="material-icons icon-on-image">share</i>
</div>

</div>
</div>
</div>

<% end %>


<div class="width7">


<div class="timeline-dot" style="margin-top: 20px;">
</div>
<div style="border: 1px solid rgba(51,51,51,0.1); padding: 80px; border-radius: 1px; margin-bottom: 20px; margin-top: 10px;">
</div>

<div class="width2">
<div style="border-top: 1px solid rgba(51,51,51,0.1);"></div>
</div>

<div class="width5">
<% @events.each do |event| %>
<div class="timeline-dot">
</div>


<div class="timeline-content">

<%= link_to post_event_path(event.post, event) do %>

<div class="timeline-date">
<%= time_ago_in_words(event.created_at) %> ago
</div>

<%= event.title %>

<div class="timeline-description">
<%= truncate(event.body, :separator => ' ', length: 100) %>  
</div>


<% end %>

</div>
<% end %>

<% unless @events.present? %>
<div class="nonew-notifications">
  No events yet.
  </div>
<% end %>

</div>

</div>

