<% if @event.post.image.present? %>
<div class='story-strip-image' style="background-image: url(<%= @post.image %>);">

<div class="darker"></div>
<div class="darker-bottom-fade"></div>


<div class="absolutecontainer">
<div class="relativecontainer">

<div class="eventimagepreviewtext">
<%= link_to (@event.post.title), post_path(@event.post), class: "whiteblue" %>
</div>

<div class="topimage-icon" id="sharestory-icon" style="float: right; margin: 0px;">
   <i class="material-icons icon-on-image">share</i>
</div>

</div>
</div>
</div>

<% end %>


<div style="border-bottom: 1px solid rgba(51,51,51,0.1); padding: 10px; margin-bottom: 32px;">
<div class="width7">

<div style="font-size: 34px; margin: 20px 0px 20px 0px; font-weight: 700;">
<%= @event.title %>
</div>


<div class="readmore">
 <%= time_ago_in_words(@event.created_at) %> ago 
</div>

<div style="color: rgba(51,51,51,.5); font-weight: 500; display: inline-block; line-height: 24px; font-size: 12px; text-transform: uppercase;">
Posts <div style="color: #0288d1; display: inline-block; font-size: 14px; line-height: 24px; font-weight: 700; margin-left: 3px;">7</div>
</div>
 

</div>

<div class="row"></div>
</div>




<div class="width7">


<div class="width2 padding-top">

<div class="feed-source-text" style="color: #ff9800;">
Editors
</div>



<%= link_to (@event.domain), url_for(@event.link), :target => "_blank", class: "readmore", style: "color: #333 !important; opacity: 0.5; float: left;" %>
</div>

<div class="width5">

<div class="p2">  
 <%= @event.body %>
</div>

<hr class="feed-line"/>

</div>





<% if @comments.present? %>
<%= render 'events/comments' %>
<% end %>









<% if @related.present? and @comments.blank? %>
<%= render 'related' %>
<% end %>








</div>







