<div class="span7 centered">

<div class="circlecomment">
<%= image_tag @question.user.image %>
</div>


<div class="lightname">
<%= @question.user.name %>
</div>

<div class="commentquestion">
<%= @question.body %>
</div>

<% if @question.comment.user == current_user %>
<div class="commentmargin10"></div>
<div class="circlecomment2">
<%= image_tag @question.comment.user.image %>
</div>

<div class="commentquestionanswer">
<div class="attempt">
<div class="lightname">
<%= current_user.name %>
</div>	
<%= render 'form' %>
</div>
</div>

<hr6/>
<% end %>
</div>



