<div class="span7 centered">

<div class="eventtoptext">
<%= link_to (@answer.question.comment.post.title), post_comment_path(@answer.question.comment.post, @answer.question.comment) %>
</div>

<% if @answer.question.comment.image? %>
<div class="interviewbanner">
<%= image_tag @answer.question.comment.image %>

</div>
<% end %>

<div class="circle">
<%= link_to (image_tag(@answer.question.comment.user.image)), user_path(@answer.question.comment.user) %>
</div>
	
<div class="attempt">

<div class="titlecontainer">
<%= @answer.question.comment.title %>
</div>

<div class="nameblueside">
<%= link_to @answer.question.comment.user.name, user_path(@answer.question.comment.user) %>
</div>

<div class="descriptionpadding">	
<%= simple_format(@answer.question.comment.body) %>
</div>

<div class="toplight2">
<%= time_ago_in_words(@answer.question.comment.created_at) %> ago <br>
</div>


</div>


<div class="favouritebuttonmargin"></div>



<div class="circlecomment">
<%= image_tag @answer.question.user.image %>
</div>


<div class="lightname">
<%= @answer.question.user.name %>
</div>

<div class="commentquestion">
<%= @answer.question.body %>
</div>


<div class="commentmargin10"></div>
<div class="circlecomment2">
<%= image_tag @answer.question.user.image %>
</div>

<div class="commentquestionanswer">
<div class="attempt">
<p>
<%= @answer.body %>
</p>
</div>
</div>

<div class="lightcontainercomment">
<%= link_to "Upvote", upvote_comment_question_path(@answer.question.comment, @answer.question) %>
<%= time_ago_in_words(@answer.question.created_at) %> ago
</div>

<hr6/>

</div>
