


<div class="modal-width-slide">



<div class="infopage-container-modal">


<div class="guidelines-text-light" style="font-weight: bold;">
Please read the following policies and guidelines before answering.
</div>

<hr class="modalline-slide"/>


<div style="width:100%;"><span class="guidelines-text">
Answers should directly respond to the question.</span></div>
<%= link_to "Read more...", guidelines_path(:anchor => "respond-to-question"), :target => "_blank", class: "guidelines-text-more" %>


<hr class="modalline-slide"/>

<div style="width:100%;"><span class="guidelines-text">
Answers should be factual. Incorrect, outdated, or misleading answers are not permitted.</span></div>
<%= link_to "Read more...", guidelines_path(:anchor => "factual-answers"), :target => "_blank", class: "guidelines-text-more" %>


<hr class="modalline-slide"/>


<div style="width:100%;"><span class="guidelines-text">
Answers must be respectful. No personal or insulting attacks on the question or other answers.</span></div>
<%= link_to "Read more...", guidelines_path(:anchor => "respectful-answers"), :target => "_blank", class: "guidelines-text-more" %>

<div style="width:100%;"><span class="guidelines-text">
Answers should be written with correct spelling, punctuation, and grammar, and sentence capitalization.</span></div>
<%= link_to "Read more...", guidelines_path(:anchor => "spelling-punctuation"), :target => "_blank", class: "guidelines-text-more" %>

<hr class="modalline-slide"/>

<hr class="modalline-slide"/>
<div class="guidelines-text-light">
All answers will be reviewed by editors to make sure they comply with the above guidelines.
</div>
<hr class="modalline-slide"/>
<div class="guidelines-text-light" style="display: block; text-align: center;">
<strong><%= @comment.title %></strong>
</div>  
<%= link_to "→", new_comment_question_path(@comment), class: "form-next-modal" %>
<div class="row"></div>
<hr class="modalline-slide"/>

</div>
</div>