<style media="screen">
.navbar .brand { background: rgba(51,51,51,0.3); }
.fa-bell { background-color: rgba(51,51,51,0.3);}
.blue-edit-profile { background-color: rgba(51,51,51,0.3); }
</style>

<div class="homepageinfobanner">
<div class="absoluteheader">
<%= render 'layouts/headerimage' %>
</div>
<div class="row"></div>
<div style="margin-top: 60px;"></div>
<div class="row"></div>

<div class="width6">


<div class="nav-container-profile-selected"> 



<div class="selected-toggle">
Answers
</div>

</div>


<div style="display: inline-block; float: right;">

<div class='select-toggle-line'>

<%= link_to admin_path do %>
<div class="nav-container-profile"> 
<div class="select-toggle-number">

</div>
<div class="select-toggle">
Stories
</div>
</div>
<% end %>

<%= link_to adminquestions_path do %>
<div class="nav-container-profile"> 
<div class="select-toggle-number">

</div>
<div class="select-toggle">
Questions
</div>
</div>
<% end %>


<%= link_to adminreplies_path do %>
<div class="nav-container-profile"> 
<div class="select-toggle-number">

</div>
<div class="select-toggle">
Replies
</div>
</div>
<% end %>


</div>
</div>
</div>
</div>






<div class="width6">


<div class="notificationcount-text" style="font-size: 16px; margin-top: 35px;">
New Answers
</div>
<hr/>

<% @answers.limit(10).each do |question| %>

<%= render :partial => 'layouts/answersfeed', locals: {question:question} %>


<hr class="questionsline"/>



<% end %>






</div>