<style media="screen">
.navbar .brand { background: rgba(51,51,51,0.3); }
.fa-bell { background-color: rgba(51,51,51,0.3);}
.blue-edit-profile { background-color: rgba(51,51,51,0.3); }
</style>

<div class="homepageinfobanner">
<div class="absoluteheader">
<%= render 'layouts/headerimage' %>
</div>
<div class="row"></div>
<div style="margin-top: 60px;"></div>
<div class="row"></div>

<div class="width6">


<div class="nav-container-profile-selected"> 



<div class="selected-toggle">
Replies
</div>

</div>


<div style="display: inline-block; float: right;">

<div class='select-toggle-line'>

<%= link_to admin_path do %>
<div class="nav-container-profile"> 
<div class="select-toggle-number">

</div>
<div class="select-toggle">
Stories
</div>
</div>
<% end %>

<%= link_to adminquestions_path do %>
<div class="nav-container-profile"> 
<div class="select-toggle-number">

</div>
<div class="select-toggle">
Questions
</div>
</div>
<% end %>

<%= link_to adminanswers_path do %>
<div class="nav-container-profile"> 
<div class="select-toggle-number">

</div>
<div class="select-toggle">
Answers
</div>
</div>
<% end %>



</div>
</div>
</div>



</div>






<div class="width6">


<div class="notificationcount-text" style="font-size: 16px; margin-top: 35px;">
New Replies
</div>
<hr/>


<% @replies.limit(1).each do |link| %>

<div class="timeline-dot">
</div>

<div class="timeline-content" style="width: 100%;">

<div style="width: 70%">


<div class="notification-smalltext">
<%= link_to ("#{link.question.user.name}'s"), user_path(link.question.user), class: "blue" %> answer to <%= link_to (link.question.comment.title), post_comment_path(link.question.comment.post, link.question.comment), class: "blue" %>
</div>

</div>

<div class="row" style="margin-top: 15px;"></div>



<div class="commentwidth-notification">

<div class="smallavatar3">
  <%= link_to (image_tag(link.user.image(:thumb))), user_path(link.user) %>
</div>


<div class="commentdescriptionname">  
  <%= link_to (link.user.name), user_path(link.user), class: "blue" %>
</div>


<div class="commentdescriptiontext">
<div>
<%= link.description %>
</div>

<div class="date3">
<%= time_ago_in_words(link.created_at) %> ago
</div>

<% if current_user == link.user %>
<div class="date3">•</div> <%= link_to "Delete", question_link_path(link.question, link), method: :delete, data: { confirm: 'Delete this comment?' }, class: "date3" %>
<% end %>
</div>


</div>



</div>


<% end %>


</div>