<style media="screen">
 .imagestrip { background-image: url("http://static01.nyt.com/images/2014/12/21/nyregion/21COPSjp1/21COPSjp1-articleLarge-v2.jpg"); }
 .imagestripquestions { background-image: url("http://media.oregonlive.com/opinion_impact/photo/jeb-bush-20119761jpg-a137a6bdd738a087.jpg"); }
  .experiment { background-image: url("http://i4.mirror.co.uk/incoming/article4934700.ece/alternates/s1227b/Charlie-Hebdo.jpg"); }
  .experiment2 { background-image: url("http://img.qz.com/2014/12/sony-hack-the-interview-rogen.jpg?w=1600"); }
 .navbar .brand {color: white !important;} 
  .headtext {color: white !important;} 
  .navbar .nav > li > a {color: white !important;} 
  .fa-bell-o { color: white !important; }

  .alert-danger { opacity: 1 !important; color: white !important;} 
</style>



<div class="experiment">

<div class="darker"></div>
<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>

<div class="bluecircle2">+</div>

<div class="absolutecontainer">
<div class="relativecontainer">	

<div class="posttext2">
12 Dead in Paris Shootings
</div>



<hr class="whiteimageline"/>
<div class="feedimagetopquestion3">
<%= image_tag ("https://pbs.twimg.com/profile_images/525312017184202752/rCv6hIWr_400x400.jpeg") %>
</div>
<div class="feedimagetopquestion3">
<%= image_tag ("https://pbs.twimg.com/profile_images/3276311659/9a5ac16a84dc44337c3e09186273ada9_400x400.png") %>
</div>
<div class="answersnumber" style="color: rgba(255,255,255, 1) !important; float: left;">
2 Answers
</div>
<div class="row"></div>
<div class="descriptionmargin" style="margin-bottom: 35px !important;"> 
</div>
</div>

</div>
</div>


<div class="width6">
<div style="margin-bottom: 35px !important;"> 
</div>	
<div class="p3">
The world is rallying around satirical magazine Charlie Hebdo and the French people today, after masked assassins—uttering the prayer ‘God is Great’ and invoking vengeance for the prophet Mohammed—massacred 12 in central Paris.
</div>
<div style="padding-top: 10px "></div>
<%= link_to "nytimes.com", root_path, class: "readmore", style: "text-decoration: underline;" %>





</div>

<div class="sixty"></div>
<div class="sixty"></div>
<div class="sixty"></div>
<div class="sixty"></div>
<div class="sixty"></div>
<div class="sixty"></div>
<div class="sixty"></div>



<div class="darker2">
<div class="imagestrip">
<div class='darker'></div>
<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>
<div class="absolutecontainer">
<div class="relativecontainer">
<div class="descriptionmargin"> 
<div class="eventimagepreviewtext">
Fatal Shooting of Two N.Y.P.D. Officers
</div>

<hr class="whiteimageline" style="margin-top: 13px !important; margin-bottom: 15px !important;"/>

<div class="row"></div>



</div>
</div>
</div>
<div class="bluecircle">+</div>

</div>
</div>



<div class="width6">

<div class="titlecontainer">
What was it like to witness the shooting?
</div>

<hr style="margin-top: 20px; margin-bottom: 20px !important;"/>
<div class="feedimagetopquestion2">
<%= image_tag ("https://pbs.twimg.com/profile_images/522533055492141058/eJhyohwI_400x400.jpeg") %>
</div>
<div class="feedimagetopquestion2">
<%= image_tag ("https://pbs.twimg.com/profile_images/459069023850745857/YgXGeO5m_400x400.jpeg") %>
</div>
<div class="feedimagetopquestion2">
<%= image_tag ("https://pbs.twimg.com/profile_images/530086089336168449/aWKzM1gs_400x400.jpeg") %>
</div>
<div class="answersnumber" style="color: rgba(51,51,51,0.4) !important;">
4 Answers 
</div>

<div class="newtoggle" style="margin-bottom: 0px; display: block; margin-top: 0px; opacity: 0.4;">
Asked 3 days ago
</div>

<div class="newtoggle" style="margin-bottom: 60px; margin-top: 10px; opacity: 0.4;">
Last answer 6 hours ago
</div>



<div class="smallavatarfeednomargin2">
<%= image_tag ("https://pbs.twimg.com/profile_images/530086089336168449/aWKzM1gs_400x400.jpeg") %>
</div>

<div class="lightnametopblue"> 
Andrew Golice
</div>
<div class="title50"> 
I live in a nearby apartment to the shootings
</div>


<p>
Over the last two weeks, amid nightly protests against the police, union leaders have been sharply critical of Mr. de Blasio for what they have called insufficient support for officers.The protests started after
Out of public office for eight years, Bush has a thicket of business interests — including massive overseas investment funds — that he is working to untangle himself from before a campaign begins. As one confidant said, “He says he knows he has to wrap it up.”
</p>

<p>
If Bush launches a presidential exploratory committee or otherwise declares his intentions in coming weeks, he would immediately increase the pressure on potential rivals in both parties to make their own decisions quickly. Hillary Rodham Clinton, the presumed Democratic front-runner, has signaled that she could wait until spring to launch a campaign, while many Republicans have been waiting for Bush to make a move.
</p>

<p>
If Bush launches a presidential exploratory committee or otherwise declares his intentions in coming weeks, he would immediately increase the pressure on potential rivals in both parties to make their own decisions quickly. Hillary Rodham Clinton, the presumed Democratic front-runner, has signaled that she could wait until spring to launch a campaign, while many Republicans have been waiting for Bush to make a move.
</p>

<div class="inlineblockleft">
<div class="leftinfoimage">	
<div class="smallavatarfeed">
<%= image_tag ("https://pbs.twimg.com/profile_images/530086089336168449/aWKzM1gs_400x400.jpeg") %>
</div>
</div>
<div class="rightinfo">
<div class="infotextunderanswer">
<%= link_to "Andrew Golice", root_path, class: "blue" %> about 30 minutes ago
</div>
</div>
</div>


<div class="clicked">
Upvoted
</div>
<div class="commentbutton">
0 Comments 
</div>

<div class="row"></div>

<hr style="margin-top: 32px !important; margin-bottom: 35px !important;"/>


<div class="smallavatarfeednomargin2">
<%= image_tag ("https://pbs.twimg.com/profile_images/459069023850745857/YgXGeO5m_400x400.jpeg") %>
</div>

<div class="lightnametopblue"> 
Ryan Moore
</div>
<div class="title50"> 
Ph.D Political Sciencie
</div>


<p>
Jeb Bush and his emissaries are sending increasingly strong signals that the former Florida governor is gearing up for a 2016 presidential campaign, with associates saying he could announce his intentions within a month.

Bush recently e-mailed major Republican donors asking them to, as several of them put it, “keep your powder dry.” His allies are urging would-be bundlers not to commit to New Jersey Gov. Chris Christie or other potential rivals. Bush’s top strategist, Mike Murphy, has also been telling potential campaign staffers not to sign up to work for another candidate and to expect Bush’s announcement soon.
<br>
<br>
Out of public office for eight years, Bush has a thicket of business interests — including massive overseas investment funds — that he is working to untangle himself from before a campaign begins. As one confidant said, “He says he knows he has to wrap it up.”

If Bush launches a presidential exploratory committee or otherwise declares his intentions in coming weeks, he would immediately increase the pressure on potential rivals in both parties to make their own decisions quickly. Hillary Rodham Clinton, the presumed Democratic front-runner, has signaled that she could wait until spring to launch a campaign, while many Republicans have been waiting for Bush to make a move.

</p>


<div class="inlineblockleft">
<div class="leftinfoimage">	
<div class="smallavatarfeed">
<%= image_tag ("https://pbs.twimg.com/profile_images/459069023850745857/YgXGeO5m_400x400.jpeg") %>
</div>
</div>
<div class="rightinfo">
<div class="infotextunderanswer">
<%= link_to "Ryan Moore", root_path, class: "blue" %> 3 days ago
</div>
</div>
</div>


<div class="upvotebutton2">
Upvote
</div>
<div class="commentbutton">
3 Comments 
</div>

<div class="row"></div>

<div class="inlineborderfeed" style="margin-top: 30px;">
<div class="commentwidth">	
<div class="smallavatar3">
<%= image_tag ("https://pbs.twimg.com/profile_images/535129051459883008/2UXHhj-p_400x400.jpeg") %>
</div>


<div class="commentdescriptiontext">
<div class="commentdescriptionname">	
Lydia Polgreen
</div>
</div>

<div class="commentdescriptiontext" style="color: rgba(51,51,51,0.75);">
<div>
Out of public office for eight years, Bush has a thicket of business interests — including massive overseas investment funds — that he is working to untangle himself from before a campaign begins. 

</div>

<div class="date3">
3 hours ago
</div>


</div>

<hr style="margin-bottom: 15px !important; margin-top: 15px !important; width: 100px; margin-left: 45px;" />

<div class="smallavatar3">
<%= image_tag ("https://pbs.twimg.com/profile_images/420314816444502016/xj5TnUsx_400x400.jpeg") %>
</div>


<div class="commentdescriptiontext">
<div class="commentdescriptionname">	
Elon Musk
</div>
</div>

<div class="commentdescriptiontext" style="color: rgba(51,51,51,0.75);">
<div>
He is working to untangle himself from before a campaign begins. 

</div>

<div class="date3">
1 hour ago
</div>



</div>

<hr style="margin-bottom: 15px !important; margin-top: 15px !important; width: 100px; margin-left: 45px;" />


<div class="smallavatar3">
<%= image_tag ("https://pbs.twimg.com/profile_images/378800000145509143/ed76915281848cb6913666c7ffd13342_400x400.jpeg") %>
</div>


<div class="commentdescriptiontext">
<div class="commentdescriptionname">	
Nevan Whiteside
</div>
</div>

<div class="commentdescriptiontext" style="color: rgba(51,51,51,0.5);">
<div>
Add a comment...

</div>

<div class="row"></div>

<hr style="margin-bottom: 15px !important; margin-top: 15px !important; width: 100px;" />

<div class="row"></div>

<%= link_to "Post", root_path, class: "bluebuttonask", style: "font-size: 11px !important; padding: 6px 11px 5px 11px !important; margin-top: -10px;" %>




</div>



</div>
</div>




<div class="inlineborderfeedtextright" style="opacity: 0.5; margin-top: 35px;">
2 Hidden Answers...
</div>
<div class="row"></div>




<hr class="aboveimageline" style="margin-top: 33px !important;"/>
<div class="newtoggle">
MORE QUESTIONS
</div>

<div class="newtoggleright blue">
SEE ALL...
</div>


<div class="titlecontainer20">
Is it more likely Jeb Bush will announce his candidacy this year or next?
</div>
<div style="padding-top: 13px "></div>
<div class="inlineborderfeed">

<div class="inlineborderfeedtext">
1 Answer
</div>

</div>
<div style="padding-top: 20px "></div>

<div class="row"></div>

<div class="smallavatarfeednomargin2">
<%= image_tag ("https://pbs.twimg.com/profile_images/459069023850745857/YgXGeO5m_400x400.jpeg") %>
</div>

<div class="lightnametopblue"> 
Ryan Moore
</div>
<div class="title50"> 
Ph.D Political Science
</div>


<div class="p2">
Out of public office for eight years, Bush has a thicket of business interests — including massive overseas investment funds — that he is working to untangle himself from before a...
<%= link_to "(more)", root_path, class: "readmore" %>
</div>

<hr style="margin-top: 32px !important; margin-bottom: 35px !important;"/>






</div>


<div class="darker2">
<div class="imagestrip">
<div class='darker'></div>

<div class="absolutecontainer">
<div class="relativecontainer">
<div class="descriptionmargin"> 
<div class="eventimagepreviewtext">
Jeb Bush Considering 2016 Presidential Run
</div>

<hr class="whiteimageline" style="margin-top: 8px !important; margin-bottom: 12px !important;"/>



</div>
</div>
</div>


</div>
</div>


<div class="sixty"></div>


<div class="experiment">

<div class="darker"></div>
<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>

<div class="bluecircle2">+</div>

<div class="absolutecontainer">
<div class="relativecontainer">	

<div class="posttext2">
Fatal Shooting of Two N.Y.P.D. Officers
</div>



<hr class="whiteimageline"/>
<div class="feedimagetopquestion2">
<%= image_tag ("https://pbs.twimg.com/profile_images/522533055492141058/eJhyohwI_400x400.jpeg") %>
</div>
<div class="feedimagetopquestion2">
<%= image_tag ("https://pbs.twimg.com/profile_images/530086089336168449/aWKzM1gs_400x400.jpeg") %>
</div>
<div class="answersnumber" style="color: rgba(255,255,255, 1) !important;">
2 ANSWERS
</div>
<div class="row"></div>
<div class="descriptionmargin" style="margin-bottom: 35px !important;"> 
</div>
</div>

</div>
</div>


<div class="width6">
<div class="descriptionmargin" style="margin-bottom: 27px !important;"> 
</div>	
<div class="p3">  
Two police officers were fatally shot as they sat in their patrol car in Bedford-Stuyvesant, Brooklyn, on Saturday afternoon. The assailant then killed himself, the police said.
</div>
<div style="padding-top: 10px "></div>
<%= link_to "nytimes.com", root_path, class: "readmore", style: "padding-left: 17px;" %>


<div class="row"></div>





<div class="newtoggle" style="margin-bottom: 0px;">
Top Answers
</div>

<div class="newtoggleright blue" style="margin-bottom: 0px;">
Top Questions...
</div>

<hr class="aboveimageline" style="margin-bottom: 33px !important;"/>

<div class="row"></div>

<div class="titlecontainer30">
What was it like to witness the shooting?
</div>

<div style="padding-top: 20px "></div>

<div class="row"></div>

<div class="smallavatarfeednomargin2">
<%= image_tag ("https://pbs.twimg.com/profile_images/530086089336168449/aWKzM1gs_400x400.jpeg") %>
</div>

<div class="lightnametopblue"> 
Andrew Golice
</div>
<div class="title50"> 
I live in a nearby apartment to the shootings
</div>

<div class="p2">
Over the last two weeks, amid nightly protests against the police, union leaders have been sharply critical of Mr. de Blasio for what they have called insufficient support for officers.The protests started after...
<%= link_to "(more)", root_path, class: "readmore" %>
</div>





<hr style="margin-top: 32px !important; margin-bottom: 35px !important;"/>


<div class="row"></div>

<div class="titlecontainer30">
What was it like to witness the shooting?
</div>

<div style="padding-top: 20px "></div>

<div class="row"></div>

<div class="smallavatarfeednomargin2">
<%= image_tag ("https://pbs.twimg.com/profile_images/522533055492141058/eJhyohwI_400x400.jpeg") %>
</div>

<div class="lightnametopblue"> 
Ryan Bratton
</div>
<div class="title50"> 
Eating in a restaurant beside where the shooting was
</div>


<div class="p2">
Mr. de Blasio said that he had met with the officers’ families, including Officer Ramos’s 13-year-old son, who “couldn’t comprehend what had happened to his father.” At 2:47 p.m., Mr. Bratton said, as the officers sat in their marked...
<%= link_to "(more)", root_path, class: "readmore" %>
</div>



<hr style="margin-top: 32px !important; margin-bottom: 35px !important;"/>



<div class="intercontent">

<div class="inlineborderfeedtext">
TOP QUESTIONS
</div>

<div class="inlineborderfeedtextright blue">
SEE ALL...
</div>

<hr style="margin-top: 10px !important; margin-bottom: 0px !important;"/>

<div class="inlineborderfeedquestion">
What is Jeb Bush's biggest weakness?
</div>
<div class="inlineborderfeedquestionsmall">
5 Answers
</div>

<div class="inlineborderfeedquestion">
Is it more likely Jeb Bush will announce his candidacy this year or next?
</div>
<div class="inlineborderfeedquestionsmall">
2 Answers
</div>


</div>

<hr style="margin-top: 32px !important; margin-bottom: 35px !important;"/>

<div class="row"></div>

<div class="titlecontainer30">
Is it more likely Jeb Bush will announce his candidacy this year or next?
</div>

<div style="padding-top: 20px "></div>

<div class="row"></div>

<div class="smallavatarfeednomargin2">
<%= image_tag ("https://pbs.twimg.com/profile_images/1093411348/sarahrv.jpg") %>
</div>

<div class="lightnametopblue"> 
Olivia Nuzzi
</div>
<div class="title50"> 
Analyst at Washington D.C. Center of Governance 
</div>


<div class="p2">
Jeb Bush and his emissaries are sending increasingly strong signals that the former Florida governor is gearing up for a 2016 presidential campaign, with associates saying he could announce his intentions within a month...
<%= link_to "(Read more)", root_path, class: "readmore" %>
</div>

<hr style="margin-top: 32px !important; margin-bottom: 35px !important;"/>


<div class="inlineborderfeed">


</div>



<div class="inlineborderfeedtextright blue">
Top Questions...
</div>

</div>

<div class="sixty"></div>
<div class="sixty"></div>

<div class="darker2">
<div class="imagestripquestions">
<div class='darker'></div>
<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>
<div class="absolutecontainer">
<div class="relativecontainer">
<div class="descriptionmargin"> 
<div class="eventimagepreviewtext" style="font-size: 30px;">
Jeb Bush Considering 2016 Presidential Run
</div>

<hr class="whiteimageline" style="margin-top: 8px !important; margin-bottom: 12px !important;"/>

<div class="answersnumber" style="color: rgba(255,255,255, 1) !important; border-left: 1px solid rgba(255,255,255,0.5)">
5 Questions
</div>
<div class="row"></div>

</div>
</div>
</div>


</div>
</div>

<div class="width6">

<hr class="aboveimageline" style="margin-top: 33px !important;"/>
<div class="newtoggle">
Top Questions
</div>

<div class="newtoggleright blue">
Top Answers...
</div>

<div class="row"></div>

<div class='titlecontainer20'>
What is Jeb Bush's biggest weakness?
</div>

<div style="padding-top: 13px "></div>
<div class="inlineborderfeed">

<div class="inlineborderfeedtext">
2 of 5 Answers
</div>

</div>
<div style="padding-top: 20px "></div>


<div class="row"></div>

<div class="smallavatarfeednomargin2">
<%= image_tag ("https://pbs.twimg.com/profile_images/1093411348/sarahrv.jpg") %>
</div>

<div class="lightnametopblue"> 
Olivia Nuzzi
</div>
<div class="title50"> 
Analyst at Washington D.C. Center of Governance 
</div>


<div class="p2">
Jeb Bush and his emissaries are sending increasingly strong signals that the former Florida governor is gearing up for a 2016 presidential campaign, with associates saying he could...
<%= link_to "(Read more)", root_path, class: "readmore" %>
</div>

<div class="dottedline"></div>


<div class="row"></div>

<div class="smallavatarfeednomargin2">
<%= image_tag ("https://pbs.twimg.com/profile_images/473212034708803586/eO8JUel8_400x400.jpeg") %>
</div>

<div class="lightnametopblue"> 
Julia Goldman
</div>
<div class="title50"> 
Law Professor, Georgetown University
</div>


<div class="p2">
Jeb Bush and his emissaries are sending increasingly strong signals that the former Florida governor is gearing up for a 2016 presidential campaign, with associates saying he could...
<%= link_to "(Read more)", root_path, class: "readmore" %>
</div>

<hr style="margin-top: 32px !important; margin-bottom: 35px !important;"/>
<div class="titlecontainer20">
Is it more likely Jeb Bush will announce his candidacy this year or next?
</div>
<div style="padding-top: 13px "></div>
<div class="inlineborderfeed">

<div class="inlineborderfeedtext">
1 Answer
</div>

</div>
<div style="padding-top: 20px "></div>

<div class="row"></div>

<div class="smallavatarfeednomargin2">
<%= image_tag ("https://pbs.twimg.com/profile_images/459069023850745857/YgXGeO5m_400x400.jpeg") %>
</div>

<div class="lightnametopblue"> 
Ryan Moore
</div>
<div class="title50"> 
Ph.D Political Science
</div>


<div class="p2">
Out of public office for eight years, Bush has a thicket of business interests — including massive overseas investment funds — that he is working to untangle himself from before a...
<%= link_to "(Read more)", root_path, class: "readmore" %>
</div>

<hr style="margin-top: 32px !important; margin-bottom: 35px !important;"/>

</div>

<div class="sixty"></div>
<div class="sixty"></div>

