
<div style="position: fixed; top: 0; right: 0; left: 0; height: 45px; border-bottom: 1px solid rgba(51,51,51,0.1);">
<div style="margin-right: 240px; margin-top: 0px;">
<div class="width5-center" style="width: 540px; padding-left: 300px;">

</div>
</div>
</div>

<div style="width: 380px; background-color: rgba(51,51,51,0);  top: 0px; bottom: 0; position: fixed; background-color: #fff; ">

<div class='home-feed-image' style="height: 370px; background-image: url(https://qzprod.files.wordpress.com/2015/12/rtr3uqfv.jpg?quality=80&strip=all&w=2415);">




</div>

<div style="padding: 25px 25px 0px 25px;">

<div style="width: 188px; margin: 0 auto;">

<div style="display: block;
    position: relative;
    height: 36px;
    padding: 0 16px;
    color: rgba(0,0,0,1);
    background: rgba(0,0,0,0);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; line-height: 35px;  float: left; margin-right: 10px; ">

Follow
</div>



<div class="avatar-feed-comment">
<%= image_tag("https://qph.is.quoracdn.net/main-thumb-751-200-omxqoqqirxwotcwavdlibvxxkcndtziu.jpeg") %>
</div>

<div class="avatar-feed-comment">
<%= image_tag("https://qph.is.quoracdn.net/main-thumb-2706814-200-2lRQFAL1C0MSvZHqo7WLW6XKeHWXcQg7.jpeg") %>
</div>
<div class="avatar-feed-comment">
<%= image_tag("https://qph.is.quoracdn.net/main-thumb-38814716-200-zzxhnzjplkkruaqcttpaimtonmlzerrv.jpeg") %>
</div>
</div>

</div>

<div class="row"></div>


<div style="padding: 0px 80px 0px 80px">
  <hr style="margin-top: 25px; margin-bottom: 22px;"/>

   <div style=" display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 49.5%;"><div style="display: inline; font-weight: 600; font-size: 24px; padding-bottom: 5px;">7</div> <div class="row"></div><div style="text-transform: uppercase; margin-top: 5px; font-size: 12px;">Questions</div> </div>
 <div style=" display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 49.5%; border-left: 1px solid rgba(51,51,51,0.1);"><div style="display: inline; font-weight: 600; font-size: 24px; padding-bottom: 5px;">4</div> <div class="row"></div><div style="text-transform: uppercase; margin-top: 5px; font-size: 12px;">Answers</div>  </div>



</div>
</div>

<div style="    box-shadow: -1px 0 1px -2px rgba(0,0,0,0.9); position: fixed; width: 250px; top: 45px; right: 0; bottom: 0; background: #fafafa; z-index: 10000;">

<hr style="border-top: 1px solid #f0efef; margin-top: 0px; margin-bottom: 25px;"/>


<div style="padding: 0px 25px 0px 25px;">
<div class="sidebar-nav-head" style="margin-bottom: 10px; font-weight: 400; font-size: 12px; letter-spacing: 0.05em; font-weight: 600;">
TOPICS
</div>
<hr style="margin-top: 10px; margin-bottom: 5px;"/>

<div style="padding-top: 10px;"></div>
<div class="row" style="margin-top: 0px;"></div>


<%= link_to 'Top Stories', root_path, class: "margin-c" %>
<a href="/tags/world" class="margin-c"  >World</a>
<a href="/tags/united-states" class="margin-c"  >U.S.</a>
<a href="/tags/politics" class="margin-c"  >Politics</a>
<a href="/tags/business" class="margin-c"  >Business</a>
<a href="/tags/technology" class="margin-c" >Technology</a>
<a href="/tags/science" class="margin-c"  >Science</a>

</div>


<div style="padding: 0px 25px 0px 25px;">

<div class="sidebar-nav-head" style="margin-bottom: 10px; font-weight: 400; font-size: 12px; letter-spacing: 0.05em; font-weight: 600; margin-top: 25px;">
TOP STORIES
</div>
<hr style="margin-top: 10px; margin-bottom: 25px;"/>


<div class='home-feed-image' style="height: 60px; width: 60px; float: right; margin-left: 15px; background-image: url(https://qzprod.files.wordpress.com/2015/12/fitbit-christmas.jpg?quality=80&strip=all&w=1600); border-radius: 2px;"></div>

<div style="line-height: 1.3;">
Obama leaves for Paris Summit
</div>

<div class="row"></div>

<div class='home-feed-image' style="height: 60px; margin-top: 25px; width: 60px; float: right; margin-left: 15px; background-image: url(https://qzprod.files.wordpress.com/2015/12/kobe-bryant.jpg?quality=80&strip=all&w=940); border-radius: 2px;"></div>

<div style="line-height: 1.3; margin-top: 25px;">
Why the NBA should stop basketball fans from picking...
</div>

<div class="row"></div>

<div class='home-feed-image' style="margin-top: 25px; height: 60px; width: 60px; float: right; margin-left: 15px; background-image: url(https://qzprod.files.wordpress.com/2015/12/modi-sharif.jpg?quality=80&strip=all&w=1600); border-radius: 2px;"></div>

<div style="line-height: 1.3; margin-top: 25px;">
Fitbit topped Apple’s app chart on Christmas Day
</div>

<div class="margin-c" style="margin-top: 35px;">
See all
</div>

<div class="row"></div>


<i class="material-icons" style="opacity: 0.7; margin-top: 20px; float: right; font-size: 22px;">more_horiz</i>
</div>



</div>





<div style="margin-right: 240px; margin-top: 0px;">
<div class="width5-center" style="width: 540px; padding-left: 300px; margin-top: 70px;">


<div style="width: 100%;">


<div class="row"></div>
<div style="font-size: 40px; margin-bottom: 13px;">
A new law would allow Danish police to seize refugees’ valuables
</div>
<div class="card-description">
WhatsApp, the Facebook-owned messaging service, has been ordered by a Brazilian judge to shut down for two days. The ban took effect at midnight local time (9pm ET on Dec. 16).
</div>

<div class="linklogoimage-large" style="margin-top: 15px; float: left; z-index: 1000000;">
<%= image_tag ("https://upload.wikimedia.org/wikipedia/commons/f/fb/Cnn_logo_red_background.png") %>
</div>  
<div style="font-size: 16px;  opacity: 1; float: left; display: inline-block;  font-weight: 600; line-height: 34px; margin-top: 15px; ">
Quartz
</div>
<div style="font-size: 14px; opacity: 0.7; float: left; margin-top: 0px; display: inline-block;  font-weight: 400; line-height: 34px; margin-left: 10px; margin-top: 15px; ">
2h ago
</div>

</div>  



<div class="row"></div>

<div class="row"></div>
<hr style="margin-top: 25px; margin-bottom: 30px;"/>






</div>






</div>





</div>










