<% if user_signed_in? %>


<%= simple_form_for [question, Link.new], :remote => true, html: {id: "new_link"} do |f| %>
<%= f.error_notification %>
<%= f.hidden_field :user_id, :value => current_user.id %>


<div class="smallavatar3">
<%= image_tag (current_user.image) %>
</div>


<div class="commentdescriptiontext">
<div class="commentdescriptionname">	
<%= link_to (current_user.name), user_path(current_user) %>	
</div>


 <%= f.input :description, as: :text, input_html: { rows: "1", :class => "createcomment" }, label: false,placeholder: "Write a comment..." %>
 <%= f.button :submit, "Post", class: "favouritebuttoncomment" %>
</div>


<% end %>



<% else %>


<%= link_to "Sign up to add comment...", new_user_registration_path, class: "addlink" %>


<% end %>


