<hr class="linelinks"/>
<div class="row"></div>

<% if user_signed_in? %>



<%= simple_form_for [question, Link.new], :remote => true, html: {id: "new_link"} do |f| %>
<%= f.error_notification %>
<%= f.hidden_field :user_id, :value => current_user.id %>



<div class="commentdescriptionname">	
<%= link_to (current_user.name), user_path(current_user), class: "blue" %>	
</div>


 <%= f.input :description, as: :text, input_html: { rows: "1", :class => "createcomment" }, label: false,placeholder: "Add a comment..." %>


<div class="row"></div>



 <%= f.button :submit, "→", class: "bluebuttonask", data: { disable_with: "..." } %>

<div class="ask-details">
Please read Podium's <%= link_to "reply guidelines", guidelines_path, class: "blue" %> before posting.
</div>





<% end %>



<% else %>

<%= link_to user_omniauth_authorize_path(:twitter) do %>
<div class="twitter-reply">
<i class="fa fa-twitter" style="color: #018bc6; font-size: 16px; display: inline-block; margin-right: 4px;"></i> Login with Twitter to reply
</div>
<% end %>

<% end %>

