<div class="width6"> 
<div class="inlineborderfeed">
<div class="commentwidth">	

<% if user_signed_in? %>


<%= simple_form_for [question, Link.new], :remote => true, html: {id: "new_link"} do |f| %>
<%= f.error_notification %>
<%= f.hidden_field :user_id, :value => current_user.id %>


<div class="smallavatar3">
<%= image_tag (current_user.image) %>
</div>


<div class="commentdescriptiontext">
<div class="commentdescriptionname">	
<%= link_to (current_user.name), user_path(current_user), class: "blue" %>	
</div>


 <%= f.input :description, as: :text, input_html: { rows: "1", :class => "createcomment" }, label: false,placeholder: "Add a comment..." %>


<div class="row"></div>

<hr style="margin-bottom: 15px !important; margin-top: 15px !important; width: 100px;" />

<div class="row"></div>

 <%= f.button :submit, "Post", class: "bluebuttonask", style: "font-size: 10px !important; padding: 3px 10px 3px 10px !important; margin-top: -5px;", data: { disable_with: "Posting..." } %>
</div>



<% end %>



<% else %>


<%= link_to "Sign up to add comment...", new_user_registration_path, class: "addlink" %>


<% end %>


</div>
</div>
</div>