<div class="visible-desktop hidden-tablet hidden-phone">
<hr/>

<div class="paddingbottom">
<strong>Read more</strong>
</div>

 
<% if @post.links.count > 0 %>

<% @links.each do |link| %>
<div class="linktext">
<a href="<%= link.URL %>" style="color: #19558d !important;"> <%= link.description %> </a> <br>
</div>
<div class="lightcontainerlink">
<%= link.URL[0,30] %>
</div>
<% end %>
<div class="viewall">
<%= link_to 'View All', post_links_path(@post) %>
</div>


<% else %>

No articles have been posted
<%= link_to ("Add the first link"), new_post_link_path(@post), class: "blue" %>

<% end %>
</div>

<div class="visible-phone visible-tablet">
<div class="span10">
<div class="row">

<div class="learnmore">
<%= link_to 'Read more...', post_links_path(@post), class: "blue" %>
</div>


</div>
</div>
</div>
