
<div class="container">
 <div class="row">

<div class="visible-desktop hidden-phone hidden-tablet">
<div class="fixed">
<div class="span4">
<div class="line2">
<div class="commentimage">
 <%= image_tag @post.image(:small) %>    
 </div>



<div class="info">
<div class="newspaper7"> 
<%= time_ago_in_words(@post.created_at) %> ago <br>
</div>
</div>

<div class="info">
<div class="newspaper7"> 
<div class="blue">
<%= @post.country %>
</div>
</div>
</div>
<hr/>

<div class="learnmore">
Summary
</div>

<div class="descriptioncontainer2">
<div class="newspaper7"> 
<%= @post.description %>
</div>
</div>

<hr/>

</div>
</div>
</div> 
</div>


<div class="span7 offset4">

<div class="titlecontainer">
<%= @post.title %>
</div>


<hr />
<% if user_signed_in? %>
<div class="questioncontainer3">  
<%= link_to '+ Link', new_post_link_path(@post), class: "button4" %>
</div>
<% else %>
<div class="questioncontainer3">  
<%= link_to '+ Link', new_user_registration_path, class: "button4" %>
</div>
<% end %>

<% if @post.comments.count == 1 %>
<div class="number2">
<strong><%= @post.links.count %></strong> Link
</div>
<% else %>
<div class="number2">
<strong><%= @post.links.count %></strong> Links 
</div>
<% end %>

<%= render 'form' %>

</div>
</div>
</div>




