
<div class="px300">

 <div class="twitterlogin">
<i class="fa fa-twitter"></i>
 <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), class: "white" %>
</div>

 <div class="or">
or with email
</div> 
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, input_html: { :class => "hello4" }, label: false,placeholder: "Email" %>
  <%= f.input :password, input_html: { :class => "hello4" }, label: false,placeholder: "Password" %>
  <div class="checkboxmargin"></div>
  <%= f.input :remember_me, as: :boolean, input_html: { :class => "buttoncheckbox" }, label: false %>
  <div class="buttoncheckbox2">
    Remember Me
  </div>



<div class="row"></div>
<div class="center">
<%= f.submit "Sign In", class: "favouritebuttonmodal" %>
</div>

<% end %>

</div>