<div class="container">
<div class="row">

<div class="span3">
<div class="redborder2">

<div class="logotext">
Login
</div>
</div>

<div class="redborder">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form'}) do |f| %>

  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :remember_me, as: :boolean %>

 
    <%= f.submit "Sign in", class: "button5" %>
   </div>

</div>

<div class="span4">
<div class="besideformtext">
<div class="blue">
Podium let's you read about breaking events from experts around the world.
</div>
</div>
<div class="font22">
New to Podium? <strong><%= link_to 'Sign Up', new_user_registration_path %></strong>
</div>
</div>




</div>
</div> 
<% end %>




