<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form'}) do |f| %>

  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :remember_me, as: :boolean %>

 
    <%= f.submit "Sign in", class: "btn btn-primary" %>
  </div>
<% end %>

