<div class="visible-desktop hidden-phone hidden-tablet">


<div class="absolute">
<div class="visible-desktop visible-tablet hidden-phone">
<div class="navbar transparent navbar-inverse ">
   <nav class="navbar-inner">
<div class="span12 centered">
<div class="loginlogo">
<%= image_tag ("http://i.imgur.com/IgMPC2v.png") %>
</div>
</div>
</nav>
</div>
</div>
</div>

<div class="relative">]
<div class="px300">
 <div class="twitterlogin">

 <%= link_to "Sign up with Twitter", user_omniauth_authorize_path(:twitter), class: "white" %>
</div>

<div class="twitterlogin2">
<div id="showmenu">Sign in with Email</div>
</div>


<div class="menu" style="display: none;">

 <div class="completeyourprofile">
Sign In
</div> 
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, input_html: { :class => "hello4" }, label: "Email",placeholder: "Email" %>
  <%= f.input :password, input_html: { :class => "hello4" }, label: "Password",placeholder: "Password" %>
  <div class="checkboxmargin"></div>
  <%= f.input :remember_me, as: :boolean, input_html: { :class => "buttoncheckbox" }, label: false %>
  <div class="buttoncheckbox2">
    Remember Me
  </div>

<div class="floatright">
  <div class="return">
    <%= link_to "Forgot your password?", new_user_password_path(resource_name) %>
   </div>
</div>

<div class="paddingtop"></div>

<%= f.submit "Sign In", class: "buttonred" %>


<% end %>

</div>
</div>
</div>

<div class="hidden-desktop visible-phone visible-tablet">

 <div class="span5 centered">

  <div class="twitterlogin"> 
 <div class="twitterbird">  
 <%= image_tag('http://i.imgur.com/LpDbTwS.png') %>
</div>  
 <%= link_to "Login with Twitter", user_omniauth_authorize_path(:twitter), class: "twitterblue" %>
</div>

<div class="center">
<div class="toplight">
or
</div>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, input_html: { :class => "hello4" }, label: false,placeholder: "Email" %>
  <%= f.input :password, input_html: { :class => "hello4" }, label: false,placeholder: "Password" %>
  <div class="checkboxmargin"></div>
  <%= f.input :remember_me, as: :boolean, input_html: { :class => "buttoncheckbox" }, label: false %>
  <div class="buttoncheckbox2">
    Remember Me
  </div>

<%= f.submit "Login", class: "buttonred" %>


 <div class="paddingtop">
    <%= link_to "Forgot your password?", new_user_password_path(resource_name) %>
   </div>


<% end %>


</div>


</div>

<script>

 $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu').slideToggle("fast");
                $('#showmenu').hide();
                $('.twitterlogin2').hide();
                $('.twitterlogin').hide();
        });
    }); 
</script>





