<div class="modal-width-slide">
<div class="infopage-container-modal">
<div class="guidelines-text-light" style="color: #018bc6 !important; font-size: 14px;">
Add Image
</div>

<hr class="modalline-slide" style="margin-top: 10px;"/>

 <% if user_signed_in? %>

<%= simple_form_for([@post, Picture.new]) do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>




<div class="blah2">
<div class="addimageevent">
<%= f.input :image, input_html: { :style => "opacity:0;" }, label: false %>
</div>
</div>
<img id="blah2" style="margin-bottom: 0px; background-color: rgba(51,51,51,0.03) !important;"/>

<hr class="modalline-slide"/>

<%= f.submit "Add", class: "submitbluemodal" %>


<div class="modaldeclinebutton" id="picture">Cancel</div>

<div class="row"></div>
<hr class="modalline-slide"/>
<div class="guidelines-text-light">
Please make sure you own the rights to the image.
    </div>



  <% end %>

  <% else %>

Please <%= link_to "Login", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to add an image.


<% end %> 

</div>
</div>

<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah2').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#picture_image").change(function(){
        readURL(this);
    });

</script>