<%= simple_form_for([@post, Picture.new]) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.input :image, label: "Upload an image" %>

  
  <div class="center">
    <%= f.button :submit, class: "favouritebuttonleft" %>
  </div>


  <% end %>

  