<div class="settingsnavtop">

<div class="width6">
<div class="underpodiumhomeguidelinesbig" style="color: white; display: inline;">
Change Image
</div>
</div>

<div class="absoluteheader">
<%= render 'layouts/xheader' %>
</div>

</div>



<div class="width6">
<div class="sixty"></div>
 <% if user_signed_in? %>

<%= simple_form_for([@post, @picture]) do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<div class="blah2">
<div class="addimageevent">
<%= f.input :image, input_html: { :style => "opacity:0;" }, label: false %>
</div>
</div>
<img id="blah2" style="margin-bottom: 0px; background-color: rgba(51,51,51,0.03) !important;"/>

<div class="floatright">
<%= f.submit "Add Image", class: "modalacceptbutton", style: "margin-bottom: 30px;" %>
</div>




  <% end %>

  <% else %>

Please <%= link_to "Login", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to add an image.


<% end %> 


<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah2').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#picture_image").change(function(){
        readURL(this);
    });

</script>
</div>


