<% if activity.read == true %>

<div class="timeline-dot" style="background-color: rgba(51,51,51,0.1);">
</div>

<div class="timeline-content" style="width: 100%; border-left: 2px solid rgba(51,51,51,0.1);">

<% else %>

<div class="timeline-dot">
</div>

<div class="timeline-content" style="width: 100%;">


<% end %>



<div style="width: 70%">

<div class="timeline-date" style="font-size: 11px; margin-bottom: 4px;">
<%= time_ago_in_words(activity.trackable.created_at) %> ago
</div>  
<div class="notification-smalltext" style="font-size: 16px; display: block; margin-bottom: 0px; color: #018bc6 !important;">
Welcome to Podium, <%= current_user.name %>
</div>
<div class="notification-smalltext" style="display: inline-block; font-size: 14px; margin-bottom: 3px;">
Podium is new blah
</div>

<hr class="line30" style="margin-top: 10px; margin-bottom: 10px;"/>

<div class="notification-smalltext" style="display: inline-block;">
This is your notifications page where you'll see answers to your questions, replies to your answers and more.
</div>


<div class="welcome-homepage">

<%= image_tag ("http://i.imgur.com/PQPK4kq.png") %>

</div>


<div class="welcome-homepage-text">
<div class="notification-smalltext" style="display: inline-block; margin-bottom: 0px;">
The homepage shows the latest stories happening around the world. Updated every day.
<%= link_to "Go to home", root_path, class: "blue" %>
</div>

</div>



<div class="row" style="margin-top: 20px;"></div>

<div class="welcome-homepage">

<%= image_tag ("http://i.imgur.com/F69dzjC.png") %>

</div>



<div class="welcome-homepage-text">
<div class="notification-smalltext" style="display: inline-block; margin-bottom: 0px;">
Look for the blue 'plus' circle to add a question or write an answer. 
</div>

</div>

<div class="row"></div>


<div class="row" style="margin-top: 20px;"></div>

<div class="welcome-homepage">

<%= image_tag ("http://i.imgur.com/uHmyiuo.png") %>

</div>



<div class="welcome-homepage-text">
<div class="notification-smalltext" style="display: inline-block; margin-bottom: 0px;">
Recommend answers you find interesting and informative. Popular answers will rise to the top so others can find them.
</div>

</div>

<div class="row"></div>


<div class="row" style="margin-top: 20px;"></div>

<div class="welcome-homepage">

<%= image_tag ("http://i.imgur.com/IJ15EW2.png") %>

</div>



<div class="welcome-homepage-text">
<div class="notification-smalltext" style="display: inline-block; margin-bottom: 0px;">
The answers you recommend will be shown on your profile along with any answers or replies you've written. <%= link_to "Your profile", root_path, class: "blue" %>
</div>

</div>

<div class="row"></div>




<hr class="line30" style="margin-top: 20px; margin-bottom: 10px;"/>
<div class="timeline-date" style="margin-bottom: 17px; color: #018bc6;">
Share Podium on Twitter
</div>

<div class="welcome-twitter-share">
[Tagline here]. Check out Podium at http://readpodium.com
</div>


<%= link_to "http://twitter.com/home?status=[Tagline here]. Check out Podium at readpodium.com", :target => "_blank" do %>
<div class="submitblue-small" style="float: right;">
<i class="fa fa-twitter-square" style="font-size: 13px;"></i> Tweet
</div>
<% end %>


<div class="row"></div>

</div>
</div>






