

<style media="screen">
  #blah2 { background-image: '#blah2'); background-color: #333;  background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
</style>



   <%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

<div class="width6">

<div class="blah2">
<div class="addimage">
<%= f.input :image, input_html: { :style => "opacity:0;" }, label: false %>
</div>
</div>
<img id="blah2"/>




   <%= f.input :title, as: :text, input_html: { rows: "1", :style=> 'width: 95.7%',:class => "posttitleform inputBody" },label: false, placeholder: "Event Headline" %>
   <%= f.input :description, as: :text, input_html: { rows: "1", :style=> 'width: 95.7%',:class => "underneathform inputBody" }, label: false, placeholder: "Summary of the event"%>

<hr/>
<%= f.input :link, as: :text, input_html: { rows: "1",:style=> 'width: 95.7%',:class => "locationform inputBody" }, label: false, placeholder: "Link" %>

<%= f.input :domain, as: :text, input_html: { rows: "1",:style=> 'width: 95.7%',:class => "locationform inputBody" }, label: false, placeholder: "Domain" %>

<%= f.label :tag_list, label: false %>
  
<%= f.input :tag_list, as: :text,  input_html: { rows: "2", :style=> 'width: 95.7%',:class => "create" }, label: false, placeholder: "World, Politics, Technology, Business, Science" %>

<%= f.input :domain, as: :text, input_html: { rows: "1",:style=> 'width: 95.7%',:class => "locationform inputBody" }, label: false, placeholder: "Image Source" %>

<a id="close">
<%= f.check_box :hide, as: :boolean, input_html: { :class => "buttoncheckbox" }, label: false %>
</a>
<div class="buttoncheckbox2">
Hide Post 
  </div>


<%= f.check_box :top, as: :boolean, input_html: { :class => "buttoncheckbox" }, label: false %>

<div class="buttoncheckbox2">
Featured
</div> 

<%= f.check_box :category, as: :boolean, input_html: { :class => "buttoncheckbox" }, label: false %>

<div class="buttoncheckbox2">
Category Featured
</div> 

<div class="center">
 <%= f.submit "Publish", class: "favouritebuttonleft" %>
</div>

</div>

 <% end %>




<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah2').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#post_image").change(function(){
        readURL(this);
    });

</script>




