<% if current_user.try(:admin?) %>




   <%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>
<div class="span8 centered">

<div class="eventimage">
<div class="addimage">
<%= f.input :image, input_html: { :style => "opacity:0;" }, label: false %>
</div>
<img id="blah"/>
</div>
</div>

</div>

<div class="span7 centered">
   <%= f.input :title, as: :text, input_html: { rows: "1", :style=> 'width: 95.7%',:class => "posttitleform inputBody" },label: false, placeholder: "Event Headline" %>
   <%= f.input :description, as: :text, input_html: { rows: "1", :style=> 'width: 95.7%',:class => "underneathform inputBody" }, label: false, placeholder: "Summary of the event"%>
 


<%= f.input :country, as: :text, input_html: { rows: "1",:style=> 'width: 95.7%',:class => "locationform inputBody" }, label: false, placeholder: "Location" %>

<hr/>
<%= f.input :link, as: :text, input_html: { rows: "1",:style=> 'width: 95.7%',:class => "locationform inputBody" }, label: false, placeholder: "Link" %>

<%= f.input :domain, as: :text, input_html: { rows: "1",:style=> 'width: 95.7%',:class => "locationform inputBody" }, label: false, placeholder: "Domain" %>

<%= f.label :tag_list, label: false %>
  
<%= f.input :tag_list, as: :text,  input_html: { rows: "2", :style=> 'width: 95.7%',:class => "create" }, label: false, placeholder: "World, United States, Politics, Technology, Science" %>

 <%= f.submit "POST" %>

</div>


 <% end %>

<% else %>

This page doesn't exist.


<% end %>


<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#post_image").change(function(){
        readURL(this);
    });

</script>




