
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <div class="form">
  <%= f.input :title, as: :text, input_html: { rows: "1" } ,label: false, placeholder: "Event Title" %>
  <%= f.input :country, as: :text, input_html: { rows: "1" }, label: false, placeholder: "Country" %>
  <%= f.input :description, as: :text, input_html: { rows: "3", :style=> 'width: 600px' }, label: false, placeholder: "About event"%>
  <%= f.input :image, label: "Upload an image" %>
  <%= f.input :image_remote_url, label: false, placeholder: "Or a URL" %>
  <%= f.button :submit, class: "btn btn-primary" %>
 
</div>

<% end %>
