<%= link_to image_tag('http://i.imgur.com/uSmWLvL.png'), new_post_path %><% Post.order("cached_votes_total desc").each do |post| %>
<div class="box panel panel-default">
 <div class="newspaper">
 <%= image_tag post.image(:medium) %>
 <div class="panel-body">
 <div class="description">
  <%= link_to (post.title), post %>
</div> 
<div class="subtitle">
<%= post.description.split[0..15].join(" ") %>...
</div>
<div class="info">
  <div class="lightcontainer">
  <%= time_ago_in_words(post.created_at) %> ago | 
</div>
<div class="lightcontainer2">
<%= post.comments.count %> Questions
</div>
</div>

<% if post.comments.count > 0 %>
<% post.comments.select(:body).order('created_at desc').limit(3).each do |comment| %>
<div class="count">
<%= link_to (comment.body), comment_questions_path(post, comment) %>
</div>
<% end %>
<% end %>

</div>
</div>
</div>
<% end %>







