


<div class="visible-desktop hidden-phone hidden-tablet">



<div class="no-padding">

<% @toppost.each do |post| %>

<div class="eventimage2top">
<%= image_tag post.image %>

<div class="absolutecontainer">
<div class="relativecontainer"> 
<div class="posttext2">
<%= post.title %> 
</div>
<div class="bottomtext">
<%= pluralize(post.comments.count, 'Questions') %> 
</div>
</div>
</div>
</div>


<% end %>
</div>

<div class="postspagemargin"></div>

<div class="span10 centered">
<% @posts.each_with_index do |post, i| %>


<div class="eventimage2">
<%= image_tag post.image %> 
<%= link_to (post.title), post_path(post), class: "posttext" %> 
</div>


<% end %>

</div>




