<% Post.order("cached_votes_total desc").each do |post| %>
<div class="box panel panel-default">
 <div class="home">
 <%= image_tag post.image(:small) %>
 <div class="panel-body">
 <div class="description">
 
  <%= link_to (post.title), post %>

</div>
<div class="lightcontainer6">
 <%= time_ago_in_words(post.created_at) %> ago 
</div>
<div class="subtitle">
<%= post.description.split[0..15].join(" ") %>...
</div>

<% if post.comments.count == 1 %>
<div class="info6">
<%= post.comments.count %>
</div>
<div class="lightcontainer2">
 Question
</div>
<% else %>
<div class="info6">
<%= post.comments.count %>
</div>

<div class="lightcontainer2">
<div class="red"> 
 Questions
</div>
</div>
<% end %>

<div class="lightcontainer10">
Latest Questions 
</div>

<% if post.comments.count > 0 %>
<% post.comments.select(:body).order('created_at desc').limit(2).each do |comment| %>
<div class="count">
<div class="fifty">
<div class="newspaper3">
  <%= comment.body %>
</div>
</div>
</div>
<% end %>
<% end %>

</div>
<% if current_user.try(:admin?) %>
<div class="underanswercontainer2">
<%= link_to "Upvote", upvote_post_path(post) %>
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>

</div>
</div>
<% end %>







