

<div class="width10small100">


<% @posts.each_with_index do |post, i| %>

<style media="screen">
  .experimentstrip-<%= post.id %> { background-image: url(<%= post.image %>); }
</style>




<div class="experimentstrip-<%= post.id %>" style="position: relative; width: 100%;
  height: 270px; background-size: cover;
    background-repeat: no-repeat;
    background-position: center; margin-bottom: 5px;">

<div class="darker"></div>


<div class="absolutecontainerstrip">
<div class="relativecontainerstrip">
<%= link_to (post.title), post_path(post), class: "posttext" %> 

<div class="descriptionmarginstripsmall hidden-phone"> 
<%= truncate(post.description, length: 150, separator: ' ') %>
</div>

<div class="descriptionmarginstripsmall hidden-tablet hidden-desktop"> 
<%= truncate(post.description, length: 100, separator: ' ') %>
</div>

</div>
</div>
</div>


<% end %>

</div>





