<div class="visible-desktop hidden-phone hidden-tablet">

<div class="span8 centered">
<% @toppost.each do |post| %>
<div class="titlecontainershowb">
<%= link_to (post.title), post_path(post)%> 
</div>

<% if post.comments.count > 0 %>
<div class="postinterviewmargintop">
<% post.comments.limit(2).each do |comment| %>
<% if comment.user.present? %>
<div class="postinterviewtext">
<%= comment.user.name %>,
</div>
<% end %>
<% end %>

<% if post.comments.count > 2 %>
<div class="postinterviewtext"%>
and <%= post.comments.count - 2 %> more are answering questions
</div>
<% else %>

<% end %>

</div>
<% else %>

<% end %>

<div class="eventimagetop">
<%= image_tag post.image %>
</div>

<% end %>
</div>

<% @posts.order('cached_votes_total desc').each do |post| %>

<div class="container">
<div class="row">

<div class='span4 offset2'>
<div class="postimage">
<%= image_tag post.image %>

</div>
</div>

<div class='span4'>
<div class="titlecontainershowb">
<%= link_to (post.title), post_path(post)%> 
</div>

<% if post.comments.count > 0 %>
<div class="postinterviewmargin">
<% post.comments.limit(2).each do |comment| %>
<% if comment.user.present? %>
<div class="postinterviewtext">
<%= comment.user.name %>
</div>
<% end %>
<% end %>

<% if post.comments.count > 2 %>
<div class="postinterviewtext"%>
and <%= post.comments.count - 2 %> more are answering questions
</div>
<% else %>

<% end %>

</div>
<% else %>

<% end %>

</div>

</div>
</div>

<% end %>


</div>

