<% @posts.each_with_index do |post, i| %>
<% unless post.pictures.count == 0 %>
<style media="screen">
  .experimentstrip-<%= post.id %> { background-image: url(<%= post.pictures.last.image %>); }
</style>
<% end %>

<%= link_to post_path(post) do %> 

<div class="experimentstrip-<%= post.id %>" style="position: relative; width: 100%;
  height: 350px; background-size: cover;
    background-repeat: no-repeat;
    background-position: center; margin-bottom: 0px;">


<div class="darker"></div>



<div class="absolutecontainer">
<div class="relativecontainer">
<%= link_to (post.title), post_path(post), class: "eventimagepreviewtext", style: 'font-size: 32px !important;' %> 
<div class="descriptionmargin"> 
<div class="hidden-phone"> 
<%= truncate(post.description, length: 100, separator: ' ') %>
</div>

<div class="hidden-tablet hidden-desktop"> 
<%= truncate(post.description, length: 70, separator: ' ') %>
</div>

<hr class="whiteimageline"/>

<% post.questions.limit(3).each do |question| %>
<div class="feedimagetopquestion2">
<%= image_tag question.user.image %>
</div>
<% end %>
<div class="answersnumber" style="color: rgba(255,255,255,0.75) !important; line-height: 24px !important; border-left: 1px solid rgba(255,255,255,0.5)">
 <%= post.questions.count %> Answers
</div>
</div>

<div class="row"></div>


</div>
</div>
</div>


<% end %>




<% end %>


