<div class="visible-tablet hidden-phone hidden-desktop">

<div class="tablettag">
<a href="/tags/unitedstates" >United States</a>
</div>
<div class="tablettag">
<a href="/tags/world" >World</a>
</div>


<div class="tablettag">
<a href="/tags/politics">Politics</a>
</div>

<div class="tablettag">
<a href="/tags/technology">Technology</a>
</div>

<div class="tablettag">
<a href="/tags/science">Science</a>
</div>


<div class="tablettag">
<%= link_to "Top Posts", top_path %>
</div>

<% @posts.order('cached_votes_total desc').each do |post| %>

<div class="box">
<div class="newspaper">
<div class="postimage">
 


<%= image_tag post.image %> 
<%= link_to (post.title), post_path(post), class: "description" %> 
<% if post.comments.count == 1 %>

<div class="info6">
<%= post.comments.count %> Post
</div>
<% else %>

<div class="info6">
<%= post.comments.count %> Posts
</div>

<% end %> 

</div>
 </div>
</div>





<% end %>

</div>