<% @posts.order('cached_votes_total desc').each do |post| %>

<div class="visible-desktop hidden-phone hidden-tablet">
<div class="box panel panel-default">



<div class="newspaper">

<div class="postimage">
 
<% if post.comments.count == 1 %>

<div class="info6">
<%= post.comments.count %> Post
</div>
<% else %>

<div class="info6">
<%= post.comments.count %> Posts
</div>

<% end %> 

<%= link_to (post.title), post, class: "description" %> 

<%= image_tag post.image %> 


 </div>
</div>
</div>


<% if current_user.try(:admin?) %>
<div class="underanswercontainer2">
<%= link_to "Upvote", upvote_post_path(post) %>
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>
</div>




<div class="visible-phone visible-tablet">
<div class="span8">
<div class="newspaperm">

<div class="description">
<%= link_to (post.title), post %>
</div>
<div class="lightcontainer">
<%= time_ago_in_words(post.created_at) %> ago
</div>

<%= image_tag post.image(:small) %>
 
<% if post.comments.count == 1 %>

<div class="info6">
<%= post.comments.count %> Question
</div>
<% else %>

<div class="info6">
<%= post.comments.count %> Questions
</div>

<% end %> 

<% if post.comments.count > 0 %>

<% else %>
<div class="lightcontainer11">
<hr/>
<%= link_to 'Ask the first question', new_post_comment_path(post) %>
</div>
<% end %>



</div>
</div>
</div>





<% end %>




