<% @posts.order("created_at desc").each do |post| %>
<div class="visible-desktop hidden-phone hidden-tablet">
<div class="box panel panel-default">
<div class="newspaper"> 

<% if post.comments.count == 1 %>

<div class="info6">
<%= post.comments.count %> Question
</div>
<% else %>

<div class="info6">
<%= post.comments.count %> Questions
</div>

<% end %>


<%= image_tag post.image(:small) %>

<div class="panel-body">

<div class="description">
<%= link_to (post.title), post %>
</div>


<div class="subtitle">
<%= post.description.split[0..20].join(" ") %>...
</div>
<div class="lightcontainer6">
<%= time_ago_in_words(post.created_at) %> ago 
</div>
<hr/>

<% if post.comments.count > 0 %>

<div class="lightcontainer11">
<div class="red">
Latest Questions 
</div>
</div>

<% else %>
<div class="lightcontainer11">
<%= link_to 'Ask the first question', new_post_comment_path(post), class: "red" %>
</div>
<% end %>

<% post.comments.order('created_at desc').limit(2).each do |comment| %>
<div class="count">
<div class="newspaper10">
<%= link_to (comment.body), comment_questions_path(comment) %>
</div>
</div>

<% end %>

</div>
</div>
</div>


<% if current_user.try(:admin?) %>
<div class="underanswercontainer2">
<%= link_to "Upvote", upvote_post_path(post) %>
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>
</div>




<div class="visible-phone visible-tablet">
<div class="span12">
<% if post.comments.count == 1 %>

<div class="info6">
<%= post.comments.count %> Question
</div>
<% else %>

<div class="info6">
<%= post.comments.count %> Questions
</div>

<% end %>

<div class="newspaper">
<%= image_tag post.image(:small) %>
<div class="description">
<%= link_to (post.title), post %>
</div>

<div class="lightcontainer6">
<%= time_ago_in_words(post.created_at) %> ago 
</div>

<div class="subtitle">
<%= post.description.split[0..20].join(" ") %>...
</div>

<hr/>

<% if post.comments.count > 0 %>

<div class="lightcontainer7">
<div class="red">
<strong> 2 of <%= post.comments.count %> Questions </strong>
</div>
</div>

<% else %>

<%= link_to 'Ask the first question', new_post_comment_path(post), class: "red" %>

<% end %>


<% post.comments.order('created_at desc').limit(2).each do |comment| %>
<div class="count">
<div class="newspaper10">
 <%= link_to (comment.body), comment_questions_path(comment) %>
</div>
</div>

<% end %>

</div>
</div>
</div>
<% end %>







