<%= div_for(post) do %>

   <div class="span8">
   <div class="border">
   <div class="description">
        <%= link_to (post.title), post %>
  </div>  
  <div class="hidden-phone">
  <div class="subtitle">
   <%= post.description.split[0..30].join(" ") %>... 
   </div>
   </div>
 
  <% if post.comments.count > 0 %>
  <div class="count">
  <%= link_to (post.comments.last.try(:[],:body)), comment_questions_path(post.comments.last), class: "blue" %>
   </div>
   <% end %>

  <div class="description2">
    <%= time_ago_in_words(post.created_at) %> ago |
   <%= post.comments.count %> Questions
   </div>
 </div>

  

<% end %>






