<div class='span8'>

<div class="postimagemobile">
<%= image_tag @post.image %> 
</div>

<div class='titlecontainershowmobile'>
<%= @post.title %> 
</div>
<hr/>

<p>
<strong><%= @post.country %></strong> - 
<%= @post.description %>
<p/>

<strong><%= time_ago_in_words(@post.created_at) %> ago </strong>

<div class="floatright">
<% if user_signed_in? %> 
<%= link_to 'Post', new_post_comment_path(@post), class: "favouritebutton" %>
<% else %>
<%= link_to 'Post', new_user_registration_path, class: "favouritebutton" %>
<% end %>
</div>



</div>

<%= render 'comments/commentmobile' %>

