<div class="visible-phone hidden-tablet hidden-desktop">
<div class='span8'>

<div class="postimagemobile">
<%= image_tag @post.image %> 
</div>

<div class='titlecontainershowmobile'>
<%= @post.title %> 
</div>

<p>
<%= @post.description %>
<p/>

<div class="toplight2">
<strong><%= @post.country %></strong> 
</div>
<div class="toplight2">
<%= time_ago_in_words(@post.created_at) %> ago 
</div>

<br>

<% if user_signed_in? %> 
<%= link_to 'Post', new_post_comment_path(@post), class: "favouritebuttontb" %>
<% else %>
<%= link_to 'Post', new_user_registration_path, class: "favouritebuttontb" %>
<% end %>




</div>

<%= render 'comments/commentmobile' %>

</div>