<div class="visible-tablet hidden-phone hidden-desktop">

<div class="span10 centered">

<div class='titlecontainershowtablet'>
<%= @post.title %> 
</div>
<hr/>

<p>
<strong><%= @post.country %></strong> - 
<%= @post.description %>
<p/>


<strong><%= time_ago_in_words(@post.created_at) %> ago</strong>

<div class="floatright">
<% if user_signed_in? %> 
<%= link_to 'Post', new_post_comment_path(@post), class: "favouritebuttontb" %>
<% else %>
<%= link_to 'Post', new_user_registration_path, class: "favouritebuttontb" %>
<% end %>
</div>	

<div class="aboveimage2"></div>

<div class="eventimagetoptablet">
<%= image_tag @post.image %> 
</div>

</div>



<%= render 'comments/commenttablet' %>


</div>
