<div class="width5-center-large">
<div class="grey-banner">



<div class="capital-title">
Latest Events
</div>

<% @events.each do |event| %>
<%= link_to post_event_path(event.post, event) do %>
<div class="event-container">

<div class="event-image-thumb" style="background-image: url(<%= event.image %>)"></div>


<div class="event-title">
<%= event.title.titleize %>
</div>
<div class="event-description-light">
<%= event.body[0..100] %>
</div>


</div>

<% end %>
<% end %>

<div class="row"></div>



<% if @post.events.count > 1 %>
<%= link_to "ALL #{@post.events.count} EVENTS", post_events_path(@post), class: "capital-title-link" %>
 <% end %>

</div>



</div>