<% @toppost.each_with_index do |post, i| %>
<% unless post.pictures.count == 0 %>
<style media="screen">
  .experimentstrip-<%= post.id %> { background-image: url(<%= post.pictures.last.image %>); }
</style>
<% end %>

<%= link_to post_path(post) do %> 

<div class="experimentstrip-<%= post.id %>" style="position: relative; width: 100%;
height: 400px; background-size: cover;
background-repeat: no-repeat;
background-position: center; margin-bottom: 0px;">
<div class="darker"></div>

<div class="absolutecontainer">
<div class="relativecontainer">
<div class="descriptionmargin"> 

<% if post.event == true %>
<div class="answersnumberbox">
  <%= pluralize(post.events.first.questions.count, "Answer") %> 
</div>
<div class="posttext2">
  <%= post.events.first.title %> 
</div>
<% else %>
<div class="titletextunderneath">
  <%= pluralize(post.comments.count, "Question") %> | <%= pluralize(post.questions.count, "Answer") %>
</div>
<div class="posttext2">
  <%= post.title %> 
</div>
<% end %>


   </div>
  <div class="row"></div>
 </div>
</div>


</div>


<% end %>


<div class="width6">

<div style="margin-bottom: 30px !important;"> 
</div>  
<div class="p3">  
<%= truncate(post.description, :separator => ' ', length: 150) %>
</div>


</div>



<% if post.questions.where(:hide => true, :recommend => true).present? %>

<hr class='dividerline'/>
<div class="width6">
<div class="dividerhead">
ANSWERS
</div>


<% post.questions.where(:hide => true, :recommend => true).limit(3).each_with_index do |question, i| %>
  <%= render :partial => 'layouts/answersfeed', locals: {question:question} %>
  <% unless (i + 1) == post.questions.where(:hide => true, :recommend => true).count or (i + 1) ==3 %>
  <hr class="line30"/>
  <% end %>
<% end %>
</div>

<% end %>

<% end %>


