
<%= render 'layouts/headercategories' %>


<div class="hidden-desktop hidden-tablet visible-mobile">
<%= render 'posts/mobilecategories' %>
</div>

<div class="row"></div>


<%= render 'posts/toppost' %>


<div id="products">

<%= render 'posts/post' %>
</div>

<%= will_paginate @posts %>





    