<div class="span9 centered">
<% if params[:tag] %>
<div class="settings">
<%= params[:tag] %>
</div>
<% end %>
</div>


<div id="products">
<%= render 'posts/postmobile' %>
<%= render 'posts/post' %>
<%= render 'posts/posttablet' %>
</div>


<div class="span7 centered">
<%= will_paginate @posts, :style => 'color: white !important;' %>
</div>




    