<div class="visible-phone visible-tablet">
<%= render 'posts/post' %>

</div>

<div class="visible-desktop hidden-phone hidden-tablet">

<div class="container">
<div class="row">



<div class="span1">
<div class="fixed">
<div class="margintopp">





<% if user_signed_in? %>
<div class="addevent">
<%= link_to ('Add Event'), new_post_path, class: "blue" %>
</div>
<% else %>
<div class="addevent"> 
<%= link_to 'Add Event', new_user_registration_path, class: "blue" %>
</div>
<% end %>


<div class="newspaper6">
<a href="/tags/world">World</a>
</div>

<div class="newspaper6">
<a href="/tags/unitedstates">United States</a>
</div>


<div class="newspaper6">
<a href="/tags/politics">Politics</a>
</div>

<div class="newspaper6">
<a href="/tags/technology">Technology</a>
</div>

<div class="newspaper6">
<a href="/tags/science">Science</a>
</div>


<hr/>



<div class="belowsidebar">
<%= link_to "About Podium", about_path %>
</div>

<div class="belowsidebar2">
<%= link_to "Contact", contact_path %>
</div>
</div>
</div>
</div>

<div class="span9 offset1", style="padding-left: 75px;">
<div id="pins" class="transitions-enabled">
<%= render 'posts/post' %>
</div>
</div>

</div>
</div>



    