<div class="visible-phone visible-tablet">


<div class="mobilesidebar">
<a href="/tags/world">World</a>
</div>

<div class="mobilesidebar">
<a href="/tags/unitedstates">United States</a>
</div>


<div class="mobilesidebar">
<a href="/tags/politics">Politics</a>
</div>

<div class="mobilesidebar">
<a href="/tags/technology">Technology</a>
</div>

<div class="mobilesidebar">
<a href="/tags/science">Science</a>
</div>

</div>




<div class="container">
<div class="row">

<div class="span10" style="margin-right: 0px;">
<div id="pins" class="transitions-enabled">
<%= render 'posts/post' %>
</div>
</div>


<div class="span2" style="margin: 0px;" >
<div class="fixed">
<div class="margintopp">
</div>


<div class="visible-desktop hidden-phone hidden-tablet">

<% if user_signed_in? %>
<div class="addevent">
<%= link_to ('Add Event'), new_post_path, class: "white" %>
</div>
<% else %>
<div class="addevent"> 
<%= link_to 'Add Event', new_user_registration_path, class: "white" %>
</div>
<% end %>


<div class="newspaper6">
<a href="/tags/world">World</a>
</div>

<div class="newspaper6">
<a href="/tags/unitedstates">United States</a>
</div>


<div class="newspaper6">
<a href="/tags/politics">Politics</a>
</div>

<div class="newspaper6">
<a href="/tags/technology">Technology</a>
</div>

<div class="newspaper6">
<a href="/tags/science">Science</a>
</div>

<div class="hrleft">
<hr/>
</div>


<div class="belowsidebar">
<%= link_to "About Podium", about_path, class: "red" %>
</div>

<div class="belowsidebar2">
<%= link_to "Contact", contact_path %>
</div>
</div>
</div>
</div>
</div>



    