<div class="container">
 <div class="row">
<div class="span4">
<div class="commentimage">
  <%= image_tag @post.image(:small) %>    
 </div>
</div>
<div class="span6">
<div class="titlecontainer">
<%= @post.title %>
</div>
<div class="info">
<div class="newspaper4"> 
<%= time_ago_in_words(@post.created_at) %> ago <br>
</div>
</div>

<div class="info">
<div class="newspaper4"> 
<div class="blue">
<%= @post.country %>
</div>
</div>
</div>

<div class="descriptioncontainer2">
<%= @post.description %>
</div>
</div>
</div>
</div>

<div class="row">


<div class="span10">
<hr />

<% if user_signed_in? %>
<div class="questioncontainer3">  
<%= link_to 'Ask Question', new_post_comment_path(@post), class: "button4" %>
</div>
<% else %>
<div class="questioncontainer3">  
<%= link_to 'Ask Question', new_user_registration_path, class: "button4" %>
</div>
<% end %>
<% if @post.comments.count == 1 %>
<div class="number2">
<%= @post.comments.count %> Question
</div>
<% else %>
<div class="number2">
<%= @post.comments.count %> Questions 
</div>
<% end %>

</div>
</div>


<div id="pin" class="transitions-enabled">
<%= render :partial => @post.comments %>
</div>








 





















 

