
<div class="span8">
<div class="titlecontainer">
<%= @post.title %>
</div>
</div>

<div class="span8">
<div class="imagepadding">
<%= image_tag @post.image(:medium) %>
</div>
</div>


<div class="span3">
<div class="descriptioncontainer2">
<strong><%= time_ago_in_words(@post.created_at) %> ago</strong><br>
<%= @post.description %><br>
<%= link_to ("Ask Question"), new_post_comment_path(@post, @comment), class: "button" %>
</div>
</div>



<%= render :partial => @post.comments %>









 





















 

