<div class="visible-desktop hidden-phone hidden-tablet">



<div class="container">
<div class="row">
<div class="span4 offset2">
<div class='titlecontainershow'>
<%= @post.title %> 
</div>
<div class="descriptionmargin">
<%= @post.description %>
</div>
<div class="countrymargin">
<strong><%= @post.country %></strong>
</div>
<%= time_ago_in_words(@post.created_at) %> ago
<div class="floatright">
<% if user_signed_in? %> 
<%= link_to 'Post', new_post_comment_path(@post), class: "favouritebutton" %>
<% else %>
<%= link_to 'Post', new_user_registration_path, class: "favouritebutton" %>
<% end %>
</div>
<hr6/>
</div>

<div class="span3 offset1">

<div class="eventimage">
 <%= image_tag @post.image %> 
</div>

</div>


</div>

</div>


<%= render 'comments/comment' %>















<div class="visible-phone hidden-tablet hidden-desktop">
<%= render 'posts/showmobile' %>
</div>

<div class="visible-tablet hidden-phone hidden-desktop">
<%= render 'posts/showtablet' %>
</div>




















 

