<div class="sidebar-profile-nav">



<% if @post.image.present? %>
<div class='home-feed-image' style="background-image: url(<%= @post.image %>);">
</div>
<% end %>

<div class="sidebar-nav-inner" style="padding: 13px 20px 0px 20px;">
<% if @post.pictures.present? %>
<div class="linklogoimage-large">
<%= image_tag (@post.pictures.first.image) %>
</div>
<% end %>

<div class="article-info-text">
<%= link_to (@post.domain), url_for(@post.link), :target => "_blank" %>
</div>
<div class="article-info-text" style="margin-left: 10px; opacity: 0.7; font-weight: 400;">
<%= time_ago_in_words(@post.created_at) %> ago 
</div>


<div class="row"></div>

<hr style="margin-top: 15px; margin-bottom: 10px;"/>

<div class="row"></div>
</div>

<div class="sidebar-nav-inner">


<div class="story-title" style="padding-top: 0px;">
<%= @post.title %>
</div>

<div class="card-description">
<%= @post.description %>
</div>
<div class="actionable-clicks" id="sharestory-icon" style="margin-top: 20px; float: none; display: inline-block;">
Full Story
</div>

<div class="row"></div>




</div>
</div>




<div class="navbar-profile-content-container">

<div class="width5-center-large">

<div class="story-title-small">
<%= @post.title %>
</div>


<%= link_to question_form_post_url(@post), :remote => true do  %>
<div id="bluecircle-small">

</div>
<% end %>

<% if user_signed_in? %>
<% if current_user.voted_for? @post %>
<div class="actionable-clicks" id="bookmark-clicked">
Following
</div>
<% else %>
<%= link_to upvote_post_path(@post), remote: true, method: :put do %>
<div class="actionable-clicks" id="bookmark-click">
Follow
</div>
<% end %>
<div class="actionable-clicks" id="bookmark-clicked" style="display: none;">
Following
</div>
<% end %>
<% else %>
<div class="actionable-clicks" id="login-recommend-add">
Follow
</div>
<% end %>


<div class="actionable-clicks" id="sharestory-icon" style="margin-right: 10px;">
Share
</div>
<div id="addstory-icon">
+ Question
</div>

<div class="row"></div>



<hr style="margin-top: 0px; margin-bottom: 35px;"/>
</div>

<div class="width5-center">

<p>
In India, there is a sacrosanct hierarchy of academic degrees, and nothing comes close to a bachelor’s from one of the Indian Institutes of Technology. It is something to which parents aspire for their children even before they have children. The child might be a gifted writer, painter or cricketer, but preparing for the IIT examination is practically a rite of passage for any self-respecting, middle-class Indian student.
</p>



<%# Followers %>
<% if @post.cached_votes_total > 0 %>
<%= render 'posts/followers' %>
<% end %>



<div class="row"></div>





</div>


<%# Followers %>
<% if @events.present? %>
<%= render 'posts/timeline' %>
<% end %>


<div class="width5-center">
<p>
In India, there is a sacrosanct hierarchy of academic degrees, and nothing comes close to a bachelor’s from one of the Indian Institutes of Technology. It is something to which parents aspire for their children even before they have children. The child might be a gifted writer, painter or cricketer, but preparing for the IIT examination is practically a rite of passage for any self-respecting, middle-class Indian student.
</p>
</div>



<% if @answers.present? %>
Answers
<div id="products">
<%= render 'comments/answers_feed' %>
</div>
<%= will_paginate @answers %>
<% end %>

<%= render 'questions_banner' %>



<div class="width5-center">
<% if @related.present? %>
<%= render 'posts/relatedstories' %>
<% end %>
</div>


<% unless user_signed_in? %>
<div class="prompt-banner">
<div class="width5-center">
Sign up to see more great stories and experience all of Flipboard.
<div class="actionable-buttons sign-in-prompt" id="signin-click">Sign Up</div>
</div>
</div>
<% end %>






<%# modals %>


<div class="modal-custom" id="submitpost-modal" style="display: none;">
<i class="material-icons close-modal-button" id="close-post-modal">close</i>
<% if user_signed_in? %>
<%= render 'comments/form' %>
<% end %>
</div>

<div class="modal-custom" id="sharestory-modal" style="display: none;">
<i class="material-icons close-modal-button" id="close-share-modal">close</i>
</div>


<div class="modal-custom" id="signin-modal" style="display: none;">
<i class="material-icons close-modal-button" id="close-signin-modal">close</i>
<%= render 'layouts/sign_in' %>
</div>







<script>

$('#addstory-icon').click(function () {
  $('#submitpost-modal').show();
 });

$('.arrow-up-next').click(function () {
  $('#choose-post-type').show();
  $('#post-guidelines').hide();
 });

$('#close-post-modal').click(function () {
  $('#submitpost-modal').hide();
  $('#choose-post-type').hide();
  $('#post-guidelines').show();
 });


 $('#sharestory-icon').click(function () {
  $('#sharestory-modal').show();
 });


  $('#signin-click').click(function () {
  $('#signin-modal').show();
 });
 $('#close-signin-modal').click(function () {
  $('#signin-modal').hide();
 });

  
  
 $('#close-share-modal').click(function () {
  $('#sharestory-modal').hide();
 });


 $(document).ready(function() {
        $('#showmenu').click(function() {
               
                $('.menu').slideDown("fast");
                $('.eventtoptext3').hide();
                
                
        });

   $('.cancelslideup').click(function() {
    $('.menu').slideUp("fast");
    $('.eventtoptext3').show();

     }); 
    }); 


$(document).ready(function() {
        $('#bookmark-click').click(function() {
                $('#bookmark-clicked').show(); 
                 $('#bookmark-click').hide();
        });
    }); 



</script>


 

