
<div class="visible-phone hidden-tablet hidden-desktop">
<%= render 'posts/showmobile' %>
</div>

<div class="visible-tablet hidden-phone hidden-desktop">
<%= render 'posts/showtablet' %>
</div>

<div class="visible-desktop hidden-phone hidden-tablet">

<div class="span12 centered">

<div class="eventimage2top">
<%= image_tag @post.image %>


<div class="absolutecontainer">
<div class="relativecontainer">	
<div class="posttext2">
<%= @post.title %> 
</div>
<div class="descriptionmargin">	
<%= @post.description %>
</div>
</div>
</div>
</div>

</div>

<div class="span7 centered">



<div class="descriptionmargin">	
<%= @post.description %>
</div>
<div class='linkinline'>
<%= link_to (@post.domain), url_for(@post.link) %>
</div>
<div class="bottomtext">
<%= pluralize(@post.comments.count, 'Questions') %> 
</div>

<div class='block'>
<% if @post.country.present? %>
<div class="boldletters3">
<%= image_tag ("http://i.imgur.com/GR9sx1c.png") %>
<%= @post.country %>
</div>
<% end %>
<%= image_tag ("http://i.imgur.com/TeucG8m.png") %>
<div class="boldletters2">
<%= time_ago_in_words(@post.created_at) %> ago
</div>
<div class="posttag">
<%= image_tag ("http://i.imgur.com/WPRxG3G.png") %>	
<%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</div>
</div>

<% if @post.comments.count < 1 %>

<div class="hrevent"></div>
<div class="center">
<div class="eventmargin2">
There are no questions yet
</div>
</div>
<% else %>


<div class="hrevent"></div>


<% if user_signed_in? %> 
<div class="eventtoptext3">
<div id="showmenu">Ask Question</div>
</div>
<% else %>
<%= link_to 'Ask Question', new_user_registration_path, class: "eventtoptext3" %>
<% end %>
<div class="eventtoptext3b">	
last question added 
</div>

<div class="menu" style="display: none;">
<%= render :partial => "comments/form" %>
</div>


<div class="sixty"></div>
<div class="row"></div>


<% end %>


<%= render 'comments/comment' %>



</div>
</div>







<script>
 $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu').toggle();
                
        });
    }); 

</script>














 

