<script>
 $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu').slideDown("fast");
                $('.eventtoptext3').hide();
                
                
        });

   $('.cancelslideup').click(function() {
    $('.menu').slideUp("fast");
    $('.eventtoptext3').show();

     }); 
    }); 

</script>

<% unless @post.pictures.count == 0 %>
<style media="screen">
  .experiment { background-image:  url(<%= @post.pictures.last.image %>); background-color: #333; }
  </style>
<% end %>
<style media="screen">
  .navbar .brand {color: white !important;opacity: 1 !important;} 
  .headtext {color: white !important;} 
  .navbar .nav > li > a {color: white !important;} 
  .fa-bell-o { color: white !important;}
  .alert-danger { opacity: 1 !important; color: white !important;}
</style>



<div class="experiment">


<div class="darker"></div>
<% if @post.pictures.count > 0 %>
<div class="imagepostedby">
 <div class="imagepostedbytext"> 
Image: <%= link_to (@post.pictures.last.user.name), user_path(@post.pictures.last.user.name), class: "white" %>
</div>
</div>
<% end %>

<div class="imagepostedby">
 <div class="imagepostedbytext"> 
Image: <%= link_to (@post.pictures.last.user.name), user_path(@post.pictures.last.user.name), class: "white" %>
</div>
</div>

<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>

<div class="absolutecontainer">
<div class="relativecontainer">	
<div class="posttext2">
<%= @post.title %> 
</div>
<div class="descriptionmargin">	
<%= @post.description %>
<div class='linkinline'>
<%= link_to (@post.domain), url_for(@post.link), :target => "_blank", class: "white" %>
</div>
<div class="imagewhitedate">
<%= time_ago_in_words(@post.created_at).capitalize %> ago
 </div> 
</div>


<div class="row"></div>

<div class="width30">
<div class="questionnavbar51">
<%= link_to "Top Answers", post_path, class: "questionnavbarlink" %>
</div>
</div>
<div class="width30">
<div class="questionnavbar50">  
Top Questions
</div>
</div>
<div class="width30">
<div class="questionnavbar51">  
<%= link_to "New Questions", newquestions_path, class: "questionnavbarlink" %>
</div>
</div>

</div>
</div>
</div>

<div class="width6">




<%= render 'posts/belowimage' %>


<%= render 'comments/commenttop' %>



</div>























 

