<div class="visible-phone hidden-tablet hidden-desktop">
<%= render 'posts/showmobile' %>
</div>

<div class="visible-tablet hidden-phone hidden-desktop">
<%= render 'posts/showtablet' %>
</div>

<div class="visible-desktop hidden-phone hidden-tablet">

<div class="row">
<div class="span8 offset2">
<div class='titlecontainershow'>
<%= @post.title %> 
</div>
<hr7/>
</div>
</div>

<div class="container">
<div class="row">
<div class="span6 offset2">
<div class="descriptionmargin">	
<div class="eventsidebar">
<p>
<%= @post.description %>
<p/>
</div>
</div>
</div>
<div class="span2">
<% if @post.country.present? %>
<div class="boldletters">
Location
</div>
<div class="boldletters2">
<%= @post.country %>
</div>
<% end %>

<div class="boldletters">
Happened
</div>
<div class="boldletters2">
<%= time_ago_in_words(@post.created_at) %> ago
</div>
<% if user_signed_in? %> 
<%= link_to 'Be Interviewed', new_post_comment_path(@post), class: "favouritebuttonleft" %>
<% else %>
<%= link_to 'Be Intervied', new_user_registration_path, class: "favouritebuttonleft" %>
<% end %>
</div>	

</div>
</div>

<div class="aboveimage2"></div>

<div class="row">
<div class="span8 offset2">

<div class="eventimage">
<%= image_tag @post.image %> 
</div>

<% if @post.comments.count < 1 %>
<div class="center">
<div class="eventmargin2">
There are no posts yet.
</div>
</div>
<% else %>

<div class="eventmargin2">	
<%= pluralize(@post.comments.count, 'person') %> answering questions
</div>

<hr/>
<div class="hraddon"></div>


<% end %>

<div class="span7 centered">
<%= render 'comments/comment' %>
</div>

</div>
</div>
























 

