<h class="eventhead"><%= @post.description %></h>

<%= link_to "Add Opinion", new_post_comment_path(@post), class: "btn btn-primary btn-medium" %>

<%= link_to "View Opinions", post_comments_path(@post), class: "btn btn-primary btn-medium" %>

<%= link_to "Add photo", new_post_picture_path(@post), class: "btn btn-primary btn-medium" %>

      

<div>
	<%= render :partial => @post.comments %>
</div>

<div>
    <%= render :partial => @post.pictures %>
</div>






 

