

<% unless @post.pictures.count == 0 %>
<style media="screen">
  .experiment { background-image:  url(<%= @post.pictures.first.image %>); background-color: #333; }
  </style>
<% end %>

<style media="screen">
 .alert-danger { opacity: 1 !important; color: white !important;}
</style>




<div class="experiment">
<div class="darker"></div>


<% if @post.pictures.count > 0 %>
<div class="imagepostedby">
 <div class="imagepostedbytext"> 
  <% if @post.pictures.first.user.present? %>
<i class="fa fa-picture-o"></i> <%= link_to (@post.pictures.first.user.name), user_path(@post.pictures.last.user), class: "white" %>
<% end %>
</div>
</div>
<% else %>
<div class="absolutecontainerprofile">
<div class="relativecontainer">
<div class="userprofileimage-container" style="margin-top: 60px;">
<a href="#Picture" role="button" data-toggle="modal" class="userprofileimage-name">+ Header Image</a>
</div>         
</div>
</div>        
<% end %>

<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>

<%= render 'posts/belowimage' %>

<% if current_user.try(:admin?) %>
<%= link_to edit_post_path(@post) do %>
<i class="fa fa-pencil-square-o"></i>
<% end %>
<% end %>


<div class="absolutecontainer">
<div class="relativecontainer">	
<div class="descriptionmargin"> 

<div class="titletextunderneath">
<%= pluralize(@post.comments.count, "Question") %> | <%= pluralize(@post.questions.count, "Answer") %>
</div>


<div class="posttext2">
<%= @post.title %> 
</div>



</div>
</div>
</div>

</div>


<div class="width6">

<div style="margin-bottom: 30px !important;"> 
</div>  
<div class="p3">  
<%= @post.description %>
</div>
<div style="padding-top: 10px "></div>
<div class="row"></div>
<div class="linklogoimage">
<%= image_tag (@post.image) %>
</div>
<%= link_to (@post.domain), url_for(@post.link), :target => "_blank", class: "readmore", style: "color: #333 !important; opacity: 0.5; float: left; line-height: 24px;" %>
<div class="row"></div>
</div>

<hr class="dividerline"/>
<div class="width6">

<% if @events.present? %>
<%= render 'posts/timeline' %>
  <% if @topquestions.count == 0 %>
    <hr class="dividerline"/>
    <div class="dividerhead">
    ACTIVITY
  </div>
  <% end %>
<% end %>


<% if @ordered.present? %>
<div class="row"></div>

<% unless @events.blank? %>
  <hr class="dividerline"/>
<% end %>

<div class="dividerhead">
 <% if current_user.try(:admin?) %>  
  <%= link_to "RECOMMENDED ANSWERS", ordered_path(@post) %>
 <% else %>
  RECOMMENDED ANSWERS
 <% end %>
</div>

 <%= render 'comments/commenttwo' %>
<% end %>


<% if @answersmore.present? %>
<% unless @events.blank? and @ordered.blank? %>
  <div class="row"></div>
  <hr class="dividerline"/>
<% end %>

<%= render 'comments/answersmore' %>

<% if @answersmore.count > 0 %>
  <hr style="width: 30%; margin-bottom: 20px;"/>
  <%= link_to "More >", answersmore_path(@post), class: "dividerheadlink" %>
<% end %>

<% end %>


<% if @topquestions.present? %>
<% unless @events.blank? and @answers.blank? %>
  <div class="row"></div>
  <hr class="dividerline"/>
<% end %>

<%= render 'comments/topquestions' %>
<div class="row"></div>
<% if @topquestions.count > 2 %>
<div class="dividerheadlink">
  <%= link_to "More...", topquestions_path(@post), class: "white" %>
</div>
<% end %>

<% end %>


<% if @topquestions.count == 0 %>
<div class="shownoactivity-text" style='margin-top: 35px;'>
  There's no activity here yet...
</div>
<div class="row"></div>
<a href="#myModal" role="button" class="submitblue" style="display: inline-block;" data-toggle="modal">Submit a question</a>
<% elsif @topquestions.count.between?(1, 2)%>
<hr class="line30"/>
 <div class="shownoactivity-text">
   There's not much activity here yet...
  </div>
<div class="row"></div>
<a href="#myModal" role="button" class="submitblue" style="display: inline-block;" data-toggle="modal">Submit a question</a>
<% end %>


<% if @articles.present? %>
<%= render 'posts/articles' %>
<% end %>


<% if @related.present? %>
<%= render 'posts/relatedstories' %>
<% end %>


</div>




<script>
 $(document).ready(function() {
        $('#showmenu').click(function() {
               
                $('.menu').slideDown("fast");
                $('.eventtoptext3').hide();
                
                
        });

   $('.cancelslideup').click(function() {
    $('.menu').slideUp("fast");
    $('.eventtoptext3').show();

     }); 
    }); 



</script>





                       <div id="Picture" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        
  <div class="modal-header">
    <button type="button" class="close2" style="font-size: 30px; color: white !important;" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="underpodiumhomeguidelinesblue">
     <div class="width6"> 
     <div class="modaltextlarge">
    Add Image
  </div>
    <div class="underpodiumhomeguidelines">
    Please make sure you own the rights to the image
</div>
</div>
    </div>
  </div>
  <div class="row"></div>
<div class="width6"> 
  <div class="modal-body" style="padding-top: 0px;">
   <div class="modal-body">
    <%= render :partial => "pictures/form" %>

  </div>
    </div>
 
</div>
</div>
</div>






 

