<div class="visible-phone hidden-tablet hidden-desktop">
<%= render 'posts/showmobile' %>
</div>

<div class="visible-tablet hidden-phone hidden-desktop">
<%= render 'posts/showtablet' %>
</div>

<div class="visible-desktop hidden-phone hidden-tablet">

<div class="span8 centered">
<div class="eventimage">
<%= image_tag @post.image %> 
</div>
</div>


<div class="span7 centered">
<div class='titlecontainershow'>
<%= @post.title %> 
</div>
<div>
</div>

<div class="descriptionmargin">	
<%= @post.description %>
<div class='linkinline'>
<%= link_to (@post.domain), url_for(@post.link) %>
</div>
</div>


<% if @post.country.present? %>
<div class="boldletters3">
<strong><%= @post.country %></strong>
</div>
<% end %>

<div class="boldletters2">
<%= time_ago_in_words(@post.created_at) %> ago
</div>
<div class="posttag">
in
<%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</div>



<% if @post.comments.count < 1 %>
<div class="thirty"></div>

<div class="hrevent"></div>
<div class="center">
<div class="eventmargin2">
There are no interviews yet
</div>
</div>
<% else %>

<div class="thirty"></div>

<div class="hrevent"></div>

<div class="eventtoptext4">	
<%= pluralize(@post.comments.count, 'Interview') %> 
</div>
<% if user_signed_in? %> 
<%= link_to 'Be Interviewed', new_post_comment_path(@post), class: "eventtoptext3" %>
<% else %>
<%= link_to 'Be Interviewed', new_user_registration_path, class: "eventtoptext3" %>
<% end %>
<div class="sixty"></div>



<% end %>

<div class="span7 centered">
<%= render 'comments/comment' %>
</div>

</div>
</div>
























 

