


<% if @post.image.present? %>


<div class='home-feed-image' style="background-image: url(<%= @post.image %>);">



<div class="absolutecontainer" style="top: 15px;">
<div class="relativecontainer">

<%= link_to question_form_post_url(@post), :remote => true do  %>
<div class="bluecircle-small">
<i class="material-icons plus-blue">add</i>
</div>
<% end %>


<% if user_signed_in? %>
<% if current_user.voted_for? @post %>
<div class="topimage-icon-green" id="bookmark-clicked">
  <i class="material-icons icon-on-image">bookmark</i>
</div>
<% else %>
<%= link_to upvote_post_path(@post), remote: true, method: :put do %>
<div class="topimage-icon" id="bookmark-click">
  <i class="material-icons icon-on-image">bookmark</i>
</div>
<% end %>
<div class="topimage-icon-green" id="bookmark-clicked" style="display: none;">
  <i class="material-icons icon-on-image">bookmark</i>
</div>
<% end %>
<% else %>
<div class="topimage-icon" id="login-recommend-add">
  <i class="material-icons icon-on-image">bookmark</i>
</div>
<% end %>


<div class="topimage-icon-share" id="sharestory-icon">
   <i class="material-icons icon-on-image">share</i>
</div>


  </div>
</div>

 <div style="border-top: 0px solid #0882d1;  font-size: 16px; font-weight: 900; background-color: rgba(255,255,255,1); position: absolute; bottom: 0; right: 0; left: 0; text-transform: uppercase; margin-bottom: 3px; display: inline;">
<div class="width7">

<div style="display: inline-block; padding: 13px 0px 11px 0px;">
<%= @post.title %>
</div>

<div style="display: inline; float: right; text-transform: none;">

<div style="display: inline-block; padding: 13px  0px 11px 0px; line-height: 16px;">
  <div class="readmore">
 <%= time_ago_in_words(@post.created_at) %> ago 
</div>
<%= link_to (@post.domain), url_for(@post.link), :target => "_blank", class: "readmore blue" %>


</div>

<% if @post.pictures.present? %>
<div class="linklogoimage-large">
<%= image_tag (@post.pictures.first.image) %>
</div>
<% end %>

</div>

</div>
</div>

</div>

<% end %>






<div class="width7">

<div class="story-title">

</div>



</div>



<div class="width7">

<div class="width5">



<div class="p2" style="font-weight: bold;">
<%= @post.description %>
</div>
<hr class="feed-line"/>



<div class="row"></div>


<% if @comments.present? %>

<div id="products">
<%= render 'comments/post_feed' %>
</div>
<%= will_paginate @comments %>

<% end %>




</div>




<div class="width2">
<div style="margin-top: 8px;"></div>
<%# Images %>
<div class="right-element-container">

<div class="small-dividerhead">
Latest Events
</div>

<% if @events.present? %>
<%= render 'posts/timeline' %>
<% end %>

</div>

<%# Images %>
<% if @media.present? %>
<%= render 'posts/media' %>
<% end %>



<%# Followers %>
<% if @post.cached_votes_total > 0 %>
<%= render 'posts/followers' %>
<% end %>

<%# sources %>
<%= render 'posts/sources' %>


</div>


</div>

<div class="row"></div>


<% if @related.present? %>
<div style="margin-top: 35px"></div>

<%= render 'posts/relatedstories' %>

<% end %>





<div class="row"></div>



<%# modals %>



<div class="modal-custom" id="sharestory-modal" style="display: none;">
<div class="modal-custom-inner-left">
<i class="material-icons close-modal-button" id="close-share-modal">close</i>
<div style=" font-weight: 500; font-size: 18px;">
Share Story
</div>
</div>
</div>



<div class="modal-custom" id="submitpost-modal" style="display: none;">

<div class="modal-custom-inner">

<i class="material-icons close-modal-button-white" id="close-post-modal">close</i>

<div style="font-weight: 500; font-size: 20px;">
Add Post / Ask Question
</div>




<div id="post-guidelines">

<hr/>
<div class="button-text-upper arrow-up-next">OK, Got It</div>
<div class="button-text-upper cancel-upper">Cancel</div>

</div>



<div id="choose-post-type" style="display: none;">



<div id="submitpost">
</div>
</div>
</div>



</div>






<script>

$('.bluecircle-small').click(function () {
  $('#submitpost-modal').show();
 });

$('.arrow-up-next').click(function () {
  $('#choose-post-type').show();
  $('#post-guidelines').hide();
 });

$('#close-post-modal').click(function () {
  $('#submitpost-modal').hide();
  $('#choose-post-type').hide();
  $('#post-guidelines').show();
 });


 $('#sharestory-icon').click(function () {
  $('#sharestory-modal').show();
 });
  
 $('#close-share-modal').click(function () {
  $('#sharestory-modal').hide();
 });


 $(document).ready(function() {
        $('#showmenu').click(function() {
               
                $('.menu').slideDown("fast");
                $('.eventtoptext3').hide();
                
                
        });

   $('.cancelslideup').click(function() {
    $('.menu').slideUp("fast");
    $('.eventtoptext3').show();

     }); 
    }); 


$(document).ready(function() {
        $('#bookmark-click').click(function() {
                $('#bookmark-clicked').show(); 
                 $('#bookmark-click').hide();
        });
    }); 



</script>


 

