<% if @post.pictures.present? %>
<style media="screen">
  .experiment { background-image:  url(<%= @post.pictures.first.image %>);}
  </style>
<% end %>


<div class="experiment">
<div class="darker"></div>


<% if @post.pictures.count > 0 %>
<div class="imagepostedby">
 <div class="imagepostedbytext"> 
  <% if @post.pictures.first.user.present? %>
<i class="fa fa-picture-o"></i> <%= link_to (@post.pictures.first.user.name), user_path(@post.pictures.last.user), class: "white" %>
<% end %>
</div>
</div>
<% else %>
<div class="absolutecontainerprofile">
<div class="relativecontainer">
<i class="fa fa-picture-o" id="picture" style="font-size: 40px; color: white; text-align: center; margin-top: 60px; display: block; cursor: pointer;"></i>
</div>
</div>        
<% end %>

<div class="absoluteheader">
<%= render 'layouts/headerimage' %>

</div>

<%= render 'posts/belowimage' %>

<% if current_user.try(:admin?) %>
<%= link_to edit_post_path(@post) do %>
<i class="fa fa-pencil-square-o"></i>
<% end %>
<% end %>


<div class="absolutecontainer">
<div class="relativecontainer">	
<div class="descriptionmargin-story"> 

<div class="titletextunderneath">
<%= pluralize(@post.comments.count, "Question") %> | <%= pluralize(@post.questions.count, "Answer") %>
</div>


<div class="posttext2">
<%= @post.title %> 
</div>



</div>
</div>
</div>

</div>


<div class="width6">

<div style="margin-bottom: 30px !important;"> 
</div>  
<div class="p3">  
<%= @post.description %>
</div>
<div style="padding-top: 10px "></div>
<div class="row"></div>
<div class="linklogoimage">
<%= image_tag (@post.image) %>
</div>
<%= link_to (@post.domain), url_for(@post.link), :target => "_blank", class: "readmore", style: "color: #333 !important; opacity: 0.5; float: left; line-height: 24px;" %>
<div class="row"></div>
</div>

<hr class="dividerline"/>
<div class="width6">

<% if @events.present? %>
<%= render 'posts/timeline' %>
  <% if @topquestions.count == 0 %>
    <hr class="dividerline"/>
    <div class="dividerhead">
    ACTIVITY
  </div>
  <% end %>
<% end %>



<% if @ordered.present? %>
<div class="row"></div>

<% unless @events.blank? %>
  <hr class="dividerline"/>
<% end %>

<div class="dividerhead">
 <% if current_user.try(:admin?) %>  
  <%= link_to "TOP ANSWERS", ordered_path(@post) %>
 <% else %>
 TOP ANSWERS
 <% end %>
</div>

 <%= render 'comments/commenttwo' %>
<% end %>


<% if @answersmore.present? %>
<% unless @events.blank? and @ordered.blank? %>
  <div class="row"></div>
  <hr class="dividerline"/>
<% end %>

<%= render 'comments/answersmore' %>

<% if @answersmore.count > 3 %>
  <hr style="width: 30%; margin-bottom: 20px;"/>
  <div class="dividerheadlink">
  <%= link_to pluralize(@answersmore.count - 3, "more answer"), answersmore_path(@post), class: "blue" %>
</div>
<% end %>

<% end %>


<% if @topquestions.present? %>
<% unless @events.blank? and @answers.blank? %>
  <div class="row"></div>
  <hr class="dividerline"/>
<% end %>

<%= render 'comments/topquestions' %>
<div class="row"></div>
<% if @topquestions.count > 3 %>
<hr class="questionsline"/>
<div class="dividerheadlink">
  <%= link_to pluralize(@topquestions.count - 3, "more question"), topquestions_path(@post), class: "blue" %>...
</div>
<% end %>

<% end %>

<% if @topquestions.count == 0 %>
<div class="shownoactivity-text" style='margin-top: 35px;'>
  There is no activity here yet.
</div>
<% if user_signed_in? %>
<div class="row"></div>
<div class="submitblue-ask" id="logged-in" style="display: inline-block;">Ask question</div>
<% else %>
<div class="row"></div>
<div class="submitblue-ask" id="login-recommend-add-button" style="display: inline-block;">Ask question</div>
<% end %>
<% end %>



<% if @articles.present? %>
<%= render 'posts/articles' %>
<% end %>


<% if @related.present? %>
<%= render 'posts/relatedstories' %>
<% end %>


</div>


<div class="fullpage-modal-container">  

  <div class="fullpage-modal-picture" id="picture" style="display: none;">
<button type="button" class="close-modal-slide-picture" id="picture" data-dismiss="modal" aria-hidden="true">×</button>
<hr class="modalline-slide" style="margin-top: 0px"/>
    <%= render :partial => "pictures/form" %>
   </div>
 </div>





<script>
 $(document).ready(function() {
        $('#showmenu').click(function() {
               
                $('.menu').slideDown("fast");
                $('.eventtoptext3').hide();
                
                
        });

   $('.cancelslideup').click(function() {
    $('.menu').slideUp("fast");
    $('.eventtoptext3').show();

     }); 
    }); 



$('#login-recommend-add, .close-twitter, #login-recommend-add-button').click(function () {
    if($('.login').is(':visible')){
    $('.login').fadeOut(function () {
        $('.login-recommend-add-div').toggle('slide', {
            direction: 'right'
        }, 300);
    });
    }
    else{
        $('.login-recommend-add-div').toggle('slide', {
            direction: 'right'
        }, 300, function(){ $('.login').fadeIn();});
    }
});


$('#picture, .close-modal-slide-picture, .modaldeclinebutton-picture').click(function () {
        $('.fullpage-modal-picture').toggle('slide', {
            direction: 'right'
        }, 300);
    });

</script>


 

