<script>
 $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu').slideDown("fast");
                $('.eventtoptext3').hide();
                
                
        });

   $('.cancelslideup').click(function() {
    $('.menu').slideUp("fast");
    $('.eventtoptext3').show();

     }); 
    }); 

</script>


<div class="visible-desktop hidden-phone hidden-tablet">

<div class="span11 centered">

<div class="eventimage2top">
<%= image_tag @post.image %>
<div class="darker"></div>

<div class="absolutecontainer">
<div class="relativecontainer">	
<div class="posttext2">
<%= @post.title %> 
</div>
<div class="descriptionmargin">	
<%= @post.description %>
<div class='linkinline'>
<%= link_to (@post.domain), url_for(@post.link), class: "white" %>
</div>
</div>
<div class="boldletters2">
<%= time_ago_in_words(@post.created_at) %> ago
</div>
<div class="bottomtext">
<%= pluralize(@post.comments.count, 'QUESTION').upcase %> 
</div>
</div>
</div>
</div>

</div>

<div class="span6 centered">

<div class="width30">
<div class="questionnavbar52">
<%= link_to "Top Answers", post_path, class: "questionnavbarlink" %>
</div>
</div>
<div class="width30">
<div class="questionnavbar50">	
Top Questions
</div>
</div>
<div class="width30">
<div class="questionnavbar51">	
<%= link_to "New Questions", newquestions_path, class: "questionnavbarlink" %>
</div>
</div>


<div class="row"></div>

<div class="fourty"></div>

<div class="hrevent"></div>

<div class="eventtoptext3b">	
last question added 
</div>


<% if user_signed_in? %> 

<div class="eventtoptext3">
<div id="showmenu">Ask Question</div>
</div>
<div class="menu" style="display: none;">
<%= render :partial => "comments/form" %>
<div class="cancelslideup">
Cancel
</div>
</div>
<% else %>
<%= link_to 'Ask Question', new_user_registration_path, class: "eventtoptext3" %>
<% end %>





<% if @post.comments.count < 1 %>

<div class="center">
<div class="eventmargin2">
There are no questions yet
</div>
</div>
<% end %>


<div class="sixty"></div>

<%= render 'comments/commenttop' %>



</div>
</div>






















 

