<div class="visible-desktop hidden-phone hidden-tablet">

<div class="row">
<div class="span8 offset2">
<div class='titlecontainershow'>
<%= @post.title %> 
</div>
<hr7/>
</div>
</div>

<div class="container">
<div class="row">
<div class="span5 offset2">
<div class="descriptionmargin">	
<p>
<strong><%= @post.country %></strong> - 
<%= @post.description %>
<p/>
</div>
</div>
<div class="span2 offset1">
<div class="floatright">
<%= time_ago_in_words(@post.created_at) %> ago
</div>
<div class="namemargin2">
<div class="floatright">
<% if user_signed_in? %> 
<%= link_to 'Post', new_post_comment_path(@post), class: "favouritebutton" %>
<% else %>
<%= link_to 'Post', new_user_registration_path, class: "favouritebutton" %>
<% end %>
</div>	
</div>

</div>
</div>
</div>
</div>
<div class="aboveimage"></div>

<div class="row">
<div class="span8 offset2">

<div class="eventimage">
 <%= image_tag @post.image %> 
</div>
<div class="span7 centered">

<%= render 'comments/comment' %>

</div>

</div>















<div class="visible-phone hidden-tablet hidden-desktop">
<%= render 'posts/showmobile' %>
</div>

<div class="visible-tablet hidden-phone hidden-desktop">
<%= render 'posts/showtablet' %>
</div>




















 

