<div class='sixty'></div>
    <div class="footer">


           <div class="footertext">
<%= link_to "About", about_path %>
</div>
<div class="footertext">
<%= link_to "Contact", contact_path %>
</div>  

<div class="footertext">
<%= link_to "Terms", tos_path %>
</div>  

<div class="footertext">
<%= link_to "Guidelines", guidelines_path %>
</div> 

<div class="pull-right">
 <div class="footertext">
<a href="http://twitter.com/readpodium">Twitter</a>  
</div>     
<div class="footertext" style="margin-right: 15px;">
<%= link_to "Facebook", about_path %>
</div>
</div>

</div>


