<div class="mobile-nav-top">
<div class='width7'>

<i class="material-icons menu" id="menu">menu</i>
<i class="material-icons menu-search">search</i>

</div>
</div>


<div class="topbar-nav">

<%= link_to search_path do %>
<i class="material-icons icon-nav-search" style="font-size: 26px; line-height: 50px; margin-top: -1px;">search</i>
<% end %>


<div class="top-nav-text">
<%= link_to "Learn More", about_path, class: "white" %>
</div>




</div>



<div class="sidebar-nav">



<div style="padding-top: 35px;"></div>
<div style='padding: 0px 20px 0px 20px; overflow-y: scroll;'>

<div style="color: rgba(255,255,255,0.75); text-transform: uppercase; font-size: 12px; margin-bottom: 10px;">
Topics
</div>

<div class="row"></div>

<%= link_to 'Top Stories', root_path, class: "margin-c" %>
<a href="/tags/world" class="margin-c"  >World</a>
<a href="/tags/united-states" class="margin-c"  >U.S.</a>
<a href="/tags/politics" class="margin-c"  >Politics</a>
<a href="/tags/business" class="margin-c"  >Business</a>
<a href="/tags/technology" class="margin-c" >Technology</a>
<a href="/tags/science" class="margin-c"  >Science</a>

<div class="row"></div>





</div>



<div style='position: fixed; width: 200px; bottom: 20px; background-color: #288bff;'>

<div style='padding: 0px 20px 0px 20px;'>


<% if user_signed_in? %>
                      
                      

<%= link_to following_path do %>
<div style="color: #fff; font-size: 16px; display: inline-block; ">
Following
</div>
<% end %>


<hr style="border-top: 1px solid rgba(255,255,255,0.3); margin-top: 15px; margin-bottom: 15px;"/>



    
<%= link_to notifications_path(current_user) do %>     
<div style="color: #fff; font-size: 16px; display: inline-block; ">
Notifications
</div>

<div style="float: right; display: inline-block; background-color: #fff; height: 20px; width: 20px; border-radius: 10px; text-align: center; font-size: 14px; line-height: 18px; font-weight: 700; color: #288bff;"><%= notificationcount %></div>


<% end %>


<hr style="border-top: 1px solid rgba(255,255,255,0.3); margin-top: 15px; margin-bottom: 15px;"/>

<%= link_to user_path(current_user) do %>

<%= link_to (image_tag(current_user.image(:thumb))), user_path(current_user), class: "smallavatar2" %>

<div style="line-height: 44px; color: #fff; font-size: 16px; overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;">
<%= current_user.name %>
</div>

<% end %>

<% else %>


<div class="nav-signup-explain">
Share the world's stories on Podium.
</div>

<%= link_to user_omniauth_authorize_path(:twitter) do %>
<div class="sign-in-button-large">
<i class="fa fa-twitter" style="color: #288bff; font-size: 18px; display: inline-block; margin-right: 4px; margin-bottom: 0px;"></i> Sign in with Twitter
</div>
<% end %>



<% end %>

</div>

</div>
</div>





  

<div class="modal-custom" id="signin" style="display: none;">
<i class="material-icons close-modal-button" id="close-signin-modal">close</i>
<div class="modal-custom-inner-left">
<div style="font-size: 24px; text-align: center; font-weight: 700; margin-left: 20px;">
Sign In
</div>
<div style=" font-weight: 500; font-size: 16px; text-align: center; opacity: 0.5; line-height: 1.4; width: 75%; display: block; margin: 0 auto; margin-top: 10px">
With the world’s best sources organized into thousands of topics, it’s a single.
</div>
</div>


<div class="modal-custom-inner" style="background: #333;">

<%= link_to user_omniauth_authorize_path(:twitter) do %> 
<div class="twitterlogin">
<i class="fa fa-twitter" style="color: #fff; font-size: 20px; display: inline-block; margin: 0px 5px 0px 0px;"></i> Sign in with Twitter
</div>
<% end %>

<div class="infopage-infotext" style="color: rgba(255,255,255,0.5); width: 50%; margin-top: 20px; font-size: 11px; margin: 0 auto;">
  By clicking 'Sign up with Twitter' you agree to Podium's <%= link_to "terms and conditions", tos_path, style: "color: rgba(255,255,255,0.5) !important; text-decoration: underline !important;" %>.

</div>


</div>

</div>


<script>

$('#login-recommend-add').click(function () {
  $('#signin').show();
 });

 
$('#close-signin-modal').click(function () {
  $('#signin').hide();
 });
 
 $('#menu').click(function () {
        $('.sidebar-nav').toggle('slide', {
            direction: 'left'
        }, 300);
    });


 </script>

