<div class="visible-desktop visible-tablet hidden-phone">
<div class="span11 centered">
<div class="navbar transparent navbar-inverse ">
   <nav class="navbar-inner">
     
             
         <ul class="nav pull-left">
              <li><%= link_to ("Podium."), root_path, class: "logoimage"  %></li>
          </ul>    
              
            
        
       
           
        
           <ul class="nav pull-right">
                      
                    <% if user_signed_in? %>
                        
                        
                        
                       
                       
                       <li><%= link_to (current_user.name), user_path(current_user), class: "headtext" %></li>
                    
                     <% else %>
                     <li><%= link_to "Login", new_user_session_path, class: "headtext" %></li>
                     <li><%= link_to "Sign Up", new_user_registration_path, class: "headtext2" %></li>
        
                      <% end %>

            </ul>


            </nav>   
        </div>
  </div>

 </div>



<div class="hidden-desktop visible-phone hidden-tablet">
<div class="mobilenavbarmargin">   
   <div class="row">


              <%= link_to ("PODIUM"), root_path, class: "logoimage"  %>
              

<div class="mobilenavbar">
 <% if user_signed_in? %>
                        
                        
                        
                       
                       
                       <%= link_to (current_user.name), user_path(current_user), class: "headtext2" %>
                     
                     <% else %>
                     <%= link_to "Sign Up", new_user_registration_path, class: "headtext" %>
                    <%= link_to "Login", new_user_session_path, class: "headtext2" %>
                      <% end %>

   </div>         
 </div>
</div>
</div>