<div class="mobile-nav-top">
<div class='width7'>

<i class="material-icons" style="font-size: 24px; margin-right: 35px;">trending_up</i>
<i class="material-icons" style="font-size: 24px; opacity: 0.5;">star_border</i>

</div>
</div>

<div class="topbar-yellow"></div>
<div class="topbar-nav">










</div>



<div class="sidebar-nav">

<div style="background-color: #fff; border-bottom: 1px solid rgba(51,51,51,0.1); height: 56px;">

</div>

<div class="sidebar-nav-inner">
<div style="padding-top: 35px;"></div>


<i class="material-icons sidebar-icon-type">trending_up</i>
<div class="sidebar-nav-head">
Categories
</div>


<div class="row"></div>


<% if @category_header %>
<%= render 'posts/categories' %>
<% else %>
<%= link_to 'Top Stories', root_path, class: "margin-c" %>
<a href="/tags/world" class="margin-c"  >World</a>
<a href="/tags/united-states" class="margin-c"  >U.S.</a>
<a href="/tags/politics" class="margin-c"  >Politics</a>
<a href="/tags/business" class="margin-c"  >Business</a>
<a href="/tags/technology" class="margin-c" >Technology</a>
<a href="/tags/science" class="margin-c"  >Science</a>
<% end %>

<div class="row"></div>

<hr style="margin-top: 20px; margin-bottom: 20px;"/>

<% unless @top_stories_none %>
<i class="material-icons sidebar-icon-type">trending_up</i>
<div class="sidebar-nav-head">
Trending Stories
</div>
<% end %>

<div class="row"></div>

<%= link_to search_path do %>
<i class="material-icons sidebar-icon-type">search</i>
<div class="sidebar-nav-head">
Search
</div>
<% end %> 



<div style="position: absolute; bottom: 20px;">
<% if user_signed_in? %>


<%= link_to notifications_path(current_user) do %> 
<div class="sidebar-nav-head">
Activity
</div>
<% end %>

<%= link_to following_path do %>
<div class="sidebar-nav-head">
Following
</div>
<% end %>

<div class="row"></div>

<%= link_to (image_tag(current_user.image(:thumb))), user_path(current_user), class: "signedin-profile" %>



<% else %>


<div class="logged_out_button" id="signin-click">
Sign In 
</div>



<% end %>

</div>





</div>
</div>

<div class="modal-custom modal-custom-full" id="signin-modal" style="display: none;">
<i class="material-icons close-modal-button" id="close-signin-modal">close</i>
<%= render 'layouts/sign_in' %>
</div>

<script>

  $('#signin-click').click(function () {
  $('#signin-modal').show();
 });
 $('#close-signin-modal').click(function () {
  $('#signin-modal').hide();
 });


 </script>








