
<div class="navbar transparent navbar-inverse ">
   <nav class="navbar-inner">
     
             
         <div class="nav pull-left">
             <%= link_to ("Podium."), root_path, class: "brand"  %>

          </div>    
              
    
           
        
           <div class="nav pull-right">
                      
                    <% if user_signed_in? %>
                      
                      <% if notificationcount > 0 %>
                      <%= link_to notifications_path(current_user) do %>     
                       <i class="fa fa-bell-o" style="color: #018BC6 !important;"></i>  
                       <% end %>
                       <% else %>
                        <%= link_to notifications_path(current_user) do %>     
                        <i class="fa fa-bell-o" ></i>  
                        <% end %>
                        <% end %> 

                        
                        

                     
                       
                       
                       
                       <li><%= link_to (image_tag(current_user.image)), user_path(current_user), class: "smallavatar2", style: "margin-right: 0px !important; margin-left: 0px !important; float: right !important; margin-top: 0px !important; padding-right: 0px !important;" %></li>
                     
                   
                       

                    
                     <% else %>
                    
                     
                  
                      
                      
                      <li><a href="#Login" role="button" data-toggle="modal" style="padding-right: 0px !important; opacity: 0.75;">Login</a></li>

                      <li><a href="#SignUp" role="button" data-toggle="modal" style="padding-right: 0px !important; opacity: 0.75; margin-right: 15px; font-weight: 700;">Sign Up</a></li>
                     
                      <% end %>

                      

            </div>



            </nav>   
        </div>
  




                      <div id="Login" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Podium.</h3>
    <div class="underpodiumhome">
    Login 
    </div>
  </div>

  <div class="modal-body">
    <%= render :partial => "devise/sessions/new" %>
  </div>
</div>



                      <div id="SignUp" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Podium.</h3>
    <div class="underpodiumhome">
    Sign Up
    </div>
  </div>

  <div class="modal-body">
    <%= render :partial => "devise/registrations/new" %>
  </div>
</div>


