<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="//use.typekit.net/sjc1uyo.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Podium</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render 'layouts/header' %>
<div class="span4 centered">
<% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
      <button class="close" data-dismiss="alert">×</button>
    <% end %>
  </div>
  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
    
</div>


</body>
</html>
