<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" type="image/x-icon" href="http://i.imgur.com/EtuFcrg.png">  
<script type="text/javascript" src="//use.typekit.net/sjc1uyo.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>

<meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Podium</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">
<%= render 'layouts/header' unless @skip_footer %>
<% flash.each do |name, msg| %>
<div class="span3 centered">
      <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%= content_tag(:div, msg) %>
    </div>
 </div> 
    <% end %>


    <%= yield %>

</div>
    <%= render 'layouts/footer' unless @skip_footer %>



</body>
</html>
