


<% if activity.trackable %>

<div class="experimentname">
<%= link_to activity.owner.name, activity.owner if activity.owner %>	
answered your question...
</div>

<div class="row"></div>


<div class="titlecontainer30b">
<%= activity.trackable.comment.title %>
</div>

<% if activity.owner.image? %>
<div class="experimentimagenomargin">
<%= link_to (image_tag(activity.owner.image)), user_path(activity.owner) %>
</div>
<% else %>
<div class="experimentimagenomargin">
<%= link_to (image_tag("http://i.imgur.com/MTQl4Q0.png")), user_path(activity.owner) %>
</div>
<% end %>

<div class="experimentname">
<strong><%= link_to (activity.owner.name), user_path(activity.owner) %></strong> 
<% if activity.trackable.title.present? %>
 | <%= truncate(activity.trackable.title, :separator => ' ', length: 55) %>
<% end %>
</div>	

<div class="row"></div>


<div class="row"></div>

<div class="p2">	
 
    <%= truncate(activity.trackable.body, :separator => ' ', length: 250) %>
    <%= link_to ("Read More"), post_comment_path(activity.trackable.comment.post, activity.trackable.comment) + "#question_#{activity.trackable.id.to_s}", class: "readmore"  %>

</div>
<hr/>

<% else %>


<% end %>


