


<% if activity.trackable %>

<% if activity.read == true %>

<div class="timeline-dot" style="background-color: rgba(51,51,51,0.1);">
</div>

<div class="timeline-content" style="width: 100%; border-left: 2px solid rgba(51,51,51,0.1);">

<% else %>

<div class="timeline-dot">
</div>

<div class="timeline-content" style="width: 100%;">


<% end %>



<div style="width: 70%">
<div class="timeline-date" style="font-size: 11px; margin-bottom: 4px;">
<%= time_ago_in_words(activity.trackable.created_at) %> ago
</div>	
<div class="notification-smalltext">
<%= link_to (activity.owner.name), user_path(activity.owner), class: "notification-smalltextlink"  %>
answered your question <%= link_to (activity.trackable.comment.title), comment_question_path(activity.trackable.comment, activity.trackable), class: "notification-smalltextlink" %>	
</div>
</div>


<div class="notification-content">

<div class="small-image">
<%= sanitize(activity.trackable.body.gsub(/<p>.<\/p>/,"").truncate(200, separator: ' ')) %>
</div>

<div class="row" style="margin-top: -7px;"></div>

<div class="answer-feed-avatar">
<%= link_to (image_tag(activity.trackable.user.image(:thumb))), user_path(activity.trackable.user), class: "blue" %>
</div>

<div style="font-size: 1em; line-height: 34px;">
<%= link_to (activity.trackable.user.name), user_path(activity.trackable.user), class: "blue" %>
<div style="display: inline; color: rgba(51,51,51,0.4);">
<%= link_to ("• Continue reading"), comment_question_path(activity.trackable.comment, activity.trackable) + "#question_#{activity.trackable.id.to_s}", style: "color: rgba(51,51,51,0.5) !important;" %>	
 <i class="fa fa-long-arrow-right"></i>
</div>
</div>

</div>

</div>
<% else %>


<% end %>


